{% extends "base.html" %}
{% block style_block %}

{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-4">
      <h1 id="">Name: {{ name }}</h1>
      <h6 id="id_num">{{ id_num }}</h6>
    </div>
        <div class="col-md-8">
      <a class="btn btn-primary" onclick="save_table()">
      <i class="icon-plus-sign icon-white"></i>
       Save
      </a>
    </div>
  </div>
</div>

<div class="form-group">
	<div class="input-group mb-3">
		<div class="input-group-prepend">
			<label class="input-group-text" for="listSelect">This data type occurs multiple times?</label>
		</div>
		<select class="custom-select" id="listSelect">
			{% if isList %}
			  <option value='true' selected>true</option>
		      <option value='false'>false</option>
		    {% else %}
		      <option value='true'>true</option>
		      <option value='false' selected>false</option>
		    {% endif %}
		</select>
	</div>
	<div class="input-group mb-3">
	   <div class="input-group-prepend">
	       <label class="input-group-text" for="extendSelect">This Extends Group:</label>
	   </div>
	   <select class="custom-select" id="extendSelect">
	   </select>
	</div>
</div>
<div id='schema' class='cust_hide'>{{ schema }}</div>
<div id='top_cust'></div>
<div id='schema_div'>
</div>
{% endblock content %}

{% block footer %}

{% endblock footer %}

{% block tail_script %}
    <script>

        const model_name = "{{ name }}";
        const parent_id = "{{ id_num }}";
        const dst_extends = "{{ ext }}";
        // STILL TODO
        //  add function to intercept all data and submit entire table and isList value along with name
        //  MOVE FUNCTIONALITY TO clz_def !!!

        var tableId = model_name+'-table';

        $.getJSON("/admin_containers?json=true", drop_down_setup).fail(function (resp){
		       console.log("failed");
		       console.log(resp);
	        });

        var schema = JSON.parse($('#schema').text().trim());
        pageSc = create_container(schema);
        $('#schema_div').append('<table class="table table-striped table-bordered" id="'+tableId+'"></table>')

        var resp = pageSc.create_dt_tables(tableId);
        var table = resp.dt_table;
        var editor = resp.dt_editor;
        var dtc = new DataTableCreator([],pageSc);

        dtc.set_dt_objects(table,editor);

        table.buttons().container()
            .appendTo( $('.col-md-6:eq(0)', table.table().container() ) );

        editor.on("open",function() {$('button.close').css('z-index',50);});

        var save_success = function(data){
    	     console.log(data);
    	     set_message("Save Successful!!");
        }

        var save_table = function(){
    	    var repeats = $('#listSelect').find(':selected').val();
    	    var tblExt = $('#extendSelect').find(':selected').val();
          pageSc.save_table_vals(repeats,tblExt,save_success);
        }

       function  drop_down_setup(resp){
         var selected = "";
         if (dst_extends.toLowerCase().trim() === "none"){
           selected = "selected";
         }
         $('#extendSelect').append('<option value="None" '+selected+'>None</option>');
         selected = "";
       for (var i=0;i<resp.length;i++){
         var val = resp[i].name;
         var valLower = val.toLowerCase().trim();
         if (model_name.toLowerCase().trim() !== valLower){
           if (dst_extends.toLowerCase().trim() === valLower){
             selected = "selected";
           }
           $('#extendSelect').append('<option value="'+val+'" '+selected+'>'+val+'</option>');
         }
         selected = "";
       }
      }


	</script>
{% endblock tail_script %}
