{% extends "base.html" %}
{% block style_block %}

{% endblock %}

{% block content %}
<h2>Admin Home Page</h2>
<p> Select where you want to go today</p>
<div class="card-group">
  <div class="card">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 200 80">
      <g>
          <rect width="100%" height="100%" class="card-rect-svg" />
          <text width="100%" height="100%" x="25%" y="50%"	 fill="white" class="card-rect-text">Field Updates</text>
      </g>
    </svg>
    <div class="card-body">
      <p class="card-text">Update the fields information</p>
      <ul>
      <li>Change the type of field</li>
      <li>Add a field or remove a field</li>
      <li>Make a field required.. etc..</li>
      <li>Add new groups, like Locations, Customers, Address, etc...</li>
      </ul>
      </div>
    <div class="card-footer">
      <a href="{{ url_for('admin_fields') }}" class="btn btn-primary">Update Fields</a>
    </div>
  </div>
    <div class="card">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 200 80">
      <g>
          <rect width="100%" height="100%" class="card-rect-svg" />
          <text width="100%" height="100%" x="25%" y="50%"	 fill="white" class="card-rect-text">Update Options</text>
      </g>
    </svg>
    <div class="card-body">
      <h5 class="card-title">Update the fields that are available by drop downs.</h5>
      <p class="card-text">This means that when editing a field, the options available for selection</p>
      </div>
    <div class="card-footer">
      <a href="/admin/options?first=true" class="btn btn-primary">Update Options</a>
    </div>
  </div>
  <div class="card">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 200 80">
      <g>
          <rect width="100%" height="100%" class="card-rect-svg" />
          <text width="100%" height="100%" x="25%" y="50%"	 fill="white" class="card-rect-text">Update Emails</text>
      </g>
    </svg>
    <div class="card-body">
      <h5 class="card-title">Update/Add emails address for orders submitted</h5>
      <p class="card-text">This determines who gets an email when an order is processed</p>
      </div>
    <div class="card-footer">
      <a href="/admin/invoice_email?first=true" class="btn btn-primary">Email Addresses</a>
    </div>
  </div>
</div>
</p>
<div class="card-group">
  <div class="card">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 200 80">
      <g>
          <rect width="100%" height="100%" class="card-rect-svg" />
          <text width="100%" height="100%" x="10%" y="50%"	 fill="white" class="card-rect-text">Update Master Items</text>
      </g>
    </svg>
    <div class="card-body">
      <h5 class="card-title">Update, Add, Remove Items from the Master List</h5>
      <p class="card-text">Update Items and then publish changes to existing customer items</p>
      </div>
    <div class="card-footer">
      <a href="master_items/" class="btn btn-primary">Update Items</a>
    </div>
  </div>
  <div class="card">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 200 80">
      <g>
          <rect width="100%" height="100%" class="card-rect-svg" />
          <text width="100%" height="100%" x="10%" y="50%"	 fill="white" class="card-rect-text">Update Item Push</text>
      </g>
    </svg>
    <div class="card-body">
      <h5 class="card-title">Push Updates from Items</h5>
      <p class="card-text">Take updated information in the items and push that new information out to customers who have that item</p>
      </div>
    <div class="card-footer">
      <a href="{{ url_for('admin_item_push') }}" class="btn btn-primary">Item Push</a>
    </div>
  </div>
  <div class="card">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 200 80">
      <g>
          <rect width="100%" height="100%" class="card-rect-svg" />
          <text width="100%" height="100%" x="25%" y="50%"	 fill="white" class="card-rect-text">Recipe Cost Updates</text>
      </g>
    </svg>
    <div class="card-body">
      <h5 class="card-title">View/Add/Update the Recipe Items</h5>
      <p class="card-text">View all of the recipe items and decide to add/change or delete recipe items</p>
      </div>
    <div class="card-footer">
      <a href="{{ url_for('admin_recipe') }}" class="btn btn-primary">Update Recipes</a>
    </div>
{% endblock content %}

{% block footer %}
    
{% endblock footer %}

{% block tail_script %}
    <script>
	</script>
{% endblock tail_script %}