{% extends "base.html" %}
{% block style_block %}
<style>
.switch_lable{
    position: relative;
    bottom: -5px;
    margin-left: 50px;
}

.switch {
  position: relative;
    display: inline-block;
    width: 90px;
    height: 34px;
    margin-left: 10px;
}

label {margin-bottom: -1rem;}

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ca2222;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2ab934;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(55px);
  -ms-transform: translateX(55px);
  transform: translateX(55px);
}

.on
{
  display: none;
}

.on, .off
{
  color: white;
  position: absolute;
  transform: translate(-50%,-50%);
  top: 50%;
  left: 50%;
  font-size: 10px;
  font-family: Verdana, sans-serif;
}

input:checked+ .slider .on
{display: block;}

input:checked + .slider .off
{display: none;}


/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;}
</style>
{% endblock %}

{% block content %}
<h1 id="">Data Types</h1>
<div id='containers' class='cust_hide'>{{ containers }}</div>
<div id='reporting' class='cust_hide'>{{ rptNames }}</div>
<div id='top_cust'></div>
<div id='newButtonArea'>
  <p>
  <a class="btn btn-primary" onclick="show_new()">
    <i class="icon-plus-sign icon-white"></i>
    New Data Type
  </a>
  </p>
</div>
<div id="table_container">
<p>
<table class="table table-bordered table-striped" id="container_table">
    </table>
    </p>
</div>
<div id="new_container_modal" class="modal fade">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">New Data Type</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>The new data type name must be unique</p>
      </div>
      <div class="modal-footer">
        <form action="javascript:void(0);" onsubmit="submitNewName()">
          <div class="form-group">
            <label for="containerInput">Data Type Name</label>
            <input type="text" class="form-control" id="containerInput" placeholder="Type Name">
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock content %}

{% block footer %}

{% endblock footer %}

{% block tail_script %}
    <script>
        var containers = JSON.parse($('#containers').text().trim());
        var storeNames = JSON.parse($('#reporting').text().trim());

        var table = $('#container_table').DataTable( {
            "data" : containers,
            "paging": false,
            "columnDefs": [ {
                "targets": -1,
                "data": null,
                "defaultContent": '<button class="btn btn-primary">Update</button><label class="switch_lable">Reporting: </label><label class="switch"><input type="checkbox" id="toggleField" checked><div class="slider round"><span class="on">ON</span><span class="off">OFF</span></div></label>'
            } ],
            "columns" : [
                { "data" : "id", "title": "Identifier"},
                { "data" : "name", "title": "Data Name" },
                { "data" : null, "title": "-- Action --"}
            ]
        });

        $('#container_table tbody').on( 'click', 'button', function () {
        	var data = table.row( $(this).parents('tr') ).data();
        	var url = '/admin_container/'+data.name+'/update';
		    console.log("going to... "+url);
		    window.location = url;
        } );

        var submitNewName = function(){
        	var newName = $('#containerInput').val();
        	var url = '/admin_container/'+newName+'/update'
        	$('#new_container_modal').modal('hide');
        	window.location = url;
        }

        function show_new() {
            $('#new_container_modal').modal('show');
        }

        function getDST_Name(tdElement){
        	var parRow = $(tdElement).closest('tr');
        	var cells = $(parRow[0]).find('td');
        	var storeName = $(cells[1]).text();
        	return storeName
        }

        $(':checkbox').change(function() {
        	var storeName = getDST_Name(this);
            update_reporting(storeName,$(this).is(':checked'));
        });

        function update_reporting(storeName,status){
        	var sendUpdate = false;
        	if (get_or_default(storeNames,storeName,'off') === 'on'){
        		if (!status){
        			sendUpdate = true;
        		}
        	} else {
        		if (status){
        			sendUpdate = true;
        		}
        	}
        	if (sendUpdate){
        		var url = '/update_report_status?storage_name='+storeName+'&status='+status;
            	$.get(url, function( data ) {
            		  console.log("Status Update for "+storeName);
            		  console.log(data);
                  storeNames[storeName] = get_or_default(data,'value','off');
            		});
        	}
        }

        var dtData = null;
        function getDtData(){
        	if (dtData === null){
        		dtData = $('#container_table').DataTable().data();
        	}
        	return dtData;
        }

        $.each($(':checkbox'),function(index, value){
        	var storeName = getDST_Name(value);
        	if (get_or_default(storeNames,storeName,'off') === 'off'){
        		$(value).prop('checked',false);
        	}
        });

	</script>
{% endblock tail_script %}
