<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" />
    <title>{% block title%}Item Tracking - Color Orchids{% endblock %}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.16/css/dataTables.bootstrap4.min.css"/>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/1.5.1/css/buttons.bootstrap4.min.css"/>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/keytable/2.3.2/css/keyTable.bootstrap4.min.css"/>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/select/1.2.5/css/select.bootstrap4.min.css"/>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/responsive/2.2.1/css/responsive.dataTables.min.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/editor.bootstrap4.css">

    <link href="/static/css/jquery.notifyBar.css" rel="stylesheet" />
    <link href="/static/css/editor.dataTables.min.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
    <!-- <link href="/static/css/bootstrap-combobox.css" /> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.0-alpha14/css/tempusdominus-bootstrap-4.min.css" />
    <link href="/static/css/main.css?version=1.0004" rel="stylesheet" />

    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js"></script>
    

    <link rel="shortcut icon" href="/static/img/favicon.ico" />
    {% block style_block %}{# page-specific CSS #}{% endblock %}
    {% block head_script %}{# defer-incapable JS block #}{% endblock %}
</head>
<body>


        {% include 'includes/nav.html' %} {# pull in navbar #}
    <div class="container" id="maincontent">

        {% include 'includes/flash_message.html' %} {# page-level feedback notices #}
        <div id="body_content">
            {% block content %}{# main content area #}{% endblock %}
        </div>
    </div><!-- /container -->
    <footer>
        <div id="footer" class="container">
            {% block footer %}{% endblock %}
        </div><!-- /footer -->
    </footer>

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="/static/js/d3.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap4.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.5.1/js/dataTables.buttons.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.5.1/js/buttons.bootstrap4.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.2.0/jszip.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.54/pdfmake.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.5.6/js/buttons.html5.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/keytable/2.3.2/js/dataTables.keyTable.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/select/1.2.5/js/dataTables.select.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/responsive/2.2.1/js/dataTables.responsive.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.21.0/moment.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.0-alpha14/js/tempusdominus-bootstrap-4.min.js"></script>
    <script src="/static/js/jquery-ui.min.js"></script>
    <script src="/static/js/jquery.notifyBar.js"></script>
    <script src="/static/js/dataTables.editor.min.js"></script>
    <script src="/static/js/editor.bootstrap4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
    <script src="/static/js/editor.select2.js"></script>
    <!--  <script src="/static/js/bootstrap-combobox.js"></script> -->
    <script src="/static/js/main.js?version=6.00"></script>
    <script src="/static/js/clz_def.js?version=6.01"></script>
    <script src="/static/js/cust_trk.js?version=6.00"></script>
    <script src="/static/js/custom_mods.js?version=6.02"></script>
    <script src="/static/js/jmespath.js"></script>
    <script>
            var dtf = new Intl.DateTimeFormat('en', { year: 'numeric', month: '2-digit', day: '2-digit' });

            function get_date_fmt(inDate) {
                if (isNull(inDate)){
                    inDate = new Date()
                }
                var [{ value: mo }, , { value: da }, , { value: ye }] = dtf.formatToParts(inDate);
                return `${ye}-${mo}-${da}`;
            }

            const co_site = {
                endpoints: {
                            item_app: "{{ config.ITEM_APP }}",
                            base_app: "{{ config.BASE_APP }}",
                            inv_app: "{{ config.INV_APP }}",
                            itemview_app: "{{ config.ITEMVIEW_APP }}"
                        }
            };

            $(document).ready(function () {
                //var aPlnt = $('#PLNT_PROD_VIEW');
                //aPlnt.attr('href', aPlnt.attr('href').replace('{}', get_date_fmt()));
            });

            window.onerror = function(msg, url, line, col, error) {
                // Note that col & error are new to the HTML 5 spec and may not be 
                // supported in every browser.  It worked for me in Chrome.
                var extra = !col ? '' : '\ncolumn: ' + col;
                extra += !error ? '' : '\nerror: ' + error;

                // You can view the information in an alert to see things working like this:
                var errorInfo = {error: msg, url: url, line: line, extra: extra};

                __handle_javascript_error(errorInfo);

                var suppressErrorAlert = true;
                // If you return true, then error alerts (like in older versions of 
                // Internet Explorer) will be suppressed.
                return suppressErrorAlert;
           };
      </script>
    {% block tail_script %}{# defer-capable JS block #}{% endblock %}
    {{ profiler_includes|safe }}
    <script>
    FontAwesomeConfig = { autoReplaceSvg: 'nest' };
    </script>
</body>
</html>
