{% extends "base.html" %}
{% block style_block %}

{% endblock %}

{% block content %}
<h1 id="">Customers</h1>
<div id='cust_schema' class='cust_hide'>{{ cust_fields }}</div>
<div id='top_cust'></div>
<table class="table table-bordered table-striped" id="customer-table">
        <thead>
            <tr>
            	<th>&nbsp;</th>
                <th id="hdr_Customer Name">Customer Name</th>
                <th>&nbsp;</th>
            </tr>
        </thead>
    </table>

{% endblock content %}

{% block footer %}
    
{% endblock footer %}

{% block tail_script %}
    <script>
        var is = item_storage_loadstr($('#cust_schema').text().trim());
        var tables = {};
        var options = {url: "../storage_blob/dt_update", levels: 0, button_col:"end", add_model_name:true,buttons:['view']};
		if (is != null){
			var t = create_editor_tables_is(is, options);
			tables[t['table_name']] = t;
			
			$('#'+t.id+' tbody').on('click','.btn_view',function()	{
			    var data = tables[t.table_name].table.row($(this).parents('tr')).data();
			    var id = data['DT_RowId'];
			    var url = '/customer/'+id+'/show';
			    console.log("going to... "+url);
			    window.location = url; 
			  });
		}
	</script>
{% endblock tail_script %}