<div id="edit_modal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <div class="modal-header">
      <span class="close">&times;</span>
      <h2 id='note_title'>Note Title</h2>
      <h3 id='note_id_storage' style="display: none">
      space for note id
      </h3>
    </div>
    <div class="modal-body" id="edit_modal_body">
    
    </div>
    <div class="input-group modal-footer">
     
    </div>
  </div>