{% extends "base.html" %}
{% block style_block %}

{% endblock %}

{% block content %}
<h2>Home Page</h2>
<p> Select where you want to go today</p>
<div class="card-group">
  <div class="card">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 200 80">
      <g>
        <rect width="100%" height="100%" class="card-rect-svg" />
        <text width="100%" height="100%" x="25%" y="50%" fill="white" class="card-rect-text">Customer Items</text>
      </g>
    </svg>
    <div class="card-body">
      <h5 class="card-title">View and Update Customer Items, Or add new Items</h5>
      <p>This is where you can lookup an existing item, or add a new item</p>
    </div>
    <div class="card-footer">
      <a href="{{ url_for('cust_items') }}" class="btn btn-primary">Customer Items</a>
    </div>
  </div>
  <div class="card">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 200 80">
      <g>
        <rect width="100%" height="100%" class="card-rect-svg" />
        <text width="100%" height="100%" x="25%" y="50%" fill="white" class="card-rect-text">Item Reserves</text>
      </g>
    </svg>
    <div class="card-body">
      <h5 class="card-title">View,Create and Update Reserves</h5>
      <p>Want to view reserves, create new ones or update existing... do it here!</p>
    </div>
    <div class="card-footer">
      <a href="{{ url_for('reserves') }}" class="btn btn-primary">Item Reserves</a>
    </div>
  </div>
  <div class="card">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 200 80">
      <g>
        <rect width="100%" height="100%" class="card-rect-svg" />
        <text width="100%" height="100%" x="25%" y="50%" fill="white" class="card-rect-text">View Customers</text>
      </g>
    </svg>
    <div class="card-body">
      <h5 class="card-title">View/Update Customers (add new)</h5>
      <p class="card-text">Do the following:</p>
      <ul>
        <li>Add Locations</li>
        <li>Update Address Information</li>
        <li>Add an Item</li>
      </ul>
    </div>
    <div class="card-footer">
      <a href="/page/customer?first=true" class="btn btn-primary">View Customers</a>
    </div>
  </div>
  <div class="card">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 200 80">
      <g>
        <rect width="100%" height="100%" class="card-rect-svg" />
        <text width="100%" height="100%" x="25%" y="50%" fill="white" class="card-rect-text">Customer Orders</text>
      </g>
    </svg>
    <div class="card-body">
      <h5 class="card-title">View and Update Customer Orders, Or add new Orders</h5>
      <p>This is where you can lookup an existing order, or add a new order</p>
    </div>
    <div class="card-footer">
      <a href="{{ url_for('cust_orders') }}" class="btn btn-primary">Customer Orders</a>
    </div>
  </div>
</div>
{% endblock content %}

{% block footer %}

{% endblock footer %}

{% block tail_script %}
<script>
</script>
{% endblock tail_script %}