{% extends "base.html" %}
{% block style_block %}

{% endblock %}

{% block content %}
<div id="page_data" class="page_hide">{{ schema }}</div>

<div id="item_form" class="page_hide">
{% include 'custom/item_form.html' %}
</div>
<div id='order_form' class="page_hide">
{% include 'custom/order_form.html' %}
</div>

<div id="page_header"></div>
<div id="page_display"></div>
{% endblock content %}

{% block footer %}
    
{% endblock footer %}

{% block tail_script %}
    <script>  
    // Every table built will return an object of 
    // {table_id: <table_id>, dt_table: <datatables obj, path: <jmespath>, dt_editor: <datatables editor obj>}
    // The array will be loaded into an object that will process it and load it in page_tables object
    // This will allow any edited table to back in and understand to which table it belongs
    //
    // Page events will register important information needed for an event that is fired.
    //  for example a new entry is created and we need to know what table this came from
    //
    
    $(document).ready(function(){
    	pageData = JSON.parse($('#page_data').text().trim());
    	var page_info = get_or_default(pageReturn,'page',{});
    	page_info['curr_page'] = {location:'/page/'+pageData.path, args: get_request_args()};
    	page_info['prev_page'] = [];
    	pageReturn['page'] = page_info;
    	init_page(pageData);
    });
	</script>
{% endblock tail_script %}