{% extends "base.html" %}
{% block style_block %}

{% endblock %}

{% block content %}
<h1 id="">Customer</h1>
<div id='cust_data' class='cust_hide'>{{ cust_data }}</div>
<div id='cust_display'></div>
{% endblock content %}

{% block footer %}
    
{% endblock footer %}

{% block tail_script %}
    <script>
    
    $(document).ready(function(){
    	
    	var jsonStr = $("#cust_data").text();
    	
    	var jsonObj = JSON.parse(jsonStr.trim());
    	
    	for (i=0;i<jsonObj.data.length;i++){
    		//var data_entry = create_table(jsonObj.data[i]);
    		var data_entry = create_editor_tables(jsonObj.data[i],"../../storage_blob/dt_update");
    		data_info[data_entry.name] = data_entry.info;
    	}
    	
    	//$('#location_table').DataTable({
       // 	"iDisplayLength": 30,
       // 	responsive: true
       // });
    });
    


	</script>
{% endblock tail_script %}