{% extends "base.html" %}
{% block style_block %}

{% endblock %}

{% block content %}
<div id="page_data" class="page_hide"></div>
<div id="item_form" class="page_hid">
{% include 'custom/item_form.html' %}
</div>
<div id="page_header"></div>
<div id="page_display">
<div class="form_group">
<div class="input-group mb-3">
	   <div class="input-group-prepend">
	       <label class="input-group-text" for="extendSelect">Bulk Load Type</label>
	   </div>
	   <select class="custom-select" id="extendSelect">
	   </select>
	</div>
</div>
<div class="form-group">
    <label for="jsonArea">Paste JSON here:</label>
    <textarea class="form-control" id="jsonArea" rows="20"></textarea>
  </div>
</div>
{% endblock content %}

{% block footer %}
    
{% endblock footer %}

{% block tail_script %}
    <script>  
    // Every table built will return an object of 
    // {table_id: <table_id>, dt_table: <datatables obj, path: <jmespath>, dt_editor: <datatables editor obj>}
    // The array will be loaded into an object that will process it and load it in page_tables object
    // This will allow any edited table to back in and understand to which table it belongs
    //
    // Page events will register important information needed for an event that is fired.
    //  for example a new entry is created and we need to know what table this came from
    //
    
    $(document).ready(function(){
    	
    	$.getJSON("/admin_containers?json=true", function (resp){
    		$('#extendSelect').append('<option value="None" selected>None</option>');	
		    for (var i=0;i<resp.length;i++){
		    	var val = resp[i].name;
		    	$('#extendSelect').append('<option value="'+val+'" >'+val+'</option>');	
		    }   
	     }).fail(function (resp){
		    console.log("failed");
		    console.log(resp);
	     });
    });
    
    $('#extendSelect').change(function(){
    	var model_name = $(this).val();
    	if (model_name.toLowerCase().trim() !== "none"){
    		$.getJSON("/admin_bulk?model_name="+model_name, function (resp){
      		  $('#jsonArea').val(JSON.stringify(resp));
   	     }).fail(function (resp){
   		    console.log("failed");
   		    console.log(resp);
   	     });
    	}
    	
    });
    
	</script>
{% endblock tail_script %}