#item_form {
    display: flex;
    flex-flow: row wrap;
}
 
#item_form fieldset {
    flex: 1;
    border: 1px solid #aaa;
    margin: 0.5em;
    padding: 1em;
    font:80%/1 sans-serif;
}
 
#item_form fieldset{
  border:3px solid #473c52;
} 

#item_form legend {
  padding: 0.2em 0.5em;
  border:2px solid #473c52;
  color:black;
  font-size:90%;
  text-align:left;
  font-weight: bold;
}

img.dt_image{
	width: auto;
	height: auto;
}