/* Select 2 Dropdown Autoselect */
.select2-container .select2-selection--single {
	height: 38px;
	line-height: 38px;
}
	
/* Main stylesheet */


div.item_push{
	padding-top: 30px;
}

.jumbotron{
    position: relative;
    padding:0 !important;
    margin-top:10px !important;
    background: #473c52;
    text-align:center;
    color: white;
    margin-bottom: 0 !important;
}

div.tab-content{
	padding-top: 1em;
}
div.nav-separator{
  padding-top: 1em;	
}

#loading-indicator {
  position: absolute;
  left: 10px;
  top: 10px;
}


/* resize images */
.loader_container img {
    width: 3%;
    height: auto;
}

h1.display-4{
	color: white;
}

/* @section forms */
.btn.cancel { margin-left: 0.5rem; }
.nowrap { white-space: nowrap; }

/* Your customizations here */

table.dataTable th.focus,table.dataTable td.focus{
	outline:None;
	outline-offset:-1px
}

.pagination>.active>a {
	background-color: #473c52;
	border-color: #473c52;
}

.pagination>.active>a:hover {
	background-color: #96dbd4;
	border-color: #96dbd4;
}

.list-group-item {
	background-color: #f4e6da;
}

.input-group-text {
	background-color: #fff;
}
	
body {
    font-family: "Droid Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    color: black;
    background-color: #f4e6da;
}

body.wait, body.wait *{
 cursor: wait !important;   
}

.btn {
    cursor: pointer;
}

.font-red {
	color: red;
}

span.close {
  color: black;
}

td.edit-cell{
  background-color: #fff;
}

td.display-cell{
  background-color: transparent;
}

.cust_hide{
	display: none;
}

.page_hide{
	display: none;
}

.save_row{
  display: none;
}

a.btn-primary{
	color: #fff !important;
}
 
.navbar-default {
    background-color: #f4e6da;
    border-color: #000;
    color: black;
}

.navbar-default  .navbar-brand{
    background-color: #f4e6da;
    border-color: #000;
    color: black;
}

.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
    color: #fff;
    background-color: transparent;
}

.navbar-default .navbar-nav:hover, .navbar-default .navbar-nav:focus {
    color: #fff;
    background-color: transparent;
}

.navbar {
	min-height:100px;
}

h1, h2
{
	text-align: center;
}

.container {
  padding-top: 100px;
  padding-bottom: 20px;
}

.navbar-default .navbar-nav>.active>a,  .navbar-default .navbar-nav>li>a,h1, h2, h3, h4, h5, h6,thead,tfoot
{
    color: black;
    background-color: transparent;
}

.navbar-default .navbar-brand>.active>a,  .navbar-default .navbar-brand>.active>a:focus {
    color: black;
    background-color: transparent;
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: #c0c0c0;
}

.page-item.active .page-link {
    color: #fff;
    background-color: #473c52;
    border-color: #96dbd4;
}

tr.odd.selected, tr.even.selectetd {
	color: whitie;
	background-color: #473c52;
}

.btn-secondary:hover, .btn-secondary:focus{
    color: #fff;
    background-color: #96dbd4;
    border-color: #473c52;
}

.btn-secondary, .btn-primary {
	color: #fff;
	background-color: #473c52;
	border-color: #96dbd4;
}

.btn-secondary.disabled, .btn-secondary:disabled {
	display: none;
}

.btn-group .btn+.btn {
	margin-left: 2px;
}

table.dataTable tbody>tr.selected, table.dataTable tbody>tr>.selected {
	background-color: #473c52;
}

table {
    max-width: 100%;
    background-color: #f4e6da;
}

svg, rect.card-rect-svg {
	fill:#473c52;
}


#overlay {
  position: fixed; 
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.5;
  filter: alpha(opacity=50);
}

#modal {
  position:absolute;
  z-index: 50;
  background:url(tint20.png) 0 0 repeat;
  background:rgba(0,0,0,0.2);
  border-radius:14px;
  padding:8px;
}

#content {
  border-radius:8px;
  background:#fff;
  padding:20px;
}

#close {
  position:absolute;
  background:url(close.png) 0 0 no-repeat;
  width:24px;
  height:27px;
  display:block;
  text-indent:-9999px;
  top:-7px;
  right:-7px;
}
span.dropdown-toggle:after{
	content: none;
}

.dt_image {
	width: auto;
	height: 40px;
}

.modal-dialog {
	max-width: 90%;
}

div.DTE_Body div.DTE_Body_Content div.DTE_Field {
    float: left;
    width: 50%;
    padding: 5px 20px;
    clear: none;
    box-sizing: border-box;
}
 
div.DTE_Body div.DTE_Form_Content:after {
    content: ' ';
    display: block;
    clear: both;
}

.custom_form_container {
  display: flex; /* or inline-flex */
}

.form_list_container {
    flex-direction: column;
}

.form_all_container {
  padding-left: 2em;
}

.one_form_container {
  justify-content: space-around;
}

/*
*
* ==========================================
* CUSTOM UTIL CLASSES
* ==========================================
*
*/
#plant_item_upload {
  opacity: 0;
}

#plant_item_upload-label {
  position: absolute;
  top: 50%;
  left: 1rem;
  transform: translateY(-50%);
}

.plant_item_image-area {
  border: 2px dashed rgb(32, 52, 97);
  padding: 1rem;
  position: relative;
}

.plant_item_image-area::before {
  content: 'Uploaded image result';
  color: rgb(32, 52, 97);
  font-weight: bold;
  text-transform: uppercase;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 0.8rem;
  z-index: 1;
}

.plant_item_image-area img {
  z-index: 2;
  position: relative;
}

.form_entry_container {
  padding-bottom: 20px;
}

.form_all_container {
  width: 970px;
}

.plants_container {
  flex-direction: column;
}

.one_plant_container {
  flex-direction: row;
}