{% extends "base.html" %}
{% block style_block %}

{% endblock %}

{% block content %}
<div id="page_data" class="page_hide">{{ schema }}</div>
<div id="table_data" class="page_hide">
   <div id="item_div">
   {% include 'custom/item_form.html' %}
   </div>
   <div id="tables_div">
      <div id="updated_items"></div>
   </div>
</div>
<div id="page_header"></div>
<div id="page_display">
<div id="select_section">
  <div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Admin Item Push</h1>
    <p class="lead">Select the  Item that has been updated.  Then select the customers and locations that should be updated with the new information</p>
    <div id="loader_img_container" class="loader_container"><img src="/static/img/loader_purple.gif" id="loading-indicator" style="display:none" /></div>
    <div id="loader_img_container_mstr" class="loader_container_mstr"><img src="/static/img/loader_purple.gif" id="loading-indicator-mstr" style="display:none" /></div>
    <hr class="my-4">
    <div class="input-group mb-3">
    <div class="input-group-prepend">
      <label class="input-group-text" for="inputGroupSelectItem">Master Item Selection</label>
    </div>
    <select class="custom-select" id="inputGroupSelectItem">
      <option id="item_select_1" selected>Choose...</option>
    </select>
  </div>

  </div>
  </div>
  
</div>
<!-- The place to put the nav bars -->
<div id="button_item_push"></div>
<div id="navbar_item_push" class="item_push">
<nav>
  <div class="nav nav-tabs nav-fill" id="nav-tab_items" role="tablist">
    <a class="nav-item nav-link active" id="fields-tab" data-toggle="tab" href="#nav-fields" role="tab" aria-controls="nav-fields" aria-selected="true">Select Fields</a>
    <a class="nav-item nav-link" id="customers-tab" data-toggle="tab" href="#nav-customers" role="tab" aria-controls="nav-customers" aria-selected="false">Select Customers</a>
    <a class="nav-item nav-link" id="locations-tab" data-toggle="tab" href="#nav-locations" role="tab" aria-controls="nav-locations" aria-selected="false">Select Locations</a>
  </div>
</nav>
<div class="tab-content" id="nav-tabContent">
  <div class="tab-pane fade show active" id="nav-fields" role="tabpanel" aria-labelledby="fields-tab"></div>
  <div class="tab-pane fade" id="nav-customers" role="tabpanel" aria-labelledby="customers-tab"></div>
  <div class="tab-pane fade" id="nav-locations" role="tabpanel" aria-labelledby="locations-tab"></div>
</div>
</div>
</div>
{% endblock content %}

{% block footer %}
    
{% endblock footer %}

{% block tail_script %}
    <script>  
    // /query_storage_blob?datatype=cust_plant_item&keyfield=plant_item-128
    var dt_url = '/storage_blob/dt_update';
    var item_html = $('#item_div').html();
    var master_data = null;
    var master_item = null;
    var customer_matches = null;
    var location_matches = null;
    var master_lookup = {}
    
    var oldOptions = window.datatable_options;
    window.datatable_options = datatable_optionsNEW;
    
	var main_data = {customers:[],locations:{},items:{},customer_lookup:{},update_data:[]};
    
    $(document).ready(function(){
    	pageData = JSON.parse($('#page_data').text().trim());
    	$('#loading-indicator-mstr').show();
    	$.get('/get_master_data').done(function(info){
    		
    	    master_data = info;
    	    
    	    update_fieldlist(master_data.master_items[0]);
    	      
    	    for (var i=0;i<master_data.master_items.length;i++){
    	    	var item = master_data.master_items[i];
    	    	//<option class="cust_select_option" value="1">Jack</option>
    	    	var value = item.Item_Num;
    	    	master_lookup[value] = item;
    	    	var label = "<strong>Collection: </strong>"+item.Collection+", <strong>Product Name: </strong>"+item.Product_Name;
    	    	
    	    	var selectHtml = '<option class="mstr_item" value="'+value+'">'+label+'</option>';
    	    	$('#inputGroupSelectItem').append(selectHtml);
    	    }
    	    $('#loading-indicator-mstr').hide();
    	});
    	var page_info = get_or_default(pageReturn,'page',{});
    	page_info['curr_page'] = {location:'/admin_item_push/', args: get_request_args()};
    	page_info['prev_page'] = [];
    	pageReturn['page'] = page_info;
        pageReturn.page.curr_page['page_data'] = pageData;
        pageReturn['tables'] = {};
        init_fields();
        pageSc = create_container(pageData.schema);
        pageSc.storage_url = dt_url + "?model_name=customer";
    	schemaLookup = process_container(pageSc);
    	
    	$('select#inputGroupSelectItem.custom-select').on('change',function(){
        	var selectValue = $(this).val();
        	$('#nav-customers').empty();
        	$('#nav-locations').empty();	
        	if(selectValue !== "Choose..."){
    			master_item = master_lookup[selectValue];
    			update_fieldlist(master_item);
    		    $.get('/query_storage_blob?datatype=cust_plant_item&keyfield='+selectValue).done(function(info){
    		    	process_match_query(info);
    		    }).fail(function(msg){
    		    	console.log('Customer item lookup failed!!')
    		    	console.log(msg);
    		    })
        	}
        });
    });
    
    function process_match_query(return_info){
    	var matches = return_info.matches;
    	var customers = [];
    	var locations = {};
    	var cust_lookup = {};
    	var items = {}
    	for (var i=0;i<matches.length;i++){
    		var cust = matches[i].ancestors.customer;
    		cust_lookup[cust.customer_number] = cust;
    		var loc_arr = get_or_default(locations,cust.customer_number,[]);
    		if (loc_arr.length === 0){
    			customers.push(cust);
    		}
    		var loc = matches[i].ancestors.location;
    		loc_arr.push(loc);
    		locations[cust.customer_number] = loc_arr;
    		
    		var item_arr = get_or_default(items,loc.location_number,[]);
    		item_arr.push({ancestry_list: matches[i].ancestry_list, data: matches[i].data});
    		items[loc.location_number] = item_arr;
    	}
    	
    	main_data['customers'] = customers;
    	main_data['locations'] = locations;
    	main_data['items'] = items;
    	main_data['customer_lookup'] = cust_lookup;
    	
    	load_customer_boxes();
    }
    
    function load_customer_boxes(){
    	var customers = main_data['customers'];
    	$('#nav-customers').empty();

    	var divs = d3.select('#nav-customers')
	      .append('form')
	      .attr('id','customer_chk_form')
	      .selectAll('div')
	      .data(customers)
	      .enter()
	      .append('div');
	    
	    divs.attr('class','form-check')
	        .append('input')
	        .attr('type','checkbox').attr('class','form-check-input customer-select')
	        .attr('value',function (d) {return d.customer_number;})
	        .attr('id',function (d){ return d.customer_number+"-chk";});
	    
	    divs.append('label')
	        .attr('class','form-check-label')
	        .attr('for',function (d) {return d.customer_number+"-chk";})
	        .text(function (d) { return d.customer_number+": "+d.customer_name;});
	    
	    var alldiv = d3.select('#customer_chk_form')
	                   .insert('div',':first-child')
	                   .attr('class','form-check');
	    
	    alldiv.append('input')
	      .attr('type','checkbox')
	      .attr('class','form-check-input customer-select all-customer-select')
	      .attr('value','all')
	      .attr('id','all-chk');
	    
	    alldiv.append('label')
	      .attr('class','form-check-label')
	      .attr('for','all-chk')
	      .text("Select All");
	    
	    $('.customer-select').change(function(){
	    	if ($(this).hasClass('all-customer-select') && $(this).prop('checked')){
	    		// all has been selected
	    		$('.customer-select').prop('checked',true);
	    		process_location_boxes(Object.keys(main_data.customer_lookup));
	    	}else if ($(this).hasClass('all-customer-select') && !$(this).prop('checked')){
	    		$('.customer-select').prop('checked',false);
	    		process_location_boxes([]);
	    	}else{
	    		var checked = $('input.form-check-input.customer-select:checked');
		    	var cust_select = [];
		    	for (var i=0;i<checked.length;i++){
		    		var n = $(checked[i]).val()
		    		if (n !== 'all'){
		    			cust_select.push(n);
		    		}else{
		    			$('.all-customer-select').prop('checked',false);
		    		}
		    	}
		    	process_location_boxes(cust_select);
	    	}
	    	
	    });
    }
    
    function get_location_list(){
    	var checked = $('input.form-check-input.location-select:checked');
    	var loc_select = [];
    	for (var i=0;i<checked.length;i++){
    		var n = $(checked[i]).val()
    		if (n !== 'all'){
    			loc_select.push(n);
    		}
    	}
    	return loc_select;
    }
    
    function datatable_optionsNEW(btns,get_url,flds,tblId,edtr){
    	var dt_options = {
    		    responsive: true,
    	        dom: "Bfrtip",
    	        paging: btns.length > 1,
    	        searching: btns.length > 1,
    	        info: btns.length > 1,
    	        data:main_data.update_data,
    	        columns: flds.editor_cols,
    	        order: [ 2, 'asc' ],
    	        keys: {
    	            columns: flds.key_columns,
    	            //keys: [ 9 ],
    	            editor: edtr,
    	            editOnFocus: true
    	        },
    	        select: {
    	            style:    'os',
    	            selector: 'td.select-checkbox'
    	        },
    	        buttons: btns
    	    } ;
    	return dt_options;
    }
    
    function get_fields_list(){
    	var checked = $('input.form-check-input.item-select:checked');
    	var loc_select = [];
    	for (var i=0;i<checked.length;i++){
    		var n = $(checked[i]).val()
    		if (n !== 'all'){
    			loc_select.push(n);
    		}
    	}
    	return loc_select;
    }
    
    function process_location_boxes(selected_cust){
    	var locations = main_data['locations'];
    	$('#nav-locations').empty();
    	
    	var loc_arr = [];
    	
    	for (var i=0;i<selected_cust.length;i++){
    		var cn = selected_cust[i];
    		var cn_arr = locations[cn];
    		for (var j=0;j<cn_arr.length;j++){
    			var cust = main_data.customer_lookup[cn];
    			loc_arr.push({cust_name: cust.customer_name, loc_num: cn_arr[j].location_number, loc_name: cn_arr[j].location_name});
    		}
    	}

    	var divs = d3.select('#nav-locations')
	      .append('form')
	      .attr('id','location_chk_form')
	      .selectAll('div')
	      .data(loc_arr)
	      .enter()
	      .append('div');
	    
	    divs.attr('class','form-check')
	        .append('input')
	        .attr('type','checkbox').attr('class','form-check-input location-select')
	        .attr('value',function (d) {return d.loc_num;})
	        .attr('id',function (d){ return d.loc_num+"-chk";});
	    
	    divs.append('label')
	        .attr('class','form-check-label')
	        .attr('for',function (d) {return d.loc_num+"-chk";})
	        .text(function (d) { return d.cust_name+", Location: "+d.loc_name + " ("+d.loc_num+")";});
	    
	    var alldiv = d3.select('#location_chk_form')
        .insert('div',':first-child')
        .attr('class','form-check');

        alldiv.append('input')
        .attr('type','checkbox')
        .attr('class','form-check-input location-select all-location-select')
        .attr('value','all')
        .attr('id','all-chk_loc');

        alldiv.append('label')
        .attr('class','form-check-label')
        .attr('for','all-chk_loc')
        .text("Select All");
        
        $('.location-select').change(function(){
	    	if ($(this).hasClass('all-location-select') && $(this).prop('checked')){
	    		// all has been selected
	    		$('.location-select').prop('checked',true);
	    	}else if ($(this).hasClass('all-location-select') && !$(this).prop('checked')){
	    		$('.location-select').prop('checked',false);
	    	}else{
	    		$('.all-location-select').prop('checked',false);
	    	}
	    	
	    	var loc_list = get_location_list();
	    	var fld_list = get_fields_list();
	    	if (loc_list.length>0 && fld_list.length>0){
	    		$('#button_item_push').append('<button type="button" id="bip_btn" class="btn btn-primary">Update Items From Master</button>');
	    		$('#bip_btn').click(update_items);
	    	}else{
	    		$('#button_item_push').empty();
	    	}
        });
    }
    
    function update_items(){
    	var loc_list = get_location_list();
    	var items = [];
    	
    	for (var i=0;i<loc_list.length;i++){
    	   var itmList = main_data.items[loc_list[i]];
    	   for (var j=0;j<itmList.length;j++){
    		   items.push(itmList[j]);
    	   }
    	}
    	
    	main_data.update_data = items;
    	$('#loading-indicator-mstr').show();
    	for (var i=0;i<items.length;i++){
    		var last = false;
    		if (i === items.length-1){
    			last = true;
    		}
    		var flds = get_fields_list();
    		for (var f=0;f<flds.length;f++){
    			var nwVal = master_item[flds[f]];
    			items[i].data[flds[f]] = nwVal;
    		}
    		items[i]['ancestry_list'] = getIdList(items[i]['ancestry_list'])
    		post_json(items[i],last);
    	}
    	
    }
    
    function post_json(item,last_one){
    	$.ajax({
    	      type: "POST",
    	      contentType: "application/json",
    	      url: '/admin_object_update',
    	      data: JSON.stringify(item),
    	      dataType: "json"
    	   }).done(function(){
    		   console.log("Item: "+item.data.Cust_Item_Num+", updated successfully");
    		   if(last_one){
    			   $('#loading-indicator-mstr').hide();
    			   set_message("Updates Complete");
    		   }
    	   }).fail(function(resp){
    		   console.log(resp)
    		   set_message("Item: "+item.data.Cust_Item_Num+" Failed",2000);
    		   console.log("The thing didn't work!! "+resp);
    		   if(last_one){
    			   $('#loading-indicator-mstr').hide();
    			   set_message("Updates Complete");
    		   }
    	   });
    }
    
    function update_fieldlist(master_item){
    	$('#nav-fields').empty();
    	var master_data = [];
    	var keys = Object.keys(master_item);
    	for (var i=0;i<keys.length;i++){
    		master_data.push({'name':keys[i],'value':master_item[keys[i]]});
    	}
    	var divs = d3.select('#nav-fields')
	      .append('form')
	      .attr('id','item_chk_form')
	      .selectAll('div')
	      .data(master_data)
	      .enter()
	      .append('div');
	    
	    divs.attr('class','form-check')
	        .append('input')
	        .attr('type','checkbox').attr('class','form-check-input item-select')
	        .attr('value',function (d) {return d.name;})
	        .attr('id',function (d){ return d.name+"-chk";});
	    
	    divs.append('label')
	        .attr('class','form-check-label')
	        .attr('for',function (d) {return d.name+"-chk";})
	        .text(function (d) { return createLabel(d.name) + " = "+d.value;});
	    
	    var alldiv = d3.select('#item_chk_form')
        .insert('div',':first-child')
        .attr('class','form-check');

        alldiv.append('input')
        .attr('type','checkbox')
        .attr('class','form-check-input item-select all-item-select')
        .attr('value','all')
        .attr('id','all-chk_itm');

        alldiv.append('label')
        .attr('class','form-check-label')
        .attr('for','all-chk_itm')
        .text("Select All");
	    
	    $('.item-select').change(function(){
	    	if ($(this).hasClass('all-item-select') && $(this).prop('checked')){
	    		// all has been selected
	    		$('.item-select').prop('checked',true);
	    	}else if ($(this).hasClass('all-item-select') && !$(this).prop('checked')){
	    		$('.item-select').prop('checked',false);
	    	}else{
	    		$('.all-item-select').prop('checked',false);
	    	}
        });
    }
    
    
    
    
	</script>
{% endblock tail_script %}