{% extends "base.html" %}
{% block style_block %}
<link href="/static/css/item_page.css" rel="stylesheet" />
{% endblock %}

{% block content %}
<div id="page_header"></div>
<div id="page_display">
  <div id="table_area">
    <table id="api_user" class="table table-striped table-bordered" style="width:100%">

        <thead>
            <tr>
                <th>User Name</th>
                <th>User Password</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <th>User Name</th>
                <th>User Password</th>
            </tr>
        </tfoot>
    </table>
  </div>
</div>
{% endblock content %}

{% block footer %}

{% endblock footer %}

{% block tail_script %}
    <script>
    var api_users = undefined;
    var editor;

    $(document).ready(function(){

    	// $.get('/api/get_users', function(data){
      //   api_users = data;
      //   setup_dt();
       //});
       setup_dt();
       editor.on('open',function(e,mode,action){
         if (action === 'edit'){
            editor.field('userName').disable();
         }else{
           editor.field('userName').enable();
         }} );
    });

    function ready_data(data){

      var update = {action:data.action,data:[]};
      var keys = Object.keys(data.data);

      for (var k=0;k<keys.length;k++){
    		 // first level should be the id
    		 // this code will remove the necessity to do this on the server
    		 var aKey = keys[k];

    		 var mKeys = Object.keys(data.data[aKey]);
    		 var flds = {};
    		 for (var m=0;m<mKeys.length;m++){
    			  if (mKeys[m] !== 'action'){
    				   flds[mKeys[m]] = data.data[aKey][mKeys[m]];
    			  }
    		 }
    		 update.data.push(flds);
    	}
      return {'user_api':JSON.stringify(update)};
    }

    function setup_dt(){
      editor = new $.fn.dataTable.Editor( {
        ajax: {
            url: "/api/users",
            type: "POST",
            data: ready_data,
            dataType: "json",
            error: function (xhr, error, thrown) {
                console.log(error);
                console.log(xhr);
                console.log(thrown);
            }
        },
        table: "#api_user",
        fields: [ {
                label: "User Name:",
                name: "userName"
            }, {
                label: "User Password:",
                name: "userPass"
            }
        ]
    } );

    $('#api_user').DataTable( {
        dom: "Bfrtip",
        ajax: "/api/users",
        columns: [
            { data: "userName" },
            { data: "userPass" }
        ],
        select: true,
        buttons: [
            { extend: "create", editor: editor },
            { extend: "edit",   editor: editor },
            { extend: "remove", editor: editor }
        ]
    } );
    }
	</script>
{% endblock tail_script %}
