{% extends "base.html" %}
{% block style_block %}

{% endblock %}

{% block content %}
<div id="page_data" class="page_hide">{{ schema }}</div>
<div id="table_data" class="page_hide">
   <div id="item_div">
   {% include 'custom/item_form.html' %}
   </div>

   <div id="tables_div">
      <div id="cust_tables_div"></div>
      <div id="loc_tables_div"></div>
      <div id="item_table_div"></div>
   </div>
</div>
<div id="page_header"></div>
<div id="page_display">
<div id="select_section">
  <div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Customer Orders</h1>
    <p class="lead">Choose the following:  Customer, Location.. then click "NEW ORDER". Then select your items and quantity of items.  Only select items for that customer</p>
    <div id="loader_img_container" class="loader_container"><img src="/static/img/loader_purple.gif" id="loading-indicator" style="display:none" /></div>
    <hr class="my-4">
    <div class="input-group mb-3">
    <div class="input-group-prepend">
      <label class="input-group-text" for="inputGroupSelectCust">Customer Select</label>
    </div>
    <select class="custom-select" id="inputGroupSelectCust">
      <option id="cust_select_1" selected>Choose...</option>
    </select>
  </div>
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <label class="input-group-text" for="inputGroupSelectLoc">Location Select</label>
    </div>
    <select class="custom-select" id="inputGroupSelectLoc">
      <option id="loc_select_1" selected>Choose...</option>
    </select>
  </div>
  </div>
  </div>

</div>
<p>
<button type="button" id="new_order_btn" class="btn btn-primary">New Order</button>
<button type="button" id="btn_edit_items" class="btn btn-primary">Edit Items</button>
<button type="button" id="btn_back_orders" class="btn btn-primary">Back</button>
</p>
<ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" id="order_tab" data-toggle="tab" href="#order" role="tab" aria-controls="order" aria-selected="true">Orders</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="order_items_tab" data-toggle="tab" href="#order_items" role="tab" aria-controls="order_items" aria-selected="false">Order Items</a>
  </li>
</ul>
<div class="tab-content" id="myTabContent">
  <div class="tab-pane fade show active" id="order" role="tabpanel" aria-labelledby="order_tab">
     <div id="order_table_div"></div>
  </div>
  <div class="tab-pane fade" id="order_items" role="tabpanel" aria-labelledby="order_items_tab">
     <div id="order_items_table_div"></div>
  </div>
</div>

</div>
{% endblock content %}

{% block footer %}

{% endblock footer %}

{% block tail_script %}
    <script>
    // For this page, table information will be loaded in the hidden div
    // First table will be a list of customers
    //   Once selected... that will call out to load the locations (delete the existing data in that table... use the data tables api)
    //   then once the location is selected, items are loaded for that location...
    // first need the number field
    var dt_url = '/storage_blob/dt_update';
    var item_html = $('#item_div').html();
    var master_data = null;
    var master_item = null;
    $('#item_div').empty();

    function switch_to_items(){
    	$('li.nav-item.items_order').show();
    	$('.nav-tabs a[href="#items"]').tab('show');
    	$('div.DTE_Form_Buttons').hide();
    	$('div.DTE_Form_Buttons').after('<button class="btn btn-default items_btn" id="items_next">Next</button>');
    	$('#items_next').click(function(){
    		$('li.nav-item.qty_order').show();
    		$('.nav-tabs a[href="#qty"]').tab('show');
    	});
    }
    function open_temp_modal(){
    	var loader_html = '<div id="loader_img_container"><i class="fas fa-spinner fa-spin" style="font-size:24px;"></i></div>'
    	modal.open({content:loader_html});
    }

    function launch_order_form(new_or_edit){
    		$.get('/get_page/order_form',function(data){
    			modal.close();
    			modal.open({content:data});
    			$('#datetimepicker_gen_order_date').datetimepicker({
                    format: 'YYYY-MM-DD'
                });

    			$('#gen_order_date').click(function(){
    				$('#datetimepicker_gen_order_date').datetimepicker('show');
    			});

    			$('#datetimepicker_gen_order_deliv_date').datetimepicker({
                    format: 'YYYY-MM-DD'
                });

    			$('#gen_order_date').click(function(){
    				$('#datetimepicker_gen_order_deliv_date').datetimepicker('show');
    			});

    			load_order_item_select(new_or_edit);

    			add_form_validation();
    		 });
    }

    $(document).ready(function(){
    	  chkImageLoad();
    	  $('#new_order_btn').click(function(){
    		    open_temp_modal();
          	launch_order_form("new")
    	  });

    	  $('#btn_edit_items').click(show_order_items);
    	  $('#btn_back_orders').click(show_orders);
    	  switchTabs('order_tab','Orders','order_items_tab');
    	  $('button.btn-primary').hide();
    	  pageData = JSON.parse($('#page_data').text().trim());
    	  $.get('/get_master_data').done(function(info){
    	       master_data = info;
    	  });
    	  var page_info = get_or_default(pageReturn,'page',{});
    	  page_info['curr_page'] = {location:'/customer_orders/', args: get_request_args()};
    	  page_info['prev_page'] = [];
    	  pageReturn['page'] = page_info;
        pageReturn.page.curr_page['page_data'] = pageData;
        pageReturn['tables'] = {};
        init_fields();
        pageSc = create_container(pageData.schema);
        schemaLookup = process_container(pageSc);
    	  storage_items['item_order'].getFieldStorageByName('Item_Num').field_type = "string";
        var orderDTC = new DataTableCreator([],pageSc)
        orderDTC.create_edit_data_table('tables_div',['create','edit','duplicate','remove','view'])
        $('#loading-indicator').show();

        orderDTC.dt_table.on('init',function(){
        	  create_cust_options();
          	load_location_table();
        });

        orderDTC.dt_editor.on('create',function(){
        	  create_cust_options();
        });

        $('#inputGroupSelectCust').change(function(){
        	  $('#loading-indicator').show();
    		    $('#loc_tables_div').empty();
    		    $('button.btn-primary').hide();
    		    $('#item_table_div').empty();
    		    $('#order_table_div').empty();
    		    load_location_table();
        });

        $('#inputGroupSelectLoc').change(function(){
        	  $('#loading-indicator').show();
    		    $('#item_table_div').empty();
    		    load_item_table();
    		    $('button.btn-primary').hide();
    		    $('#order_table_div').empty();
    		    load_order_table();
        });

        $('button.btn').on('click',function(){
    		    $('button.close').css('z-index',50);
    	  });

    });

    function create_cust_options(){
    	 var rows = pageReturn.tables['customer-table'].dt_table.data();
    	 $('.cust_select_option').remove();
    	 for(var i=0;i<rows.length;i++){
    		    $('#cust_select_1').after('<option id="row_'+i+'" class="cust_select_option" value="'+rows[i].DT_RowId+'">'+rows[i].customer_name+'</option>');
    	 }

    	 $('#inputGroupSelectCust').select2({
    		    placeholder: 'Choose...',
  		      sorter: dropDownSort,
  		      width: 'resolve'
  	   });

    }

    var switchTabs = function(actName, actText, hdName){
        var hdText = $('a#'+hdName).text();
        $('a#'+hdName).text("");
    	  $('a#'+actName).text(actText);
    	  $('.nav-tabs a[href="#'+actName.replace('_tab','')+'"]').tab('show');
    	  return hdText;
    }

    function pull_up_invoice(dataTable){
    	  var dataRow = dataTable.rows({selected:true}).data()[0]
    	  var order_num = dataRow['order_num'].replace('order-','')
    	  pop_invoice_modal("/get_order?order_num="+order_num,"Order: "+order_num+" Summary")
    }

    function pop_invoice_modal(getUrl,windowName){
    	  newwindow=window.open(getUrl,windowName,'height=815,width=900');
        if (window.focus) {newwindow.focus()}
        return false;
    }

    function getItemsArray(){
    	  var itemData = pageReturn.tables['cust_plant_item-table'].dt_table.data();
    	  var retItems = [];
    	  var labels = [];
    	  for (var i=0;i<itemData.length;i++){
    	     //var label = itemData[i].Collection+", "+itemData[i].Product_Name + " (Customer)";
           var label = itemData[i].Product_Name + " (Customer)";
    	     labels.push(label);
    	     var tObj = Object.assign({label: label, value: itemData[i].Item_Num, selected: false, quantity: 1, instructions: "",id:null},itemData[i]);
    	     delete tObj.id;
    	     retItems.push(tObj);
    	  }

    	  for (var i=0;i<master_data.master_items.length;i++){
    		   var mItem = master_data.master_items[i]
    		   //var label1 = mItem.Collection+", "+mItem.Product_Name;
           var label1 = mItem.Product_Name;
    		   if ($.inArray(label1+" (Customer)",labels) === -1){
    		      var label2 = label1 + " (Master)";
    		      var tObj = Object.assign({label:label2,value: mItem.Item_Num, selected: false, quantity: 1, instructions: "",id:null},mItem);
    		      delete tObj.id;
    		      retItems.push(tObj);
    		   }
    	  }
    	  return retItems;
    }

    function load_location_table(){
    	  var root_id = $('#inputGroupSelectCust').find(":selected").val();
    	  if (root_id !== 'Choose...'){
    		   var sc = storage_items['location'];
        	 var locDTC = new DataTableCreator([root_id], sc);
           locDTC.create_edit_data_table("loc_tables_div",['create','edit','duplicate','remove','view']);
        	 locDTC.dt_table.on('init',function(){
            	create_loc_options();
            	load_item_table();
            	load_order_table();
           });

           locDTC.dt_editor.on('create',function(){
            	 create_loc_options();
           });
    	  }else{
    		   $('#loading-indicator').hide();
    	  }
    }

    function create_loc_options(){
    	  var rows = pageReturn.tables['location-table'].dt_table.data();
    	  $('.loc_select_option').remove();
    	  for(var i=0;i<rows.length;i++){
    		   $('#loc_select_1').after('<option id="loc_row_'+i+'" class="loc_select_option" value="'+rows[i].DT_RowId+'">'+rows[i].location_name+'</option>');
    	  }

    	  $('#inputGroupSelectLoc').select2({
  		     placeholder: 'Choose...',
		       sorter: dropDownSort,
		       width: 'resolve'
	      });
    }

    function show_order_items(){
    	  switchTabs('order_items_tab','Order Items','order_tab');
    	  $('#btn_edit_items').hide();
    	  $('#btn_send_items').hide();
    	  $('#new_order_btn').hide();
    	  $('#btn_back_orders').show();
    }

    function show_orders(){
    	  switchTabs('order_tab','Orders','order_items_tab');
    	  $('#new_order_btn').show();
    	  $('#btn_back_orders').hide();
    }

    function load_order_table(){
    	  var root_id = $('#inputGroupSelectCust').find(":selected").val();
    	  var parent_id = $('#inputGroupSelectLoc').find(":selected").val();
    	  if (root_id !== 'Choose...' && parent_id !== 'Choose...'){
    		   show_orders();
    		   var sc = storage_items['order'];
           var idList = [root_id,parent_id];
           var ordrDTC = new DataTableCreator(idList,sc);
           ordrDTC.create_edit_data_table("order_table_div",['order_item','view_invoice']);
        	 ordrDTC.dt_table.button().add( 0, {
        		  extend: 'edit',
        	    action: function ( e, dt, button, config ) {
        	    	  var oNum = dt.rows({selected:true}).data()[0].order_num.replace("order-","");
            		  $.get('/order/'+oNum).done(function(info){
            			     console.log("Request went to send email");
            		  }).done(function(resp){
            			     console.log(resp);
            		  });
        	    },
        	    text: 'Email Invoice'
        	});
        	ordrDTC['callbacks'] = {order_item: process_order_items, view_invoice: pull_up_invoice};
          ordrDTC.dt_table.on('init',function(){
            	$('#loading-indicator').hide();
          });
          $('button.btn').on('click',function(){
        	    $('button.close').css('z-index',50);
          });
    	  }else{
    		  $('#loading-indicator').hide();
    	  }
    }

    function process_order_items(dataTable){
    	  var dataRow = dataTable.rows({selected:true}).data()[0];
    	  process_order_items_data(dataTable,dataRow,'edit');
    }

    function process_order_items_data(dataTable, dataRow, new_or_edit){
    	  $('#order_items_table_div').empty();
    	  var root_id = $('#inputGroupSelectCust').find(":selected").val();
    	  var location_id = $('#inputGroupSelectLoc').find(":selected").val();
    	  var parent_id = dataRow['DT_RowId'];
    	  var sc = storage_items['item_order'];
        var idList = [root_id,location_id,parent_id];
        var odrItemDTC = new DataTableCreator(idList,sc);
        odrItemDTC.create_edit_data_table("order_items_table_div",[]);
        if (new_or_edit === 'edit'){
        	  open_temp_modal();
        	  $('#item_order-table').on('init.dt',function(){
    			      launch_order_form(new_or_edit);
    		    });
        }
    }

    function get_jsonStore(item_value){
    	  var jsonStore = JSON.parse($('#form_items_data').text());
    	  return jsonStore[item_value];
    }

    function select_jsonStore(item_value,valSel){
    	  var jsonStore = JSON.parse($('#form_items_data').text());
    	  var item = jsonStore[item_value];
    	  if (item !== undefined){
    		   item.selected = valSel;
        	 jsonStore[item_value] = item;
        	 $('#form_items_data').text(JSON.stringify(jsonStore));
    	  }
    }

    function update_jsonStore(item_value, qty, instructions){
    	  var jsonStore = JSON.parse($('#form_items_data').text());
    	  var item = jsonStore[item_value];
    	  if (item !== undefined){
    		   item.quantity = qty;
        	 item.instructions = instructions;
        	 item.selected = true;
        	 jsonStore[item_value] = item;
        	 $('#form_items_data').text(JSON.stringify(jsonStore));
    	  }
    }

    function set_jsonStore(item_value, inItem){
    	  var jsonStore = JSON.parse($('#form_items_data').text());
    	  var item = jsonStore[item_value];
    	  if (item !== undefined){
    		   jsonStore[item_value] = inItem;
        	 $('#form_items_data').text(JSON.stringify(jsonStore));
    	  }
    }

    function save_order(){
    	  var new_or_edit = get_jsonStore('new_or_edit');
    	  $('.nav-tabs a[href="#gen-order"]').tab('show');
    	  if(document.getElementById("order-form").checkValidity() === false){
    		   document.getElementById("order-form").classList.add('was-validated');
    	  }else{
    		   var orderDate = $('input#gen_order_date').val();
    		   var deliveryDate = $('input#gen_order_deliv_date').val();
    		   var genInstr = $('textarea#gen_instructions').val();

    		   if (new_or_edit === 'edit'){
    			    set_message("Updating the order...",200,true);
    			    pageReturn['tables']['order-table'].dt_editor.edit({selected:true}, false )
                .set( 'order_date', orderDate )
                .set( 'order_delivery_date', deliveryDate )
                .set('order_instructions',genInstr)
                .submit(function(data){
             	      save_order_items(data.data[0],false);
                },function(data){
             	      console.log("There was an error processing gen info");
             	      console.log(data);
             	      set_message("The order Failed... make sure data is valid");
                });
    		   }else{
    			    set_message("Creating a new order...",200,true);
    			    pageReturn['tables']['order-table'].dt_editor.create( false )
                .set( 'order_date', orderDate )
                .set( 'order_delivery_date', deliveryDate )
                .set('order_instructions',genInstr)
                .submit(function(data){
                	   process_order_items_data(pageReturn['tables']['order-table'].dt_table,data.data[0],'new');
                	   $('#item_order-table').on('init.dt',function(){
                		    save_order_items(data.data[0], true);
            		     });
                },function(data){
             	       console.log("There was an error processing gen info");
             	       console.log(data);
             	       set_message("The order Failed... make sure data is valid");
                });
    		   }
    	  }
    }

    function save_order_items(data,doSendEmail){
    	  var new_or_edit = get_jsonStore('new_or_edit');
    	  var oNum = data.order_num.replace("order-","");
		    var items = $('input.form-check-input.items-select');
    	  create_list = [];
    	  edit_list = [];
    	  delete_list = [];
    	  for (var i=0;i<items.length;i++){
    		    var itemId = $(items[i]).val();
    	      var item = get_jsonStore(itemId);
    		    if (item !== undefined){
               // Found a bug where the item already has a DT_RowId..??
               // gonna delete it!!
               delete item.DT_RowId;
               // moving on!
    			     var data = {DT_RowId:item.id,
    					 order_num: data.order_num,
    					 order_quantity: item.quantity,
    					 order_item_instructions: item.instructions,
    					 order_item_num: item.value};

    			     data = Object.assign(data,item);

    			     if ((data.id === null || data.id === undefined) && item.selected){
        			    create_list.push(data);
        		   }
        		   if (!(data.id === null || data.id === undefined)){
        			    if (data.selected){
        				     edit_list.push(data);
        			    }else{
        				     delete_list.push(data);
        			    }
        		   }
    		    }
    	  }

    	  $.each(create_list,function(idx,val){
    		    val.DT_RowId = idx;
    	  });

    	  var createPassFunc = {before: function(){
    		    $('.notify-bar-text-wrapper').text('Adding new items to the order... ');
    	  }, after: function(){
    		    $('.notify-bar-text-wrapper').text('Adding new items to the order... DONE');
    	  }};

    	  var editPassFunc = {before: function(){
    		   $('.notify-bar-text-wrapper').text('Updating exiting items on the order... ');
    	  }, after: function(){
    		   $('.notify-bar-text-wrapper').text('Updating exiting items on the order... DONE');
    	  }};

    	  var removePassFunc = {before: function(){
    		   $('.notify-bar-text-wrapper').text('Deleting removed items from the order... ');
    	  }, after: function(){
    		   $('.notify-bar-text-wrapper').text('Deleting removed items from the order... DONE');
    	  }};

    	  var table = pageReturn.tables['item_order-table'].dt_table;

    	  var funcs = [];
    	  if (create_list.length>0){
    		   funcs.push(function (input){console.log(input);return callDtSubmit(table,'create','item_order',create_list,createPassFunc)});
    	  }
    	  if (edit_list.length>0){
    		   funcs.push(function (input){console.log(input);return callDtSubmit(table,'edit','item_order',edit_list,editPassFunc)});
    	  }
    	  if (delete_list.length>0){
    		   funcs.push(function (input){console.log(input);return callDtSubmit(table,'remove','item_order',delete_list,removePassFunc)});
    	  }

    	  if (doSendEmail){
    		   funcs.push(function (input){console.log(input);return new Promise(function(resolve,reject){
    			      $.get('/order/'+oNum).done(resolve).fail(reject);
    		      });
    		   });
     	  }

    	  funcs.push(new Promise(function(resolve,reject){
    		   setTimeout(function(){
    			   modal.close();
    			   set_message("Order Processing Complete",1000,false);
    			   check_for_email();
    		   },500);
    		   resolve();
    	  }));

    	  var promise = funcs[0]("Starting the promise chain");
    	  for (var i = 1; i < funcs.length; i++){
    		   promise = promise.then(funcs[i]);
    	  }
    }

    function check_for_email(){
    	  var question = '<div class="my_modal_container">' +
          '<h3>Email Updated Order?</h3>'+
          '<p>With this updated order, would you like to re-send the order email summary?</p>' +
          '<div class="row">' +
          '<div class="col-sm-auto">' +
          '<button type="button" id="yes_email_btn" class="btn btn-secondary btn-sm">YES</button>' +
          '</div><div class="col-sm-auto">' +
          '<button type="button" id="no_email_btn" class="btn btn-secondary btn-sm">NO</button></div></div></div>'
       modal.open({content:question});
       $('#yes_email_btn').on('click',function(){
	         var oNum = pageReturn.tables['order-table'].dt_table.rows({selected:true}).data()[0].order_num.replace("order-","");
	         $.get('/order/'+oNum).done(function(info){
		            modal.close();
		            console.log(info);
	         }).fail(function(resp){
                console.log("email failed: "+resp)
              });
        });
        $('#no_email_btn').on('click',function(){
	          modal.close();
        });
     }


    function load_order_item_select(new_or_edit){
    	  var location_items = getItemsArray();
    	  var jsonStore = {};
    	  for (var j=0;j<location_items.length;j++){
    		    if (new_or_edit === 'edit' && pageReturn.tables['item_order-table'] !== undefined){
    			     var order_items = pageReturn.tables['item_order-table'].dt_table.data();
    			     for (var i=0;i<order_items.length;i++){
            		   var item_num = order_items[i].Item_Num;
            		   if (item_num === location_items[j].value){
        				      location_items[j].selected = true;
        				      location_items[j].quantity = order_items[i].order_quantity;
        				      location_items[j].instructions = order_items[i].order_item_instructions;
        				      location_items[j].id = order_items[i].DT_RowId;
        			     }
    			     }
    		    }
			      jsonStore[location_items[j].value] = location_items[j];
		     }

    	  if (new_or_edit === 'edit'){
    		   $('#order_form_save_btn').text('Update');
    		   var order = pageReturn.tables['order-table'].dt_table.rows({selected:true}).data()[0]
    		   $('input#gen_order_date').val(order.order_date);
    		   $('input#gen_order_deliv_date').val(order.order_delivery_date);
    		   $('textarea#gen_instructions').val(order.order_instructions);
    	  }

    	  jsonStore['new_or_edit'] = new_or_edit;
    	  $('#form_items_data').text(JSON.stringify(jsonStore));
    	  var divs = d3.select('#form_items_div')
	           .append('form')
	           .attr('id','items_chk_form')
	           .selectAll('div')
	           .data(location_items)
	           .enter()
	           .append('div');

	      divs.attr('class','form-check')
	          .append('input')
	          .attr('type','checkbox').attr('class','form-check-input items-select')
	          .attr('value',function (d) {return d.value;})
	          .property('checked', function (d) {return d.selected;})
	          .attr('id',function (d){ return d.value+"-chk";});

	      divs.append('label')
	          .attr('class','form-check-label')
	          .attr('for',function (d) {return d.value+"-chk";})
	          .text(function (d) { return d.label;});

	      divs.append('button')
	          .attr('type','button')
            .attr('class','btn btn-link')
            .attr('id',function (d) { return d.value+"-btn";})
            .style("display","none")
            .on("click", item_chk_form_btn)
            .text('Edit');

	      var alldiv = d3.select('#items_chk_form')
	                     .insert('div',':first-child')
	                     .attr('class','form-check');

	      alldiv.append('input')
	            .attr('type','checkbox')
	            .attr('class','form-check-input items-select all-items-select')
	            .attr('value','all')
	            .attr('id','all-chk');

	      alldiv.append('label')
	            .attr('class','form-check-label')
	            .attr('for','all-chk')
	            .text("Select All");

	      $('#qty_spec_btn').click(function(){
	    	    if (document.getElementById("item_order-form").checkValidity() === false){
	    		     document.getElementById("item_order-form").classList.add('was-validated');
	    	    }else{
	    		     document.getElementById("item_order-form").classList.remove('was-validated');
	    		     var item = get_jsonStore($('#order_item_value').val());
	    		     var priorFldSelect = $('#item_field_update').val();
    	    	   if (priorFldSelect !== 'Select A Field'){
    	    		    var priorVal = $('#inputOrderField').val();
    	    		    item[priorFldSelect] = priorVal;
    	    	   }
	    		     var item_val = $('#order_item_value').val();
            	 var item_qty = $('#validationCustom01').val();
            	 var item_instr = $('#validationCustom03').val();
            	 item.quantity = item_qty;
            	 item.instructions = item_instr;
            	 item.selected = true;
            	 set_jsonStore(item_val,item);
            	 $('#updateItemFieldDiv').hide();
	    		     $('.nav-tabs a[href="#items-order"]').tab('show');
               $('li.nav-item.items_order').show();
            	 $('li.nav-item.gen_order').show();
            	 $('#order_form_save_btn').show();
	    	    }
	      });

	      process_checked_unchecked();
	      $('#order_form_save_btn').click(save_order);
	      $('.items-select').change(function(){
	    	    if ($(this).hasClass('all-items-select') && $(this).prop('checked')){
	    		     // all has been selected
	    		     $('.items-select').prop('checked',true);
	    	    }else if ($(this).hasClass('all-items-select') && !$(this).prop('checked')){
	    		     $('.items-select').prop('checked',false);
	    	    }else if (!$(this).prop('checked')){
	    		     $('.all-items-select').prop('checked',false);
	    	    }
	    	    process_checked_unchecked();
	      });
    }

    function item_chk_form_btn(d){
        $('.nav-tabs a[href="#qty-order"]').tab('show');
        $('li.nav-item.items_order').hide();
        $('li.nav-item.gen_order').hide();
        $('#order_form_save_btn').hide();
        var item = get_jsonStore(d.value);
        $('#order_item_name').text("Plant: "+d.label);
        $('#order_item_value').val(d.value);
        $('#validationCustom01').val(item.quantity);
        $('#validationCustom03').val(item.instructions);
        $('#itemFieldUpdate')
              .find('option')
              .remove()
              .end()
              .append('<option value="Select A Field">Select A Field</option>')
              .val('Select A Field');

        add_item_order_update_options(get_remove_keys());
        $('#itemFieldUpdate').on('change',function(){
            var fldSelect = $(this).find(':selected').val();
            var item = get_jsonStore($('#order_item_value').val());
            if (fldSelect !== 'Select A Field'){
               var priorFldSelect = $('#item_field_update').val();
               if (priorFldSelect !== 'Select A Field'){
                  var priorVal = $('#inputOrderField').val();
                  item[priorFldSelect] = priorVal;
                  $('#option_field__'+priorFldSelect).text(createLabel(priorFldSelect) + ": "+priorVal)
                  set_jsonStore($('#order_item_value').val(),item);
               }
               $('#updateItemFieldDiv').show();
               $('#inputOrderFieldLabel').text(createLabel(fldSelect));
               $('#item_field_update').val(fldSelect);
               var storeField = jmespath.search(storage_items['item_order'].fields,"[?field_name=='"+fldSelect+"'] | [0]");
               if (storeField.isOptionFilled()){
                  var optns = get_option_data_callback(storeField,process_field_option);
                  if (optns.length === 0){
                     optns.push({label: "1: "+item[fldSelect], value: item[fldSelect]})
                  }
                  process_field_option(storeField,optns);
                  $('#inputOrderField').val(item[fldSelect]);
               }else{
                  $('#inputOrderField').replaceWith('<input type="text" class="form-control" id="inputOrderField">');
                  $('#inputOrderField').val(item[fldSelect]);
               }
            }else{
               $('#updateItemFieldDiv').hide();
            }
        });
    }

    function process_field_option(strgField, resp){
    	  console.log(strgField);
    	  console.log(resp);
    	  if (resp.length > 1){
    		   $('#text_update_spinner').hide();
    	  }
    	  $('#inputOrderField').replaceWith('<select class="form-control" id="inputOrderField">');
    	  $.each(resp,function(idx,val){
    		    $('#inputOrderField').append($('<option>',{
    			     value: val.value,
    			     text: val.label
    		    }));
    	  });
    }

    function get_remove_keys(){
    	  var no_update = ["label", "value", "selected", "Availability",  "CO_Case_Num", "CO_Item_Num", "Collection",
    		                 "Cust_Item_Num", "DT_RowId", "Item_Num", "Product_Name","quantity","instructions"];
    	  return no_update;
    }

    function add_item_order_update_options(field_skip){
    	  var item = get_jsonStore($('#order_item_value').val());
    	  var keys = jmespath.search(storage_items['cust_plant_item'].fields,"[*].field_name")

    	  $.each(keys,function(idx,val){
    		   if ($.inArray(val,field_skip) === -1){
    			    $('#itemFieldUpdate').append($('<option>', {
    			       value: val,
    			       text: createLabel(val) + ": "+get_or_default(item,val,''),
    			       id: 'option_field__'+val
    			    }));
    		   }
    	  });
    }

    function process_checked_unchecked(){
    	  var checked = $('input.form-check-input.items-select:checked');
    	  for (var i=0;i<checked.length;i++){
    		    var btn = $(checked[i]).attr('id').replace('-chk','-btn');
    		    select_jsonStore($(checked[i]).val(),true);
    		    $('#'+btn).show();
    	  }

    	  if(checked.length>0){
    		   $('#order_form_save_btn').show();
    	  }else{
    		   $('#order_form_save_btn').hide();
    	  }

    	  var unchecked = $('input.form-check-input.items-select:not(:checked)');
    	  for (var i=0;i<unchecked.length;i++){
    		    var btn = $(unchecked[i]).attr('id').replace('-chk','-btn');
    		    select_jsonStore($(unchecked[i]).val(),false);
    		    $('#'+btn).hide();
    	  }
    }

    function load_item_table(){
    	  var root_id = $('#inputGroupSelectCust').find(":selected").val();
     	  var parent_id = $('#inputGroupSelectLoc').find(":selected").val();
    	  if (root_id !== 'Choose...' && parent_id !== 'Choose...'){
    		   if ($('#item_div').html().trim() === ""){
    			    $('#item_div').append(item_html);
    		   }
    		   var sc = storage_items['cust_plant_item'];
           var idList = [root_id,parent_id];
           var cpiDTC = new DataTableCreator(idList,sc);
           cpiDTC.create_edit_data_table("item_table_div",['edit','duplicate','remove','view']);
           $('button.btn').on('click',function(){
        	     $('button.close').css('z-index',50);
           });
    	  }else{
    		   $('#loading-indicator').hide();
    	  }
    }
	</script>
{% endblock tail_script %}
