{% extends "base.html" %}
{% block style_block %}
<style>
	.new_button_container {
		display: flex;
		padding-top: 1em;
	}

	.single_new_btn {
		padding-left: .5em;
		padding-right: .5em;
	}
</style>
{% endblock %}

{% block content %}
<div id="page_data" class="page_hide">{{ schema }}</div>
<div id="table_data" class="page_hide">
   <div id="item_div">
   </div>
   <div id="tables_div" class="page_hide">
      <div id="cust_tables_div"></div>
      <div id="loc_tables_div"></div>
   </div>
</div>
<div id="page_header"></div>
<div id="custom_forms" class="page_hide">
	{% include 'custom/new_item_form.html' %}
</div>
<div id="page_display">
<div id="select_section">
  <div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Item Selection</h1>
    <p class="lead">Select the customer and location for which you want to see items or create a new one.</p>
    <!--  ### REMOVED AND REPLACED WITH A MODAL  3/18/2020
	<div id="loader_img_container" class="loader_container"><img src="/static/img/loader_purple.gif" id="loading-indicator" style="display:none" /></div>
	<div id="loader_img_container_mstr" class="loader_container_mstr"><img src="/static/img/loader_purple.gif" id="loading-indicator-mstr" style="display:none" /></div>
     -->
    <hr class="my-4">
    <div class="input-group mb-3" id='customer_select_div'>
    <div class="input-group-prepend">
      <label class="input-group-text" for="inputGroupSelectCust">Customer Select</label>
    </div>
    <select class="custom-select customer_select1" id="inputGroupSelectCust">
      <option id="cust_select_1" selected="selected">Choose...</option>
      <option class="cust_select_option" value="1">Jack</option>
      <option class="cust_select_option" value="2">Jordan</option>
      <option class="cust_select_option" value="3">Jeremy</option>
    </select>
  </div>
  <div class="input-group mb-3" id='location_select_div'>
    <div class="input-group-prepend">
      <label class="input-group-text" for="inputGroupSelectLoc">Location Select</label>
    </div>
    <select class="custom-select location_select1" id="inputGroupSelectLoc">
      <option id="loc_select_1" selected>Choose...</option>
    </select>
  </div>
  </div>
  </div>
</div>
<div id="download_buttons" class="new_button_container">
	<div class="single_new_btn" id="download_all"><button type="button" id="download_all_btn" class="btn btn-primary">Download All Items</button></div>
	<div class="single_new_btn" id="download_customer" style="display: none;"><button type="button" id="download_customer_btn" class="btn btn-primary">Download Customer Items</button></div>
	<div class="single_new_btn" id="download_location" style="display: none;"><button type="button" id="download_location_btn" class="btn btn-primary">Download Location Items</button></div>
</div>
<div id="item_table_div"></div>
</div>
{% endblock content %}

{% block footer %}

{% endblock footer %}

{% block tail_script %}
    <script>
		var input = document.getElementById('plant_item_upload');
        var infoArea = document.getElementById('plant_item_upload-label');
 
        input.addEventListener('change', showFileName);
    // For this page, table information will be loaded in the hidden div
    // First table will be a list of customers
    //   Once selected... that will call out to load the locations (delete the existing data in that table... use the data tables api)
    //   then once the location is selected, items are loaded for that location...
    // first need the number field
    var dt_url = '/storage_blob/dt_update';
    var item_html = $('#item_div').html();
    var master_data = null;
	var selected_item = null;
	var loaded_items = null;

    //var newCollection = null;  // this information comes from the master, for a customer specific item.. it must be assigned.
    var newProductName = null;

    var itemSort = function(a,b) {
        return ((a.Product_Name < b.Product_Name) ? -1 : ((a.Product_Name > b.Product_Name) ? 1 : 0))}
    $('#item_div').empty();
    $(document).ready(function(){
    	chkImageLoad();
    	pageData = JSON.parse($('#page_data').text().trim());
		//$('#loading-indicator-mstr').show();
		add_loading('loading-indicator-mstr')
    	$.get('/get_master_data').done(function(info){
    	    master_data = info;
    	    master_data.master_items.sort(itemSort);
			//$('#loading-indicator-mstr').hide();
			remove_loading('loading-indicator-mstr')
    	});
    	var page_info = get_or_default(pageReturn,'page',{});
    	page_info['curr_page'] = {location:'/customer_items/', args: get_request_args()};
    	page_info['prev_page'] = [];
    	pageReturn['page'] = page_info;
      pageReturn.page.curr_page['page_data'] = pageData;
      pageReturn['tables'] = {};
      init_fields();
      pageSc = create_container(pageData.schema);
      //pageSc.storage_url = dt_url + "?model_name=customer";
    	schemaLookup = process_container(pageSc);
      var custDTC = new DataTableCreator('',pageSc);
      custDTC.create_edit_data_table('tables_div',['create','edit','duplicate','remove','view']);
	  //$('#loading-indicator').show();
	  add_loading('loading-indicator');

      custDTC.dt_table.on('init',function(){
        	create_cust_options();
        	load_location_table();
      });

      custDTC.dt_editor.on('create',function(){
        	create_cust_options();
	  });
	  
	  $('#download_all_btn').click(function(){
			_send_download_request({});
		});

      $('#inputGroupSelectCust').change(function(){
		    console.log($(this).val())
        	if($(this).val() === "__new__"){
        		pageReturn.tables['customer-table'].dt_editor
        		                                   .title( 'Add New Customer' )
        	                                       .buttons( 'Save' )
        	                                       .create();
        		$('#loc_tables_div').empty();
        		$('#item_table_div').empty();
        		$('button.close').css('z-index',50);
        	}else{
				//$('#loading-indicator').show();
				$('div#download_customer').show();
				add_loading('loading-indicator');
        		$('#loc_tables_div').empty();
        		$('#item_table_div').empty();
        		load_location_table();
        	}

		});
		
		$('#download_customer_btn').click(function(){
			var options = {customer_id: $('#inputGroupSelectCust').val()};
			_send_download_request(options);
		});

        $('#inputGroupSelectLoc').change(function(){
			console.log($(this).val())
        	if($(this).val() === "__new__"){
        		pageReturn.tables['location-table'].dt_editor
        		                                   .title( 'Add New Location' )
                                                   .buttons( 'Save' )
                                                   .create();
        		$('#item_table_div').empty();
        		$('button.close').css('z-index',50);
        	}else{
				//$('#loading-indicator').show();
				$('div#download_location').show();
				add_loading('loading-indicator');
        		$('#item_table_div').empty();
        		load_item_table();
        	}
		});
		
		$('#download_location_btn').click(function(){
			var options = {customer_id: $('#inputGroupSelectCust').val(),
		                   location_id: $('#inputGroupSelectLoc').val()};
			_send_download_request(options);
		});

        $('button.btn').on('click',function(){
    		$('button.close').css('z-index',50);
    	});

	});

	function _send_download_request(options){
		var customer_id = get_or_default(options,'customer_id',null)
		var location_id = get_or_default(options,'location_id',null)
		var url = '/pubsub/download'
		if (isNotNull(customer_id)){
			url = url+'?customer_id='+customer_id;
		}
		if (isNotNull(location_id)){
			url = url+'&location_id='+location_id;
		}
		add_loading('SendDownload')
		var ic = {
			 url: url,
			 error: __handle_ajax_error,
			 success: function(resp){
				 remove_loading("SendDownload");
				 modal.open({content:'<p>Your download will be emailed to you in the next <strong>5</strong> minutes!</p>'});
			 },
			 dataType: 'json'
		};
		$.get(ic);
	}
	
	/**
	 * There was an error..
	 * 1. Pop the modal and show some information
	 * 2. Give the user an opportunity to notify an admin
	 * @param {*} response 
	 */
	 function __handle_ajax_error(response) {
			modal.close();
			console.log("Error...");
			var rawErr = response.responseJSON.error;
			var today = new Date();
			var date = today.getFullYear() + '-' + (today.getMonth() + 1) + '-' + today.getDate();
			var time = today.getHours() + ":" + today.getMinutes() + ":" + today.getSeconds();
			var errTime = date + " " + time;
			var err = rawErr.replace(/(\r\n|\n|\r)/g, "<br />");
			var errHtml = "<div><div><h3>ERROR SAVING..</h3></div><div><p>" + err + "</p></div></div>";
			var notify = '<div><a href="#" onclick="system_error_notification(\'' + escape(rawErr) + '\',\'' + errTime + '\')">Notify System Admin</a></div>';
			modal.open({ content: errHtml + notify });
			modal.center();
		}

	function process_cust_loc_results(entities, fieldName){
		var ret = [];
		entities.forEach(entity => {
			ret.push({id: entity.data_number_lookup, name: entity[fieldName]});
		});
		return ret;
	}
	
	function get_customer_items(location_id,callback){
		var ic = {
			 url: '/storage_blob/dt_update?model_name=items&parent_id='+location_id,
			 error: __handle_ajax_error,
			 success: callback,
			 dataType: 'json'
		};
		$.get(ic);
	}

	function get_customer_locations(customer_id,callback){
		var ic = {
			 url: '/storage_blob/dt_update?model_name=locations&parent_id='+customer_id,
			 error: __handle_ajax_error,
			 success: callback,
			 dataType: 'json'
		};
		$.get(ic);
	}


    function create_cust_options(){
    	var rows = pageReturn.tables['customer-table'].dt_table.data();
    	$('.cust_select_option').remove();
    	$('#cust_select_1').after('<option id="row_new" class="cust_select_option" value="__new__">create new customer</option>');
    	for(var i=0;i<rows.length;i++){
    		$('#cust_select_1').after('<option id="row_'+i+'" class="cust_select_option" value="'+rows[i].DT_RowId+'">'+rows[i].customer_name+'</option>');
    	}

    	$('#inputGroupSelectCust').select2({
  		  placeholder: 'Choose...',
		  sorter: dropDownSort,
		  width: 'resolve'
	    });

    }

    function load_location_table(){
    	var root_id = $('#inputGroupSelectCust').find(":selected").val();

    	if (root_id !== 'Choose...' && root_id !== undefined){
    		  var sc = storage_items['location'];
          var locDTC = new DataTableCreator(root_id,sc);
          locDTC.create_edit_data_table("loc_tables_div",['create','edit','duplicate','remove','view']);
          locDTC.dt_table.on('init',function(){
            	create_loc_options();
            	load_item_table();
            });

            locDTC.dt_editor.on('create',function(){
            	create_loc_options();
            });
    	}else{
			//$('#loading-indicator').hide();
			remove_loading('loading-indicator');
    	}
    }

    function create_loc_options(){
    	var rows = pageReturn.tables['location-table'].dt_table.data();
    	$('.loc_select_option').remove();
    	$('#loc_select_1').after('<option id="loc_row_new" class="loc_select_option" value="__new__">create new location</option>');
    	for(var i=0;i<rows.length;i++){
    		$('#loc_select_1').after('<option id="loc_row_'+i+'" class="loc_select_option" value="'+rows[i].DT_RowId+'">'+rows[i].location_name+'</option>');
    	}

    	$('#inputGroupSelectLoc').select2({
    		  placeholder: 'Choose...',
    		  sorter: dropDownSort,
    		  width: 'resolve'
    	});

	}
	
	function copy_from_customer(){
		var detached = d3.select(document.createElement("div"));
		var workingDiv = detached.append('div');
		var custs = pageReturn.tables['customer-table'].dt_table.data();
		var cust_data = [];

		$.each(custs, function( index, cust ) {
            cust_data.push({id: cust.data_number_lookup,name:cust.customer_name});
        });

		workingDiv.attr('id','modal_div_content');

		var divTop = workingDiv.append("div")
	 	        .attr('class','input-group mb-3');

	 	divTop.append('div')
	 	        .attr('class','input-group-prepend')
	 	        .append('label')
	 	        .attr('class','input-group-text')
	 	        .attr('for','inputCustomerSelect')
				 .text('Customer Name: ');
				 
		divTop.append('select')
	 	        .attr('class','custom-select customer-item-select')
	 	        .attr('id','inputCustomerSelect')
	 	        .selectAll('option')
	 	        .data(cust_data).enter()
	 	        .append('option')
	 	        .attr('class','customer-item-select')
	 	        .property('value',function (d) {return d.id;})
				 .text(function (d) { return d.name;});
		callback = function(){console.log("Closing customer thing..");};
		
		modal.open({content: detached.html()},callback);
		modal.center();
		 
		 $('select#inputCustomerSelect').select2({
    		  placeholder: 'Choose...',
    		  sorter: dropDownSort,
    		  width: 'resolve'
		  });

		  $('select#inputCustomerSelect').val(null).trigger('change');
		  
		  $('select#inputCustomerSelect').change(copy_from_load_locations);
	}

	function copy_from_load_locations(){
		var customer_id = $('.customer-item-select').val();
		add_loading('getting_locations');
		get_customer_locations(customer_id,copy_from_process_locations);
	}

	function copy_from_process_locations(results){
		remove_loading('getting_locations');
		var locations = process_cust_loc_results(results.data,'location_name');
		copy_from__locations('modal_div_content',locations);
	}

	function copy_from_location(){
		var detached = d3.select(document.createElement("div"));

		var workingDiv = detached.append('div');

		workingDiv.attr('id','modal_div_content');

		callback = function(){console.log("Closing location thing..");};
		modal.open({content: detached.html()},callback);
		modal.center();

		var locs = pageReturn.tables['location-table'].dt_table.data();
		var loc_data = [];

		$.each(locs, function( index, loc ) {
            loc_data.push({id: loc.data_number_lookup,name:loc.location_name});
		});
		copy_from__locations('modal_div_content',loc_data);
	}

	function copy_from__locations(divElementId, locations){
		$('#copyFrom_Locations').remove();
		$('#copyFrom_Items').remove();
		var divElement = d3.select('#'+divElementId);
		var divTop = divElement.append("div")
				.attr('id','copyFrom_Locations')
	 	        .attr('class','input-group mb-3');

	 	divTop.append('div')
	 	        .attr('class','input-group-prepend')
	 	        .append('label')
	 	        .attr('class','input-group-text')
	 	        .attr('for','inputLocationSelect')
				 .text('Location Name: ');
				 
		divTop.append('select')
	 	        .attr('class','custom-select location-item-select')
	 	        .attr('id','inputLocationSelect')
	 	        .selectAll('option')
	 	        .data(locations).enter()
	 	        .append('option')
	 	        .attr('class','location_select_option')
	 	        .property('value',function (d) {return d.id;})
				 .text(function (d) { return d.name;});
		
		 $('select#inputLocationSelect').select2({
    		  placeholder: 'Choose...',
    		  sorter: dropDownSort,
    		  width: 'resolve'
		  });

		  $('select#inputLocationSelect').val(null).trigger("change");
		  
		  $('select#inputLocationSelect').change(copy_from_load_items);
		  modal.center();
	}

	function copy_from_load_items(){
		var location_id = $('.location-item-select').val();
		add_loading('getting_items');
		get_customer_items(location_id,copy_from_process_items);
	}

	function copy_from_process_items(results){
		remove_loading('getting_items');
		loaded_items = results.data;
		var items = process_cust_loc_results(results.data,'Product_Name');
		copy_from__items('modal_div_content',items);
	}

	function copy_from__items(divElementId, items){
		$('#copyFrom_Items').remove();
        var divElement = d3.select('#'+divElementId);
		var divTop = divElement.append("div")
				.attr('id','copyFrom_Items')
				.attr('style','display: flex; flex-direction: column;')
	 	        .attr('class','input-group mb-3');

		   divTop.append('div')
				.attr('id','copyFrom_ItemChild')
				.attr('style','display: flex; flex-direction: row;')
	 	        .attr('class','input-group-prepend')
	 	        .append('label')
	 	        .attr('class','input-group-text')
	 	        .attr('for','inputItemSelection')
	 	        .text('Item Product Name: ')
                .append('select')
	 	        .attr('class','custom-select item-custom-select')
	 	        .attr('id','inputItemSelection')
	 	        .selectAll('option')
	 	        .data(items).enter()
	 	        .append('option')
	 	        .attr('class','item_select_option')
	 	        .property('value',function (d) {return d.id;})
	 	        .text(function (d) { return d.name;});

		  divTop.append('div')
		        .append('button')
	 	        .attr('type','button')
	 	        .attr('id','copyFrom_item_select')
	 	        .attr('class','btn btn-primary')
	 	        .text('Select Item');

	 	  var callback = function(){
	 		  console.log("closed");
	 	  }
	 	  selected_item = null;
	 	  
	 	  $('select#inputItemSelection').select2({
    		  placeholder: 'Choose...',
    		  sorter: dropDownSort,
    		  width: 'resolve'
		  });
		  
		  modal.center();

	 	  $('#copyFrom_item_select').click(function(){
			   var selected_item = $('#inputItemSelection').find(':selected').val();
			   // grab loaded items via jmespath search... should be an array that we can apply a search
			   var grabItem = jmespath.search(loaded_items,"[?data_number_lookup == '"+selected_item+"'] | [0]")
			   var dtc = pageReturn.tables['cust_plant_item-table'];
			   // grab the dtc
			   // call load_show_cpi_form(grabbed_item,dtc,'create')
			   //var location_id = $('.location-item-select').val();  THIS IS THE COPY LOCATION!!!
			   var location_id = $('#inputGroupSelectLoc').find(":selected").val();  // This is the location in the upper boxes
			   var createInfo = {model_name: 'cust_plant_item',parent_id: location_id,collection: 'items'};
			   load_show_cpi_form(grabItem,dtc,'create',createInfo);
 			   modal.close();
	 	  });

		   $('select#inputItemSelection').val(null).trigger("change");
	};

    function copy_item_master(){
    	//newCollection = null;
    	newProductName = null;
		var detached = d3.select(document.createElement("div"));
		var workingDiv = detached.append('div');
		workingDiv.attr("id","modal_div_content");
		callback = function(){console.log("Closing Master thing..");};
		modal.open({content: detached.html()},callback);
		modal.center();  
		var items = process_cust_loc_results(master_data.master_items,'Product_Name');
		loaded_items = master_data.master_items;
		copy_from__items('modal_div_content',items);
    }

    function cust_spec_item(){
    	selected_item = null;
    	//newCollection = null;
    	newProductName = null;

    	var callback = function(){
	 		  console.log("closed");
	 	  }

        var genHtml = ['<div id="cust_spec_entry">',
                       '  <div class="form-group">',
                       '    <label for="newProductName">Product Name</label>',
                       '    <input type="text" class="form-control" id="newProductName" aria-describedby="productHelp" placeholder="Enter Product Name">',
                       '    <small id="productHelp" class="form-text text-muted">What will the product name be for this NEW customer item?</small>',
                       '    <div id="pnBad" class="invalid-feedback">Product Name Can Not be Blank</div>',
                       '  </div>',
                       '  <button type="button" id="cust_spec_btn_next" class="btn btn-primary">Next</button>',
                       '</div>'];

        modal.open({content: genHtml.join(" ")},callback);
	 	modal.center();


	 	   $('#cust_spec_btn_next').click(function(){
	 		     var valid = true;
	 		     //$('#clBad').hide();
	 		     $('#pnBad').hide();


	 		     //newCollection = $('#newCollection').val();
	 		     //if (newCollection === undefined || newCollection === null || newCollection.trim() === ""){
	 			 //     $('#clBad').show();
	 			 //     valid = false;
	 		     //}

	 		     newProductName = $('#newProductName').val();
	 		     if (newProductName === undefined || newProductName === null || newProductName.trim() === ""){
	 			      $('#pnBad').show();
	 			      valid = false;
	 		     }

	 		     if (valid){
	 			     var editor = pageReturn.tables['cust_plant_item-table'].dt_editor;
	 			     editor.title( 'Add New Item' )
                  .buttons( 'Save' )
                  .create();

			       modal.close();
	 		     }
	 	    });
    }

    function load_item_table(){

    	var root_id = $('#inputGroupSelectCust').find(":selected").val();
    	var parent_id = $('#inputGroupSelectLoc').find(":selected").val();
    	if (root_id !== 'Choose...' && parent_id !== 'Choose...' && parent_id !== undefined){
	     add_loading('loading-indicator')
         load_item_table_inner(root_id,parent_id);
    	}else{
			 //$('#loading-indicator').hide();
			 remove_loading('loading-indicator');
    	}
	}

    function load_item_table_inner(root_id, parent_id){
			var mstrBtn = '<div id="new_item_buttons" class="new_button_container"><div class="single_new_btn"><button type="button" id="new_item_btn" class="btn btn-primary">New From Master</button>';
				mstrBtn = mstrBtn + '<small class="form-text text-muted">Create a customer<br> from a Master Item</small></div></div><div id="insert_item_tbl"</div>';
			$('#item_table_div').append(mstrBtn);
			
			var newBtn = '<div class="single_new_btn"><button type="button" id="cust_item_btn" class="btn btn-primary">New Customer Item</button>';
				newBtn = newBtn + '<small class="form-text text-muted">This will be specific<br> to this customer</small></div>';
			$('#new_item_buttons').append(newBtn);

			var newLocBtn = '<div class="single_new_btn"><button type="button" id="loc_item_btn" class="btn btn-primary">New From Other Location</button>';
				newLocBtn = newLocBtn + '<small class="form-text text-muted">Copy an item<br> from another location</small></div>';
			$('#new_item_buttons').append(newLocBtn);

			var otherCustBtn = '<div class="single_new_btn"><button type="button" id="other_cust_btn" class="btn btn-primary">New From Other Customers</button>';
				otherCustBtn = otherCustBtn + '<small class="form-text text-muted">Copy an item <br> from another customer</small></div>';
			$('#new_item_buttons').append(otherCustBtn);

    
    		if( $('#insert_item_tbl').html().trim() === ""){
    			$('#insert_item_tbl').append(item_html);
    		}
    		
			$('#new_item_btn').click(copy_item_master);
			$('#cust_item_btn').click(cust_spec_item);
			$('#other_cust_btn').click(copy_from_customer);
			$('#loc_item_btn').click(copy_from_location);

    		var sc = storage_items['cust_plant_item'];
            var cpiDTC = new DataTableCreator(parent_id,sc,undefined,'customer/'+root_id+'/locations/'+parent_id);
            cpiDTC.create_edit_data_table("item_table_div",['edit','duplicate','remove','cust_item']);
        
            cpiDTC.dt_table.on('init',function(){
			    //$('#loading-indicator').hide();
			    cpiDTC.dt_table.columns().visible(false);
                cpiDTC.dt_table.columns([0,1,2,3,4,5,6]).visible(true);
			    remove_loading('loading-indicator');
            });
            $('button.btn').on('click',function(){
                $('button.close').css('z-index',50);
            });

            cpiDTC.dt_editor.on('open',function(e,mode,action){
            	if (action === 'create'){
          		var editor = pageReturn.tables['cust_plant_item-table'].dt_editor;
          		  if (selected_item=== null){
            			//editor.val('Collection',newCollection);
            			editor.val('Product_Name',newProductName);
            			editor.val('Item_Num','CustomerSpecific');
          		  }else{
            			var item = jmespath.search(master_data,'master_items[?id ==`'+selected_item+'`] | [0]');
            			var keys = storage_items.cust_plant_item.getFieldNames();
            			for (var i=0;i<keys.length;i++){
           				   var key = keys[i];
           				   if (key !== undefined){
           					   editor.val(key, item[key]);
           				   }
           			  }
            	  }
            	}
        });
    }
	</script>
{% endblock tail_script %}
