  <div>
  <h3>Image Uploading Form</h3>
  </div>
  <form action="/upload_image" method="post" enctype="multipart/form-data" id="image_form_upload">
     <div class="form-group">
        <input  class="form-control" type="file" aria-describedby="fileHelp" name="file">
        <small id="fileHelp" class="form-text text-muted">Upload an image for use in this application</small>
        <input type="text" class="form-control" name="name" placeholder="Image Name...">
     </div>
     <div class="form-group">
        <textarea name="description" rows="3" cols="40" aria-describedby="descHelp" placeholder="Description of the file" ></textarea>
        <small id="descHelp" class="form-text text-muted">Write a short description that helps describe the image</small>
     </div>
     <button type="button" class="btn btn-primary" id="imgUploadButton" >Submit</button>
  </form>
