    <div id="item_form">
		<ul class="nav nav-tabs" id="item_tab" role="tablist">
		    <li class="nav-item"><a class="nav-link active" id="img-tab"
		        data-toggle="tab" href="#img" role="tab" aria-controls="img"
		        aria-selected="true">Plant Image</a></li>
			<li class="nav-item"><a class="nav-link" id="item-tab"
				data-toggle="tab" href="#item" role="tab" aria-controls="item"
				aria-selected="false">Item Information</a></li>
			<li class="nav-item"><a class="nav-link" id="case-tab"
				data-toggle="tab" href="#case" role="tab" aria-controls="case"
				aria-selected="false">Case Information</a></li>
			<!--
            <li class="nav-item"><a class="nav-link" id="dim-tab"
				data-toggle="tab" href="#dim" role="tab" aria-controls="dim"
				aria-selected="false">Dimensions</a></li>
			-->
			<li class="nav-item"><a class="nav-link" id="recipe-tab"
			    data-toggle="tab" href="#recipe" role="tab" aria-controls="recipe"
			    aria-selected="false">Recipe</a></li>
			<li class="nav-item"><a class="nav-link" id="price-tab"
				data-toggle="tab" href="#price" role="tab" aria-controls="price"
				aria-selected="false">Price Information</a></li>
      <!--
			<li class="nav-item"><a class="nav-link" id="sales-tab"
				data-toggle="tab" href="#sales" role="tab" aria-controls="sales"
				aria-selected="false">Sales Information</a></li>
      -->
			<li class="nav-item"><a class="nav-link" id="customer-tab"
				data-toggle="tab" href="#customer" role="tab" aria-controls="customer"
				aria-selected="false">Customer Information</a></li>
		</ul>
		<div class="tab-content" id="item-tab-content">
		    <div class="tab-pane fade show active" id="img" role="tabpanel"
		        aria-labelledb="img-tab">
		        <fieldset class="img_info">
		            <legend>Plant Image</legend>
		            <editor-field class="plant_image" name="plant_image"></editor-field>
		        </fieldset>
		    </div>
			<div class="tab-pane fade" id="item" role="tabpanel"
				aria-labelledb="item-tab">
				<fieldset class="item_info">
					<legend>Item Information</legend>
					<!--<editor-field name="Collection"></editor-field>-->
					<editor-field name="Product_Name"></editor-field>
					<editor-field name="Consumer_UPC"></editor-field>
					<editor-field name="Case_UPC"></editor-field>
                    <editor-field name="retail_on_upc"></editor-field>
					<editor-field name="CO_Item_Num"></editor-field>
					<editor-field name="Pack_Size"></editor-field>
					<editor-field name="UPC_Location"></editor-field>
          <editor-field name="Date_Code"></editor-field>
          <editor-field name="Date_Code_Type"></editor-field>
				</fieldset>
			</div>
			<div class="tab-pane fade" id="case" role="tabpanel"
				aria-labelledb="case-tab">
				<fieldset class="case_info">
					<legend>Case Information</legend>
					<editor-field name="CO_Case_Num"></editor-field>
					<editor-field name="Case_Length"></editor-field>
					<editor-field name="Case_Width"></editor-field>
					<editor-field name="Case_Height"></editor-field>
					<editor-field name="Case_Weight_lbs"></editor-field>
					<editor-field name="Cases_Per_Pallet"></editor-field>
                    <editor-field name="Ti"></editor-field>
					<editor-field name="Hi"></editor-field>
					<!--<editor-field name="Case_Quantity"></editor-field>-->
				</fieldset>
			</div>
            <!--
			<div class="tab-pane fade" id="dim" role="tabpanel"
				aria-labelledb="dim-tab">
                    <fieldset class="dimensions">
					<legend>Dimensions</legend>
					<editor-field name="Pot_Size_Oz"></editor-field>
					<editor-field name="Pot_Size_ML"></editor-field>
				</fieldset>
			</div>
			-->
			<div class="tab-pane fade" id="recipe" role="tabpanel" aria-labelledb="recipe-tab">
			    <fieldset class="recipe">
			       <legend>Recipe</legend>

			       <editor-field name="Tray"></editor-field>
			       <editor-field name="Vase_Style"></editor-field>

			       <editor-field name="Staging"></editor-field>
			       <editor-field name="Assortment"></editor-field>

			       <editor-field name="Grade"></editor-field>
			       <editor-field name="Double_Spike_Percent"></editor-field>

			       <editor-field name="Ethyl_Block"></editor-field>
			       <editor-field name="Heat_Pack"></editor-field>

			       <editor-field name="Tag_Type"></editor-field>
			       <editor-field name="Pick"></editor-field>

			       <editor-field name="Branches"></editor-field>
			       <editor-field name="Top_Dressing"></editor-field>

			       <editor-field name="Special_Instructions_Recipe"></editor-field>
			       <editor-field name="Box"></editor-field>

			       <editor-field name="Insert"></editor-field>
			       <editor-field name="Plants"></editor-field>
			       <!--<editor-field name="POP"></editor-field>-->
			       <editor-field name="Sleeve"></editor-field>
			       <editor-field name="Simple_Wick"></editor-field>

			    </fieldset>
			</div>
			<div class="tab-pane fade" id="price" role="tabpanel"
				aria-labelledb="price-tab">
				<fieldset class="costs">
					<legend>Price Information</legend>
					<editor-field name="List_Price"></editor-field>
					<editor-field name="List_Price_FOB_CO"></editor-field>
					<editor-field name="Commission_Pricing"></editor-field>
          <editor-field name="recipe_cost"></editor-field>
          <editor-field name="profit_margin"></editor-field>
				</fieldset>
			</div>
      <!--
			<div class="tab-pane fade" id="sales" role="tabpanel"
				aria-labelledb="sales-tab">
				<fieldset class="sales">
					<legend>Sales Information</legend>
					<editor-field name="Availability"></editor-field>
					<editor-field name="Is_Available_For_Samples"></editor-field>
					<editor-field name="Lead_Time_For_Sample"></editor-field>
				</fieldset>
			</div>
      -->
			<div class="tab-pane fade" id="customer" role="tabpanel"
				aria-labelledb="customer-tab">
				<fieldset class="Customer">
					<legend>Customer Information</legend>
					<editor-field name="customer_item_number"></editor-field>
					<editor-field name="customer_case_number"></editor-field>
					<editor-field name="customer_item_description"></editor-field>
					<editor-field name="retail_price"></editor-field>
				</fieldset>
			</div>
		</div>
	</div>
