{% extends "base.html" %}
{% block style_block %}
<link rel="stylesheet" href="/static/css/jquery-ui.min.css">
<link rel="stylesheet" href="/static/css/jquery-ui.theme.min.css">
<link href="/static/css/lugo.datepicker.css" rel="stylesheet" />
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/searchpanes/1.0.1/css/searchPanes.dataTables.min.css"/>
<style>
    .reserve_top_container {
        display: flex;
        padding-top: 1em;
    }

    .reserve_top_row {
        padding-left: .5em;
        padding-right: .5em;
    }

    .tile {
        width: 100%;
        display: inline-block;
        box-sizing: border-box;
        background: #fff;
        padding: 20px;
        margin-bottom: 10px;
    }

    .title {
        margin-top: 0px;
    }
</style>
{% endblock %}

{% block content %}
<div id="table_data" class="page_hide">
    <div id="item_div">
    </div>
    <div id="tables_div" class="page_hide">
        <div id="cust_tables_div"></div>
        <div id="loc_tables_div"></div>
    </div>
</div>
<div id="page_display">
    <div class="reserve_top_container row">
        <div class="reserve_top_row">
            <span class="tile">
                <h3 class="title">Instructions</h3>
                <p>Select your Date, then customer, location and product</p>
                <p>As you make your selections, the table below will <br>show the reserves for that week and filter
                    based on your picks</p>
                <p>Once you have filtered, you can update an existing... <br>or create a new reserve</p>
            </span>
        </div>
        <div class="reserve_top_row">
            <span class="tile">
                <h3 class="title">Pick Your Date</h3>
                <div id="datepicker" class="datepicker_class"></div>
            </span>
        </div>
        <div class="reserve_top_row">
            <span class="tile">
                <h3 class="title">Filter Reserves</h3>
                <div id="reserve_filters"></div>
            </span>
        </div>
    </div>
    <div id="select_section">
        <input type="checkbox" class="form-check-input" id="Do_Filter_Table" checked>
        <label class="form-check-label" for="Do_Filter_Table">Filter Table Based On Selection</label>
    </div>
    <div id="reserve_table_div" class="table-responsive">
        <table id="reserve_table" class="table"></table>
    </div>
</div>
{% endblock content %}

{% block footer %}

{% endblock footer %}

{% block tail_script %}
<script type="text/javascript" src="https://cdn.datatables.net/searchpanes/1.0.1/js/dataTables.searchPanes.min.js"></script>
<script>
    pageData = JSON.parse({{ schema | tojson }});
    var INV_LOC_DEFAULT = " ( Default )";
    var INV_LOC_OVERRIDE = " ( Overridden )";

    var selectedDate;
    var results_selector = 'reserve_filters';
    var cache_data = {customers: null, locations: {}, items: {}};
    //var customers;
    //var locations;
    //var items;
    var reserves;
    var customInvLoc = null;
    var reserveEdit;
    var columnMapping = { Responsive: {header: "", value_key: "none", id: "none"},
                          Select: {header: "", value_key: "none", id: "none"},
                          Reserve_Date: {header: "Reserve Date", value_key: "reserve_date", id: "none" },
                          Week: {header:"Week",value_key: "finish_week", id: "finish_week"},
                          Customer: {header: "Customer", value_key: "customer", id: "customer_id"},
                          Location: {header: "Location", value_key: "location", id: "location_id"},
                          Item: {header: "Item", value_key: "item_name", id: "item_id"},
                          Total_Reserved: {header: "Total Reserved", value_key: "num_reserved", id: "id"},
                          Inventory_Location: {header: "Inventory Location", value_key: 'inventory_location', id: "id"},
                          System: {header: "System", value_key: "type", id: "id"},
                         // Added_By: {header: "Added By", value_key: "added_by", id: "added_by"},
                         // Added_Date: {header: "Added Date", value_key: "timestamp", id: "added_by"},
                         // Updated_By: {header: "Updated By", value_key: "updated_by", id: "updated_by"},
                         // Update_Date: {header: "Update Date", value_key: "up_timestamp", id: "updated_by"}
                        }

    $(document).ready(function () {
        var page_info = get_or_default(pageReturn, 'page', {});
        page_info['curr_page'] = { location: '/customer_items/', args: get_request_args() };
        page_info['prev_page'] = [];
        pageReturn['page'] = page_info;
        pageReturn.page.curr_page['page_data'] = pageData;
        pageReturn['tables'] = {};
        init_fields();
        pageSc = create_container(pageData.schema);
        schemaLookup = process_container(pageSc);

        selectedDate = get_date_fmt();
        setupDatePicker();
        add_loading("customer_data");
        get_customers();
        add_loading("reserves_data");
        get_reserves();
        $('#Do_Filter_Table').on('change',filterChange);
    });

    function get_customers() {
        if (isNotNull(cache_data.customers)){
            main_customer_select_update(cache_data.customers);
        }else{
            var ic = {
                url: '/storage_blob/dt_update?model_name=customer',
                error: __handle_ajax_error,
                success: function(responseData){
                    cache_data.customers = responseData;
                    main_customer_select_update(responseData);
                },
                dataType: 'json'
            };
            $.get(ic);
        }
    }
    
    function get_reserves() {
        var ic = {
            url: '/api/sales_inventory/reserve/getsummary/'+selectedDate,
            error: __handle_ajax_error,
            success: update_reserve_table,
            dataType: 'json'
        };
        $.get(ic);
    }

    function main_get_location_items(){
        var location_id = $('#inputLocationSelect').val();
        get_location_items(main_item_select_update,location_id);
    }

    function modal_get_location_items(){
        var updatedLocation = $('#modal_inputLocationSelect').val();
        if (isNotNull(updatedLocation)){
            reserveEdit.location_id = updatedLocation;
            get_location_items(modal_item_select_update,reserveEdit.location_id);
        }else{
            $('#modal_reserve_items_select').remove();
        }
    }

    function get_location_items(callback, location_id){
        if (isNotNull(cache_data.items[location_id])){
            callback(cache_data.items[location_id]);
        }else{
            add_loading("items_data");
            var ic = {
                url: '/storage_blob/dt_update?model_name=items&parent_id='+location_id,
                error: __handle_ajax_error,
                success: function(responseData){
                    _load_location_items(location_id,callback,responseData);
                },
                dataType: 'json'
            };
            $.get(ic);
        }
    }

    function _load_location_items(location_id, callback, responseData){
        cache_data.items[location_id] = responseData;
        callback(responseData);
    }

    function delete_reserve(){
        add_loading("delete_reserve");
        var ic = {
            url: '/api/sales_inventory/reserve/delete/'+reserveEdit.reserve_id,
            error: __handle_ajax_error,
            success: function (resp){
                var new_reserves = [];
                reserves.forEach(reserve=>{
                    if (reserve.id !== reserveEdit.reserve_id){
                        new_reserves.push(reserve);
                    }
                });
                reserves = new_reserves;
                checkFilter();
                remove_loading("delete_reserve");
                modal.close();
            },
            dataType: 'json'
        };
        $.get(ic);
    }

    function copy_reserve(d, idx){
        modal.close();
        modal.open({content:'<div><h4>Copying In Progress...</h4></div><div id="copy_status"></div>'});
        add_loading("copy_reserve_"+idx);
        var callback = function(resp){
            $('div#copy_status').empty();
            $('div#copy_status').append("<p>Completed copy for week: "+(idx+1)+"</p>");
            remove_loading("copy_reserve_"+idx);
            if (Object.keys(modal_loading).length === 0){
                modal.close();
            }
        }
        var newReserveDate = d3.isoParse(d.reserve_date.split("+")[0]);
        newReserveDate.setDate(newReserveDate.getDate()+(7*(idx+1)));
        var copyReserve = __create_create_payload(d.customer_id,d.location_id,d.item_id,d.num_reserved,newReserveDate,d.inventory_location);
        __call_create_reserve(copyReserve,callback);
    }

    function setup_modal_reserve_edit(){
        var mHtml = '<div id="edit_reserve_div"></div>';
        modal.open({content:mHtml},function (){reserveEdit=null;});
        add_loading("customer_data");
        modal_customer_select_update();
    }

    function setup_modal_reserve_copy(selection) {
            if (isNull(selection.reserve_date)) {
                var noHtml = '<div id="copy_reserve_div"><h4>Reserve Date Invalid</h4><p>The reserve you are copying does not have a valid reserve date, fix that and try to copy</p></div>';
                modal.open({content:noHtml});
                modal.center();
            } else {
                var mHtml = '<div id="copy_reserve_div"><div id="copy_question"></div><div id="copy_button"></div></div>';
                modal.open({ content: mHtml });
                var divQuest = d3.select('#copy_question');
                divQuest.append('h3')
                    .text('Copy Reserve');
                divQuest.append('p')
                    .text('How many weeks do you want to copy this reserve forward?');

                var divButton = d3.select('#copy_button');
                divButton.append('div')
                    .append('label')
                    .attr('for', 'copy_reserve_times')
                    .text("Num Weeks To Copy: ")
                    .append('input')
                    .attr('class', 'form-control')
                    .attr('id', 'copy_reserve_times')
                    .attr('placeholder', '1');

                $('#copy_reserve_times').val(1);

                divButton.append('button')
                    .attr('class', 'btn btn-primary')
                    .attr('id', 'copy_button_reserve')
                    .attr('type', 'button')
                    .text('Copy');

                $('#copy_button_reserve').on('click', function () {
                    var times = Number($('#copy_reserve_times').val());
                    var i;
                    modal.close();
                    for (i = 0; i < times; i++) {
                        copy_reserve(selection, i);
                    }
                });

                modal.center();
            }
        }

    function setup_modal_reserve_delete(reserve_id){
        reserveEdit = {reserve_id: reserve_id}
        var mHtml = '<div id="delete_reserve_div"><div id="delete_question"></div><div id="delete_button"></div></div>';
        modal.open({content:mHtml},function (){reserveEdit = null;});
        var divQuest = d3.select('#delete_question');
        var divButton = d3.select('#delete_button');
        divQuest.append('h3')
                .text("Confirm Delete")
        divQuest.append('p')
                .text("Are you sure you want to delete this Reserve?");

        divButton.append('button')
                 .attr('class','btn btn-primary')
                 .attr('type','button')
                 .text('Yes, Delete')
                 .on('click',delete_reserve);

        divButton.append('button')
                 .attr('class','btn btn-primary')
                 .attr('type','button')
                 .text('No')
                 .on('click',function(){modal.close();})
        modal.center();
    }

    function update_reserve_item(){
        var updatedItem = $('#modal_inputItemSelection').val();
        if (isNotNull(updatedItem)){
            reserveEdit.item_id = updatedItem;
            $('#modal_new_item_reserve').prop('disabled',false);
        }else{
            $('#modal_new_item_reserve').prop('disabled',true);
        }
    }

    function main_get_customer_locations(){
        var customer_id = $('#inputCustomerSelect').val();
        get_customer_locations(main_location_select_update,customer_id);
    }

    function modal_get_customer_locations(){
        var updatedCustomer = $('#modal_inputCustomerSelect').val();
        if (isNotNull(updatedCustomer)){
            reserveEdit.customer_id = updatedCustomer;
            get_customer_locations(modal_location_select_update,reserveEdit.customer_id);
        }
        else{
            $('#modal_reserve_location_select').remove();
            $('#modal_reserve_items_select').remove();
        }
    }
    
    function get_customer_locations(callback,customer_id){
        if (isNotNull(cache_data.locations[customer_id])){
            callback(cache_data.locations[customer_id]);
        }else{
            add_loading("locations_data");
            var ic = {
                url: '/storage_blob/dt_update?model_name=locations&parent_id='+customer_id,
                error: __handle_ajax_error,
                success: function(responseData){
                    _load_customer_locations(customer_id,callback,responseData);
                },
                dataType: 'json'
            };
            $.get(ic);
        }
    }

    function _load_customer_locations(cust_id, callback, responseData){
        cache_data['locations'][cust_id] = responseData;
        callback(responseData);
    }

    function process_cust_loc_results(entities, fieldName){
		var ret = [];
		entities.forEach(entity => {
			ret.push({id: entity.data_number_lookup, name: entity[fieldName]});
		});
		return ret;
    }
    
    function main_customer_select_update(response){
        customer_select_update(results_selector,"",main_get_customer_locations);
    }

    function modal_customer_select_update(){
        customer_select_update('edit_reserve_div',"modal_",modal_get_customer_locations);
        $('#modal_inputCustomerSelect').val(reserveEdit.customer_id).trigger('change');
        modal.center();
    }

    function customer_select_update(divId,prefix,callback){
        customer_drop_down(divId,process_cust_loc_results(cache_data.customers.data,'customer_name'),prefix,callback);
        remove_loading("customer_data");
    }

    function main_location_select_update(response){
        location_select_update(results_selector,response.data,"",main_get_location_items);
    }

    function modal_location_select_update(response){
        location_select_update('edit_reserve_div',response.data,"modal_",modal_get_location_items);
        $('#modal_inputLocationSelect').val(reserveEdit.location_id).trigger('change');
        modal.center();
    }


    function location_select_update(div_id, inputLocations,prefix, callback){
        location_drop_down(div_id,process_cust_loc_results(inputLocations,'location_name'),prefix,callback);
        remove_loading("locations_data");
        checkFilter();
    }

    function main_item_select_update(response){
        selected_item = null;
        item_select_update(results_selector,response.data,"",main_item_select_change,filter_button_click);
        checkFilter();
        $('#new_item_reserve').prop('disabled',true); // set the main as disabled
    }

    function modal_item_select_update(response){
        item_select_update('edit_reserve_div',response.data,"modal_",update_reserve_item,send_api_reserve_update);
        $('#modal_inputItemSelection').val(reserveEdit.item_id).trigger('change');
        $('#edit_reserve_qty').val(reserveEdit.num_reserved);
        $('#edit_reserve_date').datepicker();
        $('#edit_reserve_date').datepicker("option", "dateFormat", 'yy-mm-dd' );
        var dtVal = ''
        if (isNotNull(reserveEdit.reserve_date)){
            dtVal = get_date_fmt(d3.isoParse(reserveEdit.reserve_date.split("+")[0]))
        }
        $('#edit_reserve_date').val(dtVal);
        modal.center();
    }

    function main_item_select_change(){
        var item_id = $('#inputItemSelection').val();
        if(isNotNull(item_id)){
            $('#new_item_reserve').prop('disabled',false);
        }else{
            $('#new_item_reserve').prop('disabled',true);
        }
        checkFilter();
    }

    function item_select_update(divId, inputItems,prefix, callback, buttonClickCallback){
        items_drop_down(divId,process_cust_loc_results(inputItems,'Product_Name'),prefix,callback,buttonClickCallback);
        remove_loading("items_data");
    }

    function send_api_reserve_update(){
        add_loading("reserve_update");
        var qty = $('#edit_reserve_qty').val();
        var cust_id = $('#modal_inputCustomerSelect').val();
        var loc_id = $('#modal_inputLocationSelect').val();
        var rsvDt = $('#edit_reserve_date').val();
        var item_id = $('#modal_inputItemSelection').val();
        var inv_loc_text = $('#reserve_inv_loc_def').text();
        var inv_loc;

        if (inv_loc_text === INV_LOC_DEFAULT){
            inv_loc = null;
        } else {
            inv_loc = $('#reserve_inv_loc_val').text();
        }

        var updateData = {reserve_id: reserveEdit.reserve_id,
                          reserve_date: rsvDt, 
                          num_reserved: qty,
                          customer_id: cust_id, 
                          location_id: loc_id, 
                          item_id: item_id,
                          inventory_location: inv_loc};

        var ajaxOptions = {
            url:'/api/sales_inventory/reserve/update',
            type:'post',data:JSON.stringify(updateData),
            error: __handle_ajax_error,
			success: _update_success_callback,
            contentType: "application/json"};
        $.ajax(ajaxOptions);
    }

    function _update_success_callback(response){
        //console.log(response);
        var new_reserves = [];
        var keepUpdate = true;
        var holdReserveEdit = reserveEdit;
        modal.close();
        if (response.id !== holdReserveEdit.reserve_id){
            if (holdReserveEdit.reserve_date !== response.reserve_date){
                var noticeHtml = '<div><h3>Reserve Moved!!</h3><p>The update to <strong>Reserve Date</strong> from "'+holdReserveEdit.reserve_date+'" to "'+response.reserve_date+'", ';
                noticeHtml = noticeHtml + 'caused this reserve to move to week: <strong>'+response.finish_week+'</strong></p></div>';
                modal.open({content: noticeHtml});
                keepUpdate = false;
            }
            if (holdReserveEdit.inventory_location !== response.inventory_location){
                var noticeHtml = '<div><h3>Reserve Inventory Location Updated!!</h3><p>The inventory location changed from "'+holdReserveEdit.inventory_location+'" to "'+response.inventory_location+'", ';
                noticeHtml = noticeHtml + 'caused this reserve to update inventory levels for both "'+holdReserveEdit.inventory_location+'" (reserves reduced) and "'+response.inventory_location+'" (reserves increased)</p>';
                noticeHtml = noticeHtml + '<p>Please allow approximately 5 to 10 minutes for inventory levels to update</p></div>'
                modal.open({content: noticeHtml});
            }
        }
        reserves.forEach(function (reserve, i){
            if (reserve.id === holdReserveEdit.reserve_id){
                if (keepUpdate){
                    new_reserves.push(response);
                }
            }else{
                new_reserves.push(reserve);
            }
        });
        reserves = new_reserves;
        checkFilter();
        remove_loading("reserve_update"); 
    }

    function update_reserve_table(response){
        reserves = response;
        remove_loading('reserves_data');
        process_reserves(reserves);
        $('#reserve_location_select').remove();
        $('#reserve_items_select').remove();
        $('select#inputCustomerSelect').val(null).trigger('change');
    }

    function _get_date_from_finish_week(inputWeek){
        var parts = inputWeek.split("_");
        var w = Number(parts[1]);
        var y = Number(parts[0]);
        var simple = new Date(y, 0, 1 + (w - 1) * 7);
        var dow = simple.getDay();
        var ISOweekStart = simple;
        if (dow <= 4)
            ISOweekStart.setDate(simple.getDate() - simple.getDay() + 1);
        else
            ISOweekStart.setDate(simple.getDate() + 8 - simple.getDay());
        return ISOweekStart.toISOString();
    }

    function process_reserves(inReserves){
        add_loading('build_reserve_table');
        $('#reserve_table_div').empty();
        $('#reserve_table_div').append('<table id="reserve_table"></table>');
        build_reserve_table(inReserves);
        $('#reserve_table').DataTable({
            dom: 'Bfrtip',
            buttons: [
                    {
                       extend: 'selected',
                       text: 'Edit',
                       action: function ( e, dt, button, config ) {
                          var selection = jmespath.search(reserves,"[?id == '"+dt.row({selected:true}).id()+"'] | [0]");
                          var calcResDate = _get_date_from_finish_week(selection.finish_week);
                          var rDate = get_or_default(selection,'reserve_date',calcResDate);
                          if (isNull(rDate)){
                              rDate = calcResDate;
                          }
                          reserveEdit = {reserve_id: selection.id,
                                         num_reserved: selection.num_reserved,
                                         location_id: selection.location_id,
                                         customer_id: selection.customer_id,
                                         item_id: selection.item_id,
                                         inventory_location: selection.inventory_location,
                                         reserve_date: rDate}
                          //console.log(reserveEdit);
                          setup_modal_reserve_edit();
                        }
                    },
                    {
                        extend: 'selected',
                        text: 'Delete',
                        action: function (e, dt, button, config){
                            var selection = jmespath.search(reserves,"[?id == '"+dt.row({selected:true}).id()+"'] | [0]");
                            setup_modal_reserve_delete(selection.id);
                        }
                    },
                    {
                        extend: 'selected',
                        text: 'Copy',
                        action: function (e, dt, button, config){
                            var selection = jmespath.search(reserves,"[?id == '"+dt.row({selected:true}).id()+"'] | [0]");
                            setup_modal_reserve_copy(selection);
                        }
                    }
            ],
            responsive: true,
            columnDefs: [ {
                         orderable: false,
                         className: 'select-checkbox',
                         targets:   1
                       } ],
             select: {
                         style:    'single',
                         selector: 'td:nth-child(2)'
                    },
             order: [[ 1, 'asc' ]]
            });
        remove_loading('build_reserve_table');
    }

    function filterChange(){
        if ($('#Do_Filter_Table').is(":checked")){
            do_filter_reserves();
        }else{
            process_reserves(reserves);
        }
    }

    function checkFilter(){
        if ($('#Do_Filter_Table').is(":checked")){
            do_filter_reserves();
        }
    }

    function do_filter_reserves(){
        //var customer_id = $('.customer-item-select').val();
        //var location_id = $('.location-item-select').val();
        //var item_id = $('.item-custom-select').val();
        var customer_id = $('#inputCustomerSelect').val();
        var location_id = $('#inputLocationSelect').val();
        var item_id = $('#inputItemSelection').val();

        var filReserves = reserves;
        if (isNotNull(customer_id)){
            filReserves = jmespath.search(filReserves,"[?customer_id == '"+customer_id+"']");
        }
        if (isNotNull(location_id)){
            filReserves = jmespath.search(filReserves,"[?location_id == '"+location_id+"']");
        }
        if (isNotNull(item_id)){
            filReserves = jmespath.search(filReserves,"[?item_id == '"+item_id+"']");
        }
        process_reserves(filReserves);
    }

    function build_reserve_table(inReserves){
        $('#reserve_table').empty();
        var table = d3.select('#reserve_table')
            , columnNames = Object.keys(columnMapping)
            , thead = table.append('thead')
            , tbody = table.append('tbody');

        table.attr('class',"table table-striped table-bordered dt-responsive nowrap")
             .attr("cellspacing", "0")
			 .attr("width", "100%")
        
        thead.append('tr')
             .selectAll('th')
             .data(columnNames).enter()
             .append('th')
             .attr('id',function (column) {return column;})
             .text(function (column) {return columnMapping[column].header;});

        var rows = tbody.selectAll('tr')
           .data(inReserves)
           .enter()
           .append('tr')
           .attr('id',function (d){return d.id});
        
        var cells = rows.selectAll('td')
           .data(_map_row_data)
           .enter()
           .append('td')
           .attr('id',function (d) { return d._id})
           .text(function(d) { return d.value;});
        
        return table
    }

    function _map_row_data(row){
        var columnNames = Object.keys(columnMapping);
        return columnNames.map(function (column) {return _map_single_column(column,row);});
    }

    function _map_single_column(column, row){
        var value = jmespath.search(row, columnMapping[column].value_key);
        var hdr = columnMapping[column].header;
        var _id = jmespath.search(row,columnMapping[column].id);
        if (column === "Update_Date" || column === "Added_Date" || column === "Reserve_Date"){
            if (isNotNull(value)){
                value = get_date_fmt(d3.isoParse(value.split("+")[0]));
            }
        }
        return {column_key: column, column_hdr: hdr, value: value, _id: _id};
    }

    function _clear_filter_select(selectId){
        clear_select2_selection(selectId);
        checkFilter();
    }

    function setupDatePicker() {
        $("#datepicker").datepicker({
            inline: true,
            showOtherMonths: true,
            onSelect: function (dateText, inst) {
                var date = $(this).val();
                var parseTime = d3.timeParse('%m/%d/%Y');
                selectedDate = get_date_fmt(parseTime(date));
                add_loading("reserves_data");
                get_reserves();
            }
        }).datepicker('widget').wrap('<div class="ll-skin-lugo"/>');
    }

    function customer_drop_down(init_div, cust_data,id_prefix, chg_callback) {
        var workingDiv = d3.select('#'+init_div);
        var selectRefID = id_prefix+'inputCustomerSelect'
        var divTop = workingDiv.append("div")
            .attr('class', 'input-group mb-3')
            .attr('id', id_prefix+'customer_select_div');

        divTop.append('div')
            .attr('class', 'input-group-prepend')
            .append('label')
            .attr('class', 'input-group-text')
            .attr('for', selectRefID)
            .text('Customer Name: ');

        divTop.append('select')
            .attr('class', 'custom-select customer-item-select')
            .attr('id', selectRefID)
            .selectAll('option')
            .data(cust_data).enter()
            .append('option')
            .attr('class', 'customer_select_option')
            .property('value', function (d) { return d.id; })
            .text(function (d) { return d.name; });

        
        $('#'+id_prefix+'customer_select_div').append('<span onclick="clear_select2_selection(\''+selectRefID+'\')" style="cursor: pointer;"><i class="fas fa-times-circle fa-lg"></i></span>');

        $('select#'+selectRefID).select2({
            placeholder: 'Choose...',
            sorter: dropDownSort,
            width: 'resolve'
        });

        $('select#'+selectRefID).val(null).trigger('change');

        $('select#'+selectRefID).change(chg_callback);
    }

    function location_drop_down(div_id, loc_data, id_prefix, chg_callback) {
        $('#'+id_prefix+'reserve_location_select').remove();
        $('#'+id_prefix+'reserve_items_select').remove();
        var divElement = d3.select('#'+div_id);

        var referenceId = id_prefix+'inputLocationSelect';

        var divTop = divElement.append("div")
            .attr('id', id_prefix+'reserve_location_select')
            .attr('class', 'input-group mb-3');

        divTop.append('div')
            .attr('class', 'input-group-prepend')
            .append('label')
            .attr('class', 'input-group-text')
            .attr('for', referenceId)
            .text('Location Name: ');

        divTop.append('select')
            .attr('class', 'custom-select location-item-select')
            .attr('id', referenceId)
            .selectAll('option')
            .data(loc_data).enter()
            .append('option')
            .attr('class', 'location_select_option')
            .property('value', function (d) { return d.id; })
            .text(function (d) { return d.name; });

        $('#'+id_prefix+'reserve_location_select').append('<span onclick="clear_select2_selection(\''+referenceId+'\')" style="cursor: pointer;"><i class="fas fa-times-circle fa-lg"></i></span>');

        $('select#'+referenceId).select2({
            placeholder: 'Choose...',
            sorter: dropDownSort,
            width: 'resolve'
        });

        $('select#'+referenceId).val(null).trigger("change");

        $('select#'+referenceId).change(chg_callback);
    }

    function items_drop_down(div_id, item_data,id_prefix, callback,buttonClickCallback) {
        $('#'+id_prefix+'reserve_items_select').remove();
        var divElement = d3.select('#'+div_id);

        var referenceId = id_prefix + 'inputItemSelection';

        var divTop = divElement.append("div")
            .attr('id', id_prefix + 'reserve_items_select')
            .attr('style', 'display: flex; flex-direction: column;')
            .attr('class', 'input-group mb-3');

        divTop.append('div')
            .attr('id', id_prefix + 'copyFrom_ItemChild')
            .attr('style', 'display: flex; flex-direction: row;')
            .attr('class', 'input-group-prepend')
            .append('label')
            .attr('class', 'input-group-text')
            .attr('for', referenceId)
            .text('Item Product Name: ')
            .append('select')
            .attr('class', 'custom-select item-custom-select')
            .attr('id', referenceId)
            .selectAll('option')
            .data(item_data).enter()
            .append('option')
            .attr('class', 'item_select_option')
            .property('value', function (d) { return d.id; })
            .text(function (d) { return d.name; });

        $('#'+id_prefix+'reserve_items_select').append('<span onclick="clear_select2_selection(\''+referenceId+'\')" style="cursor: pointer;"><i class="fas fa-times-circle fa-lg"></i></span>');

        var buttonText = "Update Reserve";
        var isEdit = true;
        if (id_prefix === ""){
            buttonText = "Create Reserve";
            isEdit = false;
        }else{
            //<label for="exampleInputEmail1">Email address</label>
            //<input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
            //<small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
            divTop.append('div')
                  .append('label')
                  .attr('for','edit_reserve_qty')
                  .text("Number Reserved: ")
                  .append('input')
                  .attr('class','form-control')
                  .attr('id','edit_reserve_qty')
                  .attr('placeholder','1')
                  .on('change',function(){ reserveEdit.num_reserved = $(this).val();})

            $('#edit_reserve_qty').val(reserveEdit.num_reserved);

            divTop.append('div')
                  .append('label')
                  .attr('for','edit_reserve_date')
                  .text("Reserve Date: ")
                  .append('input')
                  .attr('class','form-control')
                  .attr('id','edit_reserve_date')
                  .attr('placeholder','2020-01-01')
                  .on('change',function(){ reserveEdit['reserve_date'] = $(this).val();})
                  .append('small')
                  .attr('class','form-text text-muted')
                  .text('Use the form YYYY-MM-DD, example: 2020-04-29');
            
            customInvLoc = null;
        }
        divTop.append('div')
            .append('button')
            .attr('type', 'button')
            .attr('id', id_prefix + 'new_item_reserve')
            .attr('class', 'btn btn-primary')
            .text(buttonText);

        $('select#'+referenceId).select2({
            placeholder: 'Choose...',
            sorter: dropDownSort,
            width: 'resolve'
        });

        $('#'+id_prefix+'new_item_reserve').click(buttonClickCallback);

        $('select#'+referenceId).val(null).trigger("change");

        $('select#'+referenceId).change(callback);

        if (isEdit){
            var inventory_location = get_inventory_location(reserveEdit.item_id,reserveEdit.location_id, reserveEdit.customer_id,true);
            var locationDef = getLocationDefaultInfo(inventory_location);
            custHtml = [];
            custHtml.push('<div id="crt_invloc_display"><strong>Inventory Location: </strong><span id="reserve_inv_loc_val">'+inventory_location+'</span><span id="reserve_inv_loc_def">'+locationDef.inv_loc_text+'</span><span style="color: green; padding-left: 10px;" id="crt_upd_invloc_edit"><i class="fas fa-edit"></i></span></div>');
            custHtml.push('<div id="crt_invloc_edit" style="display: none;">');
            custHtml.push('<select class="form-control" id="crt_invloc_select">');
            if (inventory_location == 'Virginia'){
                custHtml.push('<option selected>Virginia</option><option>Texas</option>');
            }else{
                custHtml.push('<option>Virginia</option><option selected>Texas</option>');
            }
            custHtml.push('</select><span id="crt_upd_invloc_save" style="color: green; padding-left: 10px;"><i class="fas fa-save"></i><span>');
            custHtml.push('</div>');
            var custInvLocHtml = custHtml.join(' ')
            $('#modal_reserve_items_select').append(custInvLocHtml);
            setup_edit_inv_loc();
        }
    }

    function default_inventory_location(item_id, loc_id, cust_id){
        return _get_inventory_location(item_id,loc_id,cust_id);
    }

    function get_inventory_location(item_id,loc_id,cust_id,edit){
        var defInvLoc = _get_inventory_location(item_id,loc_id,cust_id);
        if (edit){
            if (isNotNull(reserveEdit.inventory_location)){
                if (defInvLoc !== reserveEdit.inventory_location){
                    customInvLoc = reserveEdit.inventory_location;
                    defInvLoc = reserveEdit.inventory_location;
                }
            }
        }

        return defInvLoc;
    }

    function _get_inventory_location(item_id, loc_id,cust_id){
        var items = cache_data.items[loc_id].data;
        var locations = cache_data.locations[cust_id].data;
        var invLoc = jmespath.search(items,"[?id == '"+item_id+"'].inventory_location | [0]");
        if (isNull(invLoc) || isEmpty(invLoc)){
            invLoc = jmespath.search(locations,"[?id == '"+loc_id+"'].inventory_location | [0]");
        }
        return invLoc;
    }

    function filter_button_click() {
        var customer_id = $('#inputCustomerSelect').val();
        var location_id = $('#inputLocationSelect').val();
        var selected_item = $('#inputItemSelection').val();
        customInvLoc = null;
        //var selected_item = $('#inputItemSelection').find(':selected').val();
        //var customer_id = $('.customer-item-select').val();
        //var location_id = $('.location-item-select').val();
        var inventory_location = get_inventory_location(selected_item,location_id,customer_id,false);
        var locationDef = getLocationDefaultInfo(inventory_location);
        var inHtml = '<div><div><label for="reserve_quantity">Specify Quantity</label>'
        inHtml = inHtml + '<input type="text" class="form-control" id="reserve_quantity" placeholder="1"></div>';
        inHtml = inHtml + '<div id="crt_invloc_display"><strong>Inventory Location: </strong><span id="reserve_inv_loc_val">'+inventory_location+'</span><span id="reserve_inv_loc_def">'+locationDef.inv_loc_text+'</span><span style="color: green; padding-left: 10px;" id="crt_upd_invloc_edit"><i class="fas fa-edit"></i></span></div>';
        inHtml = inHtml + '<div id="crt_invloc_edit" style="display: none;">';
        inHtml = inHtml + '<select class="form-control" id="crt_invloc_select">';
        if (inventory_location == 'Virginia'){
            inHtml = inHtml + '<option selected>Virginia</option><option>Texas</option>';
        }else{
            inHtml = inHtml + '<option>Virginia</option><option selected>Texas</option>';
        }
        inHtml = inHtml + '</select><span id="crt_upd_invloc_save" style="color: green; padding-left: 10px;"><i class="fas fa-save"></i><span>'
        inHtml = inHtml + '</div>'
        inHtml = inHtml + '<div><button id="add_reserve_button" type="button" class="btn btn-primary">Add Reserve</button></div></div>';
        modal.open({ content: inHtml })
        setup_edit_inv_loc();
        $('#add_reserve_button').click(function () {
            var qty = $('#reserve_quantity').val()
            var inv_loc_text = $('#reserve_inv_loc_def').text();
            var inv_loc;

            if (inv_loc_text === INV_LOC_DEFAULT){
                inv_loc = null;
            } else {
                inv_loc = $('#reserve_inv_loc_val').text();
            }
            modal.close();
            create_item_reserve(customer_id, location_id, selected_item, qty, selectedDate,inv_loc);
        });
    }

    function getLocationDefaultInfo(newInventoryLocation){
        var customer_id;
        var location_id;
        var selected_item;
        var isOverriden = false;
        if (isNotNull(reserveEdit)){
            selected_item = reserveEdit.item_id;
            location_id = reserveEdit.location_id;
            customer_id = reserveEdit.customer_id;
        } else {
            customer_id = $('#inputCustomerSelect').val();
            location_id = $('#inputLocationSelect').val();
            selected_item = $('#inputItemSelection').val();
        }
        
        var defInvLoc = default_inventory_location(selected_item,location_id, customer_id);
        var locationDef = INV_LOC_DEFAULT;
        if (newInventoryLocation !== defInvLoc){
            isOverriden = true;
            locationDef = INV_LOC_OVERRIDE;
        }
        return {inv_loc_text: locationDef, override: isOverriden};
    }

    function setup_edit_inv_loc(){
        $('#crt_upd_invloc_save').click(function(){
                var customInvLoc = $('#crt_invloc_select').val();
                var locationDef = getLocationDefaultInfo(customInvLoc);
                $('#reserve_inv_loc_val').text(customInvLoc);
                $('#reserve_inv_loc_def').text(locationDef.inv_loc_text);
                //$('#crt_invloc_display').empty();
                //$('#crt_invloc_display').append('<strong>Inventory Location: </strong>'+customInvLoc+'<span style="color: green; padding-left: 10px;" id="crt_upd_invloc_edit"><i class="fas fa-edit"></i></span>');
                $('#crt_invloc_edit').hide();
                $('#crt_invloc_display').show();
        });
        $('#crt_upd_invloc_edit').click(function(){
                $('#crt_invloc_edit').show();
                $('#crt_invloc_display').hide();
        });
    }

    function create_item_reserve(cust_id, loc_id, item_id, qty, reserve_date,inventory_location){
        add_loading("create_reserve");
        var rDate = d3.isoParse(reserve_date.split("+")[0]);
        __call_create_reserve(__create_create_payload(cust_id, loc_id, item_id, qty, rDate, inventory_location),__handle_reserve_resp);
    }
    
    function __create_create_payload(cust_id, loc_id, item_id, qty, reserve_date, inventory_location){

        var defInvLoc = default_inventory_location(item_id,loc_id, cust_id);
        var inv_loc = inventory_location;

        if (defInvLoc === inv_loc){
            inv_loc = null;
        }

        var createData = {reserve_date: reserve_date.toISOString().replace('Z',''), 
                customer_id: cust_id,
                location_id: loc_id,
                item_id: item_id,
                num_reserved: qty,
                inventory_location: inventory_location};

        return createData;
    }

    function __call_create_reserve(inputData, callback){
        var ajaxOptions = {url:'/api/sales_inventory/reserve/create',type:'post',data:JSON.stringify(inputData),contentType: "application/json"};
        ajaxOptions['success'] = callback;
        ajaxOptions['error'] = __handle_ajax_error;
        $.ajax(ajaxOptions);
    }

    function __handle_reserve_resp(response){
        reserves.push(response);
        checkFilter();
        remove_loading('create_reserve');
    }
</script>
{% endblock tail_script %}