{% extends "base.html" %}
{% block style_block %}
<link href="/static/css/item_page.css" rel="stylesheet" />
{% endblock %}

{% block content %}
<div id="page_data" class="page_hide">{{ schema }}</div>
<div id="page_header"></div>
<div id="page_display">
   {% include 'custom/item_form.html' %}
  <div id="table_area">
  </div>
</div>
{% endblock content %}

{% block footer %}

{% endblock footer %}

{% block tail_script %}
    <script>
    // Every table built will return an object of
    // {table_id: <table_id>, dt_table: <datatables obj, path: <jmespath>, dt_editor: <datatables editor obj>}
    // The array will be loaded into an object that will process it and load it in page_tables object
    // This will allow any edited table to back in and understand to which table it belongs
    //
    // Page events will register important information needed for an event that is fired.
    //  for example a new entry is created and we need to know what table this came from
    //
    var item_root_name = "{{ root_name }}";
    var item_root_id = "{{ root_id }}";

    $(document).ready(function(){
    	pageData = JSON.parse($('#page_data').text().trim());

    	//$('#item_form').hide();
		$('#page_header').append("<h1>"+pageData.headers[0]+"</h1>");
		$('#page_header').append("<h3>"+pageData.headers[1]+"</h3>");
		pageReturn['page'] = get_or_default(pageReturn,'page',{});
		pageReturn['tables'] = {};

		pageSc = create_container(pageData.schema);
		schemaLookup = process_container(pageSc);
		var container = jmespath.search(pageSc.fields,"[?group_name == '"+pageData.group+"'] | [0]").structure;
    var dtc = new DataTableCreator(pageData.args.parent_id,container);
    dtc.create_edit_data_table("table_area",['create','edit','duplicate','remove','view']);
    $('button.btn').on('click',function(){
    		$('button.close').css('z-index',50);

    });
    chkImageLoad();
    });
	</script>
{% endblock tail_script %}
