{% extends "base.html" %}
{% block style_block %}
<style>
	.new_button_container {
		display: flex;
		padding-top: 1em;
	}

	.single_new_btn {
		padding-left: .5em;
		padding-right: .5em;
	}
</style>
{% endblock %}

{% block content %}
<div id="page_data" class="page_hide">{{ schema }}</div>
<div id="table_data" class="page_hide">
	<div id="item_div">
	</div>
	<div id="tables_div" class="page_hide">
		<div id="cust_tables_div"></div>
		<div id="loc_tables_div"></div>
	</div>
</div>
<div id="page_header"></div>
<div id="custom_forms" class="page_hide">
	{% include 'custom/new_item_form.html' %}
</div>
<div id="page_display">
	<div>
		<h2>Master Item Update</h2>
	</div>
	<div id="download_buttons" class="new_button_container">
		<div class="single_new_btn" id="download_all"><button type="button" id="download_all_btn"
				class="btn btn-primary">Download Master Items</button></div>
	</div>
	<div id="item_table_div">
	</div>
</div>
{% endblock content %}

{% block footer %}

{% endblock footer %}

{% block tail_script %}
<script>
	var input = document.getElementById('plant_item_upload');
	var infoArea = document.getElementById('plant_item_upload-label');

	var admin_item = 'admin_items-100';
	var dt_url = '/storage_blob/dt_update';
	var item_html = $('#item_div').html();
	var master_data = null;
	var selected_item = null;
	var loaded_items = null;

	//var newCollection = null;  // this information comes from the master, for a customer specific item.. it must be assigned.
	var newProductName = null;

	var itemSort = function (a, b) {
		return ((a.Product_Name < b.Product_Name) ? -1 : ((a.Product_Name > b.Product_Name) ? 1 : 0))
	}

	$('#item_div').empty();

	$(document).ready(function () {
		chkImageLoad();
		pageData = JSON.parse($('#page_data').text().trim());
		//$('#loading-indicator-mstr').show();
		add_loading('loading-indicator-mstr')
		$.get('/get_master_data').done(function (info) {
			master_data = info;
			master_data.master_items.sort(itemSort);
			//$('#loading-indicator-mstr').hide();
			remove_loading('loading-indicator-mstr')
		});

		var page_info = get_or_default(pageReturn, 'page', {});
		page_info['curr_page'] = { location: '/customer_items/', args: get_request_args() };
		page_info['prev_page'] = [];
		pageReturn['page'] = page_info;
		pageReturn.page.curr_page['page_data'] = pageData;
		pageReturn['tables'] = {};
		init_fields();
		pageSc = create_container(pageData.schema);
		schemaLookup = process_container(pageSc);
		load_item_table_master();

		$('#download_all_btn').click(function () {
			_send_download_request({});
		});
	});


	/**
	 * There was an error..
	 * 1. Pop the modal and show some information
	 * 2. Give the user an opportunity to notify an admin
	 * @param {*} response 
	 */
	function __handle_ajax_error(response) {
		modal.close();
		console.log("Error...");
		var rawErr = response.responseJSON.error;
		var today = new Date();
		var date = today.getFullYear() + '-' + (today.getMonth() + 1) + '-' + today.getDate();
		var time = today.getHours() + ":" + today.getMinutes() + ":" + today.getSeconds();
		var errTime = date + " " + time;
		var err = rawErr.replace(/(\r\n|\n|\r)/g, "<br />");
		var errHtml = "<div><div><h3>ERROR SAVING..</h3></div><div><p>" + err + "</p></div></div>";
		var notify = '<div><a href="#" onclick="system_error_notification(\'' + escape(rawErr) + '\',\'' + errTime + '\')">Notify System Admin</a></div>';
		modal.open({ content: errHtml + notify });
		modal.center();
	}

	function _send_download_request(options) {
		var url = '/pubsub/download_mstr'

		add_loading('SendDownload')
		var ic = {
			url: url,
			error: __handle_ajax_error,
			success: function (resp) {
				remove_loading("SendDownload");
				modal.open({ content: '<p>Your download will be emailed to you in the next <strong>5</strong> minutes!</p>' });
			},
			dataType: 'json'
		};
		$.get(ic);
	}

	function load_item_table_master() {
		add_loading('loading-indicator');
		var sc = storage_items['plant_item'];
		var cpiDTC = new DataTableCreator('admin_items-100', sc, undefined, '/admin_items/admin_items-100/master_items');
		cpiDTC.create_edit_data_table("item_table_div", ['edit', 'duplicate', 'remove', 'cust_item']);

		cpiDTC.dt_table.on('init', function () {
			//$('#loading-indicator').hide();
			cpiDTC.dt_table.columns().visible(false);
			cpiDTC.dt_table.columns([0, 1, 2, 3, 4, 5, 6]).visible(true);
			remove_loading('loading-indicator');
		});

		$('button.btn').on('click', function () {
			$('button.close').css('z-index', 50);
		});

		cpiDTC.dt_editor.on('open', function (e, mode, action) {
			if (action === 'create') {
				var editor = pageReturn.tables['cust_plant_item-table'].dt_editor;
				if (selected_item === null) {
					editor.val('Product_Name', newProductName);
					editor.val('Item_Num', 'CustomerSpecific');
				}
			}
		});
	}
</script>
{% endblock tail_script %}