<div id="Form_TopContainer">
    <div class="custom_form_container">
        <div class="form_list_container">
            <div class="form_entry_container">
                <a href="#" onclick="process_custom_form_click('plant_img')">Plant Images</a>
            </div>
            <div class="form_entry_container">
                <a href="#" onclick="process_custom_form_click('plants')">Plant Selection</a>
            </div>
            <div class="form_entry_container">
                <a href="#" onclick="process_custom_form_click('item')">Item Information</a>
            </div>
            <div class="form_entry_container">
                <a href="#" onclick="process_custom_form_click('case')">Case Information</a>
            </div>
            <div class="form_entry_container">
                <a href="#" onclick="process_custom_form_click('recipe')">Recipe</a>
            </div>
            <div class="form_entry_container">
                <a href="#" onclick="process_custom_form_click('price')">Price Information</a>
            </div>
            <div class="form_entry_container">
                <a href="#" onclick="process_custom_form_click('customer')">Customer Information</a>
            </div>
            <div class="form_entry_container">
                <button id="plant_item_costs_update" onclick="process_custom_form_action('costs')" type="button" class="btn btn-primary">Update Costs</button>
            </div>
            <div class="form_entry_container">
                <button id="plant_item_save" onclick="process_custom_form_action('save')" type="button" class="btn btn-primary">Save Changes</button>
            </div>
            <div class="form_entry_container">
                <button id="plant_item_save" onclick="process_custom_form_action('cancel')" type="button" class="btn btn-primary">Cancel</button>
            </div>
        </div>
        <div class="form_all_container">
            <div class="form_container">
                <div id="cust_form_plant_img" class="one_form_container" style="display: block;">
                    <div id="plant_item_upload_images_container">
                        <p class="font-italic text-black text-center">Click Image To View</p>
                        <div class="existing_imgs_container">
                            <div class="plant_item_img_container">
                                <ul id="plant_item_img_list">

                                </ul>
                            </div>
                        </div>
                        <div class="row py-4">
                            <div class="col-lg-6 mx-auto">

                                <!-- Upload image input-->
                                <div class="input-group mb-3 px-2 py-2 rounded-pill bg-white shadow-sm">
                                    <input id="plant_item_upload" type="file" onchange="plant_item_readURL(this);"
                                        class="form-control border-0 page_hide">
                                    <label id="plant_item_upload-label"  onclick="add_loading('ImageSelected')" for="plant_item_upload"
                                        class="font-weight-light text-muted">Choose file</label>
                                    <div class="input-group-append">
                                        <label for="plant_item_upload" class="btn btn-light m-0 rounded-pill px-4">
                                            <i class="fa fa-cloud-upload mr-2 text-muted"></i>
                                            <small class="text-uppercase font-weight-bold text-muted">Choose
                                                file</small></label>
                                    </div>
                                </div>

                                <!-- Uploaded image area-->
                                <p class="font-italic text-black text-center">The image uploaded will be rendered inside the box below.</p>
                                <div class="plant_item_image-area mt-4">
                                    <img id="plant_item_imageResult" src="#" alt=""
                                        class="img-fluid rounded shadow-sm mx-auto d-block">
                                </div>
                                <div id='plant_item_img-buttons' style='display: none;'>
                                    <button id="fileUpload" type="button" onclick="pi_upload_img()"
                                        class="btn btn-primary">Add</button>
                                    <button id="clearFile" type="button" onclick="pi_clear_img()"
                                        class="btn btn-primary">Clear</button>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="form_container">
                <div id="cust_form_item" class="one_form_container" style="display: none;">
                    <!--  ADD IN FORM -->
                    <form id="cust_form_item_container" class="needs-validation" novalidate>
                        <div class="form-row">
                            <div class="col-md-4 mb-3">
                                <label for="Product_Name">Product Name</label>
                                <input type="text" class="form-control" id="Product_Name"
                                    placeholder="Enter Product Name..">
                                <div id="Product_Name__INV" class="invalid-feedback">
                                </div>
                            </div>
                            <div class="col-md-4 mb-3">
                                <label for="Consumer_UPC">Consumer UPC</label>
                                <input type="text" class="form-control" id="Consumer_UPC"
                                    placeholder="Enter Consumer UPC..">
                                <div id="Consumer_UPC__INV" class="invalid-feedback">
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-md-4 mb-3">
                                <label for="Case_UPC">Case UPC</label>
                                <input type="text" class="form-control" id="Case_UPC" placeholder="Enter Case UPC..">
                                <div id="Case_UPC__INV" class="invalid-feedback">
                                </div>
                            </div>
                            <div class="col-md-4 mb-3">
                                <label for="retail_on_upc">Retail On UPC</label>
                                <select class="form-control co-item-select" id="retail_on_upc">
                                    <option>1</option>
                                    <option>2</option>
                                    <option>3</option>
                                    <option>4</option>
                                    <option>5</option>
                                </select>
                                <span onclick="clear_select2_selection('retail_on_upc')" style="cursor: pointer;"><i class="fas fa-times-circle fa-lg"></i></span>
                                <div id="retail_on_upc__INV" class="invalid-feedback">
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-md-4 mb-3">
                                <label for="CO_Item_Num">CO Item Num</label>
                                <input type="text" class="form-control" id="CO_Item_Num"
                                    placeholder="Enter CO Item Num..">
                                <div id="CO_Item_Num__INV" class="invalid-feedback">
                                </div>
                            </div>
                            <div class="col-md-4 mb-3">
                                <label for="Pack_Size">Pack Size</label>
                                <input type="text" class="form-control" id="Pack_Size" placeholder="Enter Pack Size..">
                                <div id="Pack_Size__INV" class="invalid-feedback">
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-md-4 mb-3">
                                <label for="UPC_Location">UPC Location</label>
                                <select class="form-control co-item-select" id="UPC_Location">
                                    <option>1</option>
                                    <option>2</option>
                                    <option>3</option>
                                    <option>4</option>
                                    <option>5</option>
                                </select>
                                <span onclick="clear_select2_selection('UPC_Location')" style="cursor: pointer;"><i class="fas fa-times-circle fa-lg"></i></span>
                                <div id="UPC_Location__INV" class="invalid-feedback">
                                </div>
                            </div>
                            <div class="col-md-4 mb-3">
                                <label for="Date_Code">Date Code</label>
                                <select class="form-control co-item-select" id="Date_Code">
                                    <option>1</option>
                                    <option>2</option>
                                    <option>3</option>
                                    <option>4</option>
                                    <option>5</option>
                                </select>
                                <span onclick="clear_select2_selection('Date_Code')" style="cursor: pointer;"><i class="fas fa-times-circle fa-lg"></i></span>
                                <div id="Date_Code__INV" class="invalid-feedback">
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-md-4 mb-3">
                                <label for="Date_Code_Type">Date Code Type</label>
                                <input type="text" class="form-control" id="Date_Code_Type"
                                    placeholder="Enter UPC Location..">
                                <div id="Date_Code_Type__INV" class="invalid-feedback">
                                </div>
                            </div>
                            <div class="col-md-4 mb-3" id="item_form_inv_location_div">
                                <label id="item_inv_location_text" for="inventory_location">Inventory Location (overrides location default)</label>
                                <select class="form-control co-item-select" id="inventory_location">
                                    <option>1</option>
                                    <option>2</option>
                                    <option>3</option>
                                    <option>4</option>
                                    <option>5</option>
                                </select>
                                <span onclick="clear_select2_selection('inventory_location')" style="cursor: pointer;"><i class="fas fa-times-circle fa-lg"></i></span>
                                <div id="inventory_location__INV" class="invalid-feedback">
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="form_container">
                <div id="cust_form_case" class="one_form_container" style="display: none;">
                    <!--  ADD IN FORM -->
                    <form id="cust_form_case_container" class="needs-validation" novalidate>
                        <div class="form-row">
                            <div class="col-md-4 mb-3">
                                <label for="CO_Case_Num">CO Case Num</label>
                                <input type="text" class="form-control" id="CO_Case_Num"
                                    placeholder="Enter CO Case Num..">
                                <div id="CO_Case_Num__INV" class="invalid-feedback">
                                </div>
                            </div>
                            <div class="col-md-4 mb-3">
                                <label for="Case_Length">Case Length</label>
                                <input type="text" class="form-control" id="Case_Length"
                                    placeholder="Enter Case Length..">
                                <div id="Case_Length__INV" class="invalid-feedback">
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-md-4 mb-3">
                                <label for="Case_Width">Case Width</label>
                                <input type="text" class="form-control" id="Case_Width"
                                    placeholder="Enter Case Width..">
                                <div id="Case_Width__INV" class="invalid-feedback">
                                </div>
                            </div>
                            <div class="col-md-4 mb-3">
                                <label for="Case_Height">Case Height</label>
                                <input type="text" class="form-control" id="Case_Height"
                                    placeholder="Enter Case Height..">
                                <div id="Case_Height__INV" class="invalid-feedback">
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-md-4 mb-3">
                                <label for="Case_Weight_lbs">Case Weight Lbs</label>
                                <input type="text" class="form-control" id="Case_Weight_lbs"
                                    placeholder="Enter Case Weight Lbs..">
                                <div id="Case_Weight_lbs__INV" class="invalid-feedback">
                                </div>
                            </div>
                            <div class="col-md-4 mb-3">
                                <label for="Cases_Per_Pallet">Cases Per Pallet</label>
                                <input type="text" class="form-control" id="Cases_Per_Pallet"
                                    placeholder="Enter Cases Per Pallet..">
                                <div id="Cases_Per_Pallet__INV" class="invalid-feedback">
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-md-4 mb-3">
                                <label for="Ti">Ti</label>
                                <input type="text" class="form-control" id="Ti" placeholder="Enter Ti..">
                                <div id="Ti__INV" class="invalid-feedback">
                                </div>
                            </div>
                            <div class="col-md-4 mb-3">
                                <label for="Hi">Hi</label>
                                <input type="text" class="form-control" id="Hi" placeholder="Enter Hi..">
                                <div id="Hi__INV" class="invalid-feedback">
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="form_container">
                <div id="cust_form_plants" class="one_form_container" style="display: none;">
                    <div style="flex-direction: column;">
                        <div><h5>Recipe Plants</h5></div>
                        <div id="plant_item_plants_div" class="col-md-8 mb-3 plants_container">
                            <table id="table_plant_item_plants" class='table'>
                                <thead>
                                    <tr><th scope="col">Plant ID</th><th scope="col">Plant Name</th><th scope="col">Quantity</th><th scope="col"> </th></tr>
                                </thead>
                                <tbody id="table_body_plant_item_plants">
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="form_entry_addplant_container">
                        <button id="plant_item_add_plant" onclick="add_plant_to_form()" type="button" class="btn btn-primary">Add Plant</button>
                    </div>
                </div>
            </div>
            <div class="form_container">
                <div id="cust_form_recipe" class="one_form_container" style="display: none;">
                    <!--  ADD IN FORM -->
                    <form id="cust_form_recipe_container" class="needs-validation" novalidate>
                        <div class="form-row">
                            <div class="col-md-4 mb-3">
                                <label for="Tray">Tray</label>
                                <select class="form-control co-item-select" id="Tray">
                                    <option>Select One... </option>
                                    <option>2</option>
                                    <option>3</option>
                                    <option>4</option>
                                    <option>5</option>
                                </select>
                                <span onclick="clear_select2_selection('Tray')" style="cursor: pointer;"><i class="fas fa-times-circle fa-lg"></i></span>
                                <div id="Tray__INV" class="invalid-feedback">
                                </div>
                            </div>
                            <div class="col-md-4 mb-3">
                                <label for="Vase_Style">Vase Style</label>
                                <select class="form-control co-item-select" id="Vase_Style">
                                    <option>Select One... </option>
                                    <option>2</option>
                                    <option>3</option>
                                    <option>4</option>
                                    <option>5</option>
                                </select>
                                <span onclick="clear_select2_selection('Vase_Style')" style="cursor: pointer;"><i class="fas fa-times-circle fa-lg"></i></span>
                                <div id="Vase_Style__INV" class="invalid-feedback">
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-md-4 mb-3">
                                <label for="Staging">Staging</label>
                                <input type="text" class="form-control" id="Staging" placeholder="Enter Staging..">
                                <div id="Staging__INV" class="invalid-feedback">
                                </div>
                            </div>
                            <div class="col-md-4 mb-3">
                                <label for="Assortment">Assortment</label>
                                <input type="text" class="form-control" id="Assortment"
                                    placeholder="Enter Assortment..">
                                <div id="Assortment__INV" class="invalid-feedback">
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-md-4 mb-3">
                                <label for="Grade">Grade</label>
                                <select class="form-control co-item-select" id="Grade">
                                    <option>Select One... </option>
                                    <option>2</option>
                                    <option>3</option>
                                    <option>4</option>
                                    <option>5</option>
                                </select>
                                <span onclick="clear_select2_selection('Grade')" style="cursor: pointer;"><i class="fas fa-times-circle fa-lg"></i></span>
                                <div id="_Grade__INV" class="invalid-feedback">
                                </div>
                            </div>
                            <div class="col-md-4 mb-3">
                                <label for="Double_Spike_Percent">Double Spike Percent</label>
                                <input type="text" class="form-control" id="Double_Spike_Percent"
                                    placeholder="Enter Double Spike Percent..">
                                <div id="Double_Spike_Percent__INV" class="invalid-feedback">
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-md-4 mb-3">
                                <label for="Ethyl_Block">Ethyl Block</label>
                                <input type="text" class="form-control" id="Ethyl_Block"
                                    placeholder="Enter Ethyl Block..">
                                <div id="Ethyl_Block__INV" class="invalid-feedback">
                                </div>
                            </div>
                            <div class="col-md-4 mb-3">
                                <label for="Heat_Pack">Heat Pack</label>
                                <input type="text" class="form-control" id="Heat_Pack" placeholder="Enter Heat Pack..">
                                <div id="Heat_Pack__INV" class="invalid-feedback">
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-md-4 mb-3">
                                <label for="Tag_Type">Tag Type</label>
                                <select class="form-control co-item-select" id="Tag_Type">
                                    <option>Select One... </option>
                                    <option>2</option>
                                    <option>3</option>
                                    <option>4</option>
                                    <option>5</option>
                                </select>
                                <span onclick="clear_select2_selection('Tag_Type')" style="cursor: pointer;"><i class="fas fa-times-circle fa-lg"></i></span>
                                <div id="Tag_Type__INV" class="invalid-feedback">
                                </div>
                            </div>
                            <div class="col-md-4 mb-3">
                                <label for="Pick">Pick</label>
                                <select class="form-control co-item-select" id="Pick">
                                    <option>Select One... </option>
                                    <option>2</option>
                                    <option>3</option>
                                    <option>4</option>
                                    <option>5</option>
                                </select>
                                <span onclick="clear_select2_selection('Pick')" style="cursor: pointer;"><i class="fas fa-times-circle fa-lg"></i></span>
                                <div id="Pick__INV" class="invalid-feedback">
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-md-4 mb-3">
                                <label for="Branches">Branches</label>
                                <select class="form-control co-item-select" id="Branches">
                                    <option>Select One... </option>
                                    <option>2</option>
                                    <option>3</option>
                                    <option>4</option>
                                    <option>5</option>
                                </select>
                                <span onclick="clear_select2_selection('Branches')" style="cursor: pointer;"><i class="fas fa-times-circle fa-lg"></i></span>
                                <div id="Branches__INV" class="invalid-feedback">
                                </div>
                            </div>
                            <div class="col-md-4 mb-3">
                                <label for="Top_Dressing">Top Dressing</label>
                                <select class="form-control co-item-select" id="Top_Dressing">
                                    <option>Select One... </option>
                                    <option>2</option>
                                    <option>3</option>
                                    <option>4</option>
                                    <option>5</option>
                                </select>
                                <span onclick="clear_select2_selection('Top_Dressing')" style="cursor: pointer;"><i class="fas fa-times-circle fa-lg"></i></span>
                                <div id="Top_Dressing__INV" class="invalid-feedback">
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-md-4 mb-3">
                                <label for="Special_Instructions_Recipe">Special Instructions Recipe</label>
                                <input type="text" class="form-control" id="Special_Instructions_Recipe"
                                    placeholder="Enter Special Instructions Recipe..">
                                <div id="Special_Instructions_Recipe__INV" class="invalid-feedback">
                                </div>
                            </div>
                            <div class="col-md-4 mb-3">
                                <label for="Box">Box</label>
                                <select class="form-control co-item-select" id="Box">
                                    <option>Select One... </option>
                                    <option>2</option>
                                    <option>3</option>
                                    <option>4</option>
                                    <option>5</option>
                                </select>
                                <span onclick="clear_select2_selection('Box')" style="cursor: pointer;"><i class="fas fa-times-circle fa-lg"></i></span>
                                <div id="Box__INV" class="invalid-feedback">
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-md-4 mb-3">
                                <label for="Insert">Insert</label>
                                <select class="form-control co-item-select" id="Insert">
                                    <option>Select One... </option>
                                    <option>2</option>
                                    <option>3</option>
                                    <option>4</option>
                                    <option>5</option>
                                </select>
                                <span onclick="clear_select2_selection('Insert')" style="cursor: pointer;"><i class="fas fa-times-circle fa-lg"></i></span>
                                <div id="Insert__INV" class="invalid-feedback">
                                </div>
                            </div>
                            <div class="col-md-4 mb-3">
                                <label for="Sleeve">Sleeve</label>
                                <select class="form-control co-item-select" id="Sleeve">
                                    <option>Select One... </option>
                                    <option>2</option>
                                    <option>3</option>
                                    <option>4</option>
                                    <option>5</option>
                                </select>
                                <span onclick="clear_select2_selection('Sleeve')" style="cursor: pointer;"><i class="fas fa-times-circle fa-lg"></i></span>
                                <div id="Sleeve__INV" class="invalid-feedback">
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-md-4 mb-3">
                                <label for="Simple_Wick">Simple Wick</label>
                                <select class="form-control co-item-select" id="Simple_Wick">
                                    <option>Select One... </option>
                                    <option>2</option>
                                    <option>3</option>
                                    <option>4</option>
                                    <option>5</option>
                                </select>
                                <span onclick="clear_select2_selection('Simple_Wick')" style="cursor: pointer;"><i class="fas fa-times-circle fa-lg"></i></span>
                                <div id="Simple_Wick__INV" class="invalid-feedback">
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="form_container">
                <div id="cust_form_price" class="one_form_container" style="display: none;">
                    <!--  ADD IN FORM -->
                    <form id="cust_form_price_container" class="needs-validation" novalidate>
                        <div class="form-row">
                            <div class="col-md-4 mb-3">
                                <label for="List_Price">List Price</label>
                                <input type="text" class="form-control" id="List_Price"
                                    placeholder="Enter List Price..">
                                <div id="List_Price__INV" class="invalid-feedback">
                                </div>
                            </div>
                            <div class="col-md-4 mb-3">
                                <label for="List_Price_FOB_CO">List Price FOB CO</label>
                                <input type="text" class="form-control" id="List_Price_FOB_CO"
                                    placeholder="Enter List Price FOB CO..">
                                <div id="List_Price_FOB_CO__INV" class="invalid-feedback">
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-md-4 mb-3">
                                <label for="Commission_Pricing">Commission Pricing</label>
                                <input type="text" class="form-control" id="Commission_Pricing"
                                    placeholder="Enter Commission Pricing..">
                                <div id="Commission_Pricing__INV" class="invalid-feedback">
                                </div>
                            </div>
                            <div class="col-md-4 mb-3">
                                <label for="recipe_cost">Recipe Costing</label>
                                <input type="text" class="form-control" id="recipe_cost"
                                    placeholder="Enter Recipe Costing.." readonly>
                                <div id="recipe_cost__INV" class="invalid-feedback">
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-md-4 mb-3">
                                <label for="profit_margin">Profit Margin</label>
                                <input type="text" class="form-control" id="profit_margin"
                                    placeholder="Enter Profit Margin.." readonly>
                                <div id="profit_margin__INV" class="invalid-feedback">
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="form_container">
                <div id="cust_form_customer" class="one_form_container" style="display: none;">
                    <!--  ADD IN FORM -->
                    <form id="cust_form_customer_container" class="needs-validation" novalidate>
                        <div class="form-row">
                            <div class="col-md-4 mb-3">
                                <label for="customer_item_number">Customer Item Number</label>
                                <input type="text" class="form-control" id="customer_item_number"
                                    placeholder="Enter Customer Item Number..">
                                <div id="customer_item_number__INV" class="invalid-feedback">
                                </div>
                            </div>
                            <div class="col-md-4 mb-3">
                                <label for="customer_case_number">Customer Case Number</label>
                                <input type="text" class="form-control" id="customer_case_number"
                                    placeholder="Enter Customer Case Number..">
                                <div id="customer_case_number__INV" class="invalid-feedback">
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-md-4 mb-3">
                                <label for="customer_item_description">Customer item Description</label>
                                <input type="text" class="form-control" id="customer_item_description"
                                    placeholder="Enter Customer item Description..">
                                <div id="customer_item_description__INV" class="invalid-feedback">
                                </div>
                            </div>
                            <div class="col-md-4 mb-3">
                                <label for="retail_price">Retail Price</label>
                                <input type="text" class="form-control" id="retail_price"
                                    placeholder="Enter Retail Price..">
                                <div id="retail_price__INV" class="invalid-feedback">
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>