    <div id="order_form">
		<ul class="nav nav-tabs" id="item_tab" role="tablist">
			<li class="nav-item gen_order"><a class="nav-link active" id="gen-order-tab"
				data-toggle="tab" href="#gen-order" role="tab" aria-controls="gen-order"
				aria-selected="true">Order Information</a></li>
			<li class="nav-item items_order"><a class="nav-link" id="items-order-tab"
				data-toggle="tab" href="#items-order" role="tab" aria-controls="items-order"
				aria-selected="false">Select Items</a></li>
			<li class="nav-item qty_order" style="display:none"><a class="nav-link" id="qty-order-tab"
				data-toggle="tab" href="#qty-order" role="tab" aria-controls="qty-order"
				aria-selected="false">Specify Quantities</a></li>
		</ul>
		<div class="tab-content" id="gen-tab-content">
			<div class="tab-pane fade show active" id="gen-order" role="tabpanel"
				aria-labelledb="gen-order-tab">
				<fieldset class="gen_info">
					<legend>Order Information</legend>
				</fieldset>
				<div id="order_form_div">
		        <form class="needs-validation" id="order-form" novalidate>
		          <div class="form-row">
		            <div class="col-md-10 mb-3">
		              <label for="gen_order_date">Order Date</label>
                      <div class="input-group date" id="datetimepicker_gen_order_date" data-target-input="nearest">
                        <input type="text" class="form-control datetimepicker-input" id="gen_order_date" placeholder="YYYY-MM-DD" data-target="#datetimepicker_gen_order_date" required />
                        
                        <div class="input-group-append" data-target="#datetimepicker_gen_order_date" data-toggle="datetimepicker">
                          <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                        </div>
                        <div class="valid-feedback">Valid Date</div>
		                <div class="invalid-feedback">Date is missing or is invalid</div>
                      </div>
		              
		            </div>
		          </div>
		          <div class="form-row">
		            <div class="col-md-10 mb-3">
		              <label for="gen_order_deliv_date">Order Delivery Date</label>
                      <div class="input-group date" id="datetimepicker_gen_order_deliv_date" data-target-input="nearest">
                        <input type="text" class="form-control datetimepicker-input" id="gen_order_deliv_date" placeholder="YYYY-MM-DD" data-target="#datetimepicker_gen_order_date" required />
                        
                        <div class="input-group-append" data-target="#datetimepicker_gen_order_deliv_date" data-toggle="datetimepicker">
                          <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                        </div>
                        <div class="valid-feedback">Valid Date</div>
		                <div class="invalid-feedback">Date is missing or is invalid</div>
                      </div>
		              
		            </div>
		          </div>
		           <div class="form-row">
                    <div class="col-md-10 mb-3">
                      <label for="gen_instructions">Order Instructions</label>
                      <textarea class="form-control" id="gen_instructions" rows="3" placeholder="Any Information To add to order??"></textarea>
                    </div>
                  </div>
		        </form>
		        </div>
			</div>
			<div class="tab-pane fade" id="items-order" role="tabpanel"
				aria-labelledb="items-order-tab">
				<fieldset class="items_info">
					<legend>Select Items For Order</legend>
				</fieldset>
				<div id="form_items_div"></div>
				<div id="form_items_data" class="page_hide"></div>
			</div>
			<div class="tab-pane fade" id="qty-order" role="tabpanel"
			    aria-labelledb="qty-order-tab">
			   <fieldset class="qty_info">
			      <legend>Specify Item Quantity and Instructions</legend>
			   </fieldset>
			   <div id="items_qty_form_div">
			   <h5 id='order_item_name'></h5>
		       <form class="needs-validation" id="item_order-form" novalidate>
                 <div class="form-row">
                   <div class="col-md-10 mb-3">
                     <label for="validationCustom01">Quantity</label>
                     <input type="number" min="1" class="form-control" id="validationCustom01" placeholder="Quantity" value="1" required>
                      <div class="valid-feedback">Thanks!</div>
                      <div class="invalid-feedback">Quantity must be a number and greater than 0</div>
                    </div>
                  </div>
                  <div class="form-row">
                    <div class="col-md-10 mb-3">
                      <label for="validationCustom03">Item Instructions</label>
                      <textarea class="form-control" id="validationCustom03" rows="3" placeholder="Any Information To add for this Item??"></textarea>
                    </div>
                  </div>
                  <div class="form-row">
                    <div class="col-md-10 mb-3">
                      <label for="itemFieldUpdate">Update Item</label>
                      <select class="form-control" id="itemFieldUpdate">
                        <option value="Select A Field">Select A Field</option>
                      </select>
                    </div>
                    <div class="form-group col-md-3" style="display: none;" id="updateItemFieldDiv">
                       <label for="inputOrderField" id="inputOrderFieldLabel">TBD</label>
                       <input type="text" class="form-control" id="inputOrderField"><i id="text_update_spinner" class="fas fa-spinner fa-spin" style="font-size:24px; display: none;"></i>
                    </div>
                  </div>
                  <div class="form-row page_hide">
                    <div class="col-md-10 mb-3">
                      <input type="text" class="form-control" id="order_item_value" />
                      <input type="text" class="form-control" id="item_field_update" value="Select A Field" />
                    </div>
                  </div>
                </form>
                <button type="button" id="qty_spec_btn" class="btn btn-secondary">Save Item</button>
              </div>
			</div>
		</div>
	</div>
	<div class="cust_form_navigation" id="order_form_navigation">
	  <button type="button" id="order_form_save_btn" class="btn btn-secondary" style="display:none">Save</button>
	</div>
	