<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>Order Summary</title>

</head>
<style>
.invoice-box {
        max-width: 800px;
        margin: auto;
        padding: 30px;
        border: 1px solid #eee;
        box-shadow: 0 0 10px rgba(0, 0, 0, .15);
        font-size: 16px;
        line-height: 24px;
        font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
        color: #555;
    }

    .invoice-box table {
        width: 100%;
        line-height: inherit;
        text-align: left;
    }
     .invoice-box table td {
        padding: 5px;
        vertical-align: top;
    }

    .invoice-box table tr td:nth-child(6) {
        text-align: right;
    }

    .invoice-box table.details tr td:nth-child(5){
      text-align: right;
    }

    .invoice-box table tr.top table td {
        padding-bottom: 20px;
    }

    .invoice-box table tr.top table td.title {
        font-size: 45px;
        line-height: 45px;
        color: #333;
    }

    .invoice-box table tr.information table td {
        padding-bottom: 40px;
    }

    .invoice-box table tr.heading td {
        background: #eee;
        border-bottom: 1px solid #ddd;
        font-weight: bold;
    }

    .invoice-box table tr.details td {
        padding-bottom: 20px;
    }

    .invoice-box table tr.item td{
        border-bottom: 1px solid #eee;
    }

    .invoice-box table tr.item.last td {
        border-bottom: none;
    }

    .invoice-box table.details tr.total td:nth-child(4) {
        border-top: 2px solid #eee;
        font-weight: bold;
    }

    @media only screen and (max-width: 600px) {
        .invoice-box table tr.top table td {
            width: 100%;
            display: block;
            text-align: center;
        }

        .invoice-box table tr.information table td {
            width: 100%;
            display: block;
            text-align: center;
        }
    }

    /** RTL **/
    .rtl {
        direction: rtl;
        font-family: Tahoma, 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
    }

    .rtl table {
        text-align: right;
    }

    .rtl table tr td:nth-child(3) {
        text-align: left;
    }

textarea
{
  width:95%;
  resize: none;
  border: none;
}
.textwrapper
{
  border:1px solid #999999;
  margin:5px 0;
  padding:3px;
}
</style>
<body>
    <div class="invoice-box">
        <table cellpadding="0" cellspacing="0">
            <tr class="top">
                <td colspan="2">
                    <table>
                        <tr>
                            <td class="title">
                                <img src="/static/img/logo.png" style="width:100%; max-width:300px;">
                            </td>
                            <td style="padding-right: 100px;"></td>
                            <td>
                                <strong>Order #:</strong> {{ order_num }}<br>
                                <strong>Order Date:</strong> {{ order_date }}<br>
                                <strong>Delivery Date:</strong> {{ deliv_date }}<br>
                                <strong>Update Date:</strong> {{ update_date }}
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>

            <tr class="information">
                <td colspan="2">
                    <table>
                        <tr>
                            <td>
                               19315 Carrico Mills Rd<br>
                               Stevensburg VA 22741<br>
                               Sales@colororchids.com<br>
                               540 399 1499
                            </td>
                            <td style="padding-right: 200px;"></td>
                            <td>
                                <strong>Customer:</strong> {{ customer_name }}<br>
                                <strong>Location:</strong> {{ location_name }}<br>
                                <strong>Sales Name:</strong> {{ user_name }}<br>
                                <strong>Sales Email:</strong> {{ user_email }}
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            </table>
            <table class="details" cellpadding="0" cellspacing="0">
            <tr class="heading">
                <td>Item Num</td>
                <td></td>
                <td>Product Name</td>
                <td>Quantity</td>
                <td>List Price</td>
                <td>Item Total</td>
            </tr>
            {% for order_item in order_items %}
				<tr class="item">
                    <td>{{ order_item.item_num }}</td>
                    <td></td>
                    <td>{{ order_item.product_name }}</td>
                    <td>{{ order_item.quantity }}</td>
                    <td>{{ order_item.list_price }}</td>
                    <td>{{ order_item.item_total }}</td>
                </tr>
            {% endfor %}
            <tr class="empty">
                <td></td><td></td><td></td><td></td><td></td><td></td>
            </tr>

            <tr class="total">
                <td></td>
                <td><strong>TOTALS</strong></td>
                <td></td>
                <td><strong>{{ total_num }}</strong></td>
                <td></td>
                <td><strong>{{ total_cost }}</strong></td>
            </tr>
        </table>
        <div style="display: block;" id="rulesformitem" class="formitem">
             <label for="instructions" id="ruleslabel">Special Instructions</label>
             <div class="textwrapper">
             <textarea cols="2" rows="{{ instruct_num }}" id="instructions">Order Instructions: {{ order_instructions }}&#13;&#10;{% for instruct in instructs %}{{ instruct }}&#13;&#10;{% endfor %}</textarea></div>
        </div>
    </div>
</body>
</html>
