{% extends "base.html" %}
{% block style_block %}

{% endblock %}

{% block content %}
<div id="page_data" class="page_hide">{{ schema }}</div>
<div id="table_data" class="page_hide">
   <div id="tables_div">
      <table class="table table-striped table-bordered" id="schema_table"></table>
   </div>
</div>
<div id="page_header">
<!--<h3>Recipe Costing</h3><span id="loading_recipes"><i class="fas fa-sync fa-spin"></i></span>-->
</div>
<div id="page_display">
<div id="recipe_types">
  <div class="form-group">
    <label for="recipe_type_select">Recipe Type</label>
    <select class="form-control" id="recipe_type_select">
    </select>
  </div>
</div>
<div id="recipe_show">
  <div id="recipe_tables_div"></div>
</div>
</div>
{% endblock content %}

{% block footer %}

{% endblock footer %}

{% block tail_script %}
    <script>

    // TODO:
    //  Need to add code to check what is already loaded into plant item DONE
    //  Want to give the option to add/remove an existing recipe item to the plant_item, but not delete
    //  So based on whether or not the recipe exists in plant_item, display different options

    var dt_url = '/storage_blob/dt_update';
    //const pi_regex = /.*== \'(.*)\'/;
    const pi_regex = /\?\w*\s==\s\'(\w*|\w*\s\w*)\'/;
    var recipe_data = [];
    var recipeTypes = [];
    var recipeMatches = [];
    var usedRecipeStore = {field_name:{},recipe_type:{}};

    var currentItemType = null;

    function closeMe(){
    	// DO NOTHING
    }

    function add_new_recipe(newType){
    	console.log("Recipe submit button clicked!!!  ("+newType+")");

      var editor = pageReturn.tables['plant_item-table'].dt_editor;

      var newField = {
        "category": "Recipe",
        "description": "",
        "field_default": "",
        "field_name": newType,
        "field_order": "",
        "field_required": false,
        "field_type": "string",
        "group_name": null,
        "is_key_field": false,
        "is_list": false,
        "is_option_filled": true,
        "option_container": "SelectAdv:recipe_costing:[?item_type == '"+newType+"' && status == 'Active']:name:true"
      }

      var ed = editor.create(false);

      var keys = Object.keys(newField);
      $.each(keys,function(i,key){
          ed.set(key,newField[key]);
      });

      ed.submit(function(data){
        console.log('recipe added to plant_item');
      }, function(err){
        console.log(err);
        $('#new_recipe_fail').text("Failed to create a new recipe type.... contact admin");
        $('.invalid-feedback').show();
      });

    }

    function add_first_entry(argNewType){
      $('#recipe_type_select').append($('<option>', {
           value: argNewType,
           text : argNewType
       }));
      $('#recipe_type_select').val(argNewType);
      entry = {"QB_Match": "",
               "case_price": "",
               "description": "",
               "est_freight": "",
               "height": "",
               "image": "",
               "item_size": "",
               "item_type": argNewType,
               "length": "",
               "name": "",
               "price_each": "",
               "status": "Active",
               "vendor": "",
               "vendor_description": "",
               "vendor_item_id": "",
               "vendor_item_size": "",
               "price_type":"lookup",
               "width": ""}

       load_dt_table(argNewType);
       var editor = pageReturn.tables['recipe_costing-table'].dt_editor;
       var ed = editor.create(false);

       var keys = Object.keys(entry);
       $.each(keys,function(i,key){
           ed.set(key,entry[key]);
       });

       ed.submit(function(data){
         modal.close();
         console.log(data);
         var id = data.data[0].DT_RowId;
         // edit added the row
         editor.title('Update New Entry').buttons('update').edit('#'+id);
         if (isNull(storage_items.plant_item.getFieldByName(argNewType))){
            add_new_recipe(argNewType);
         }
       }, function(err){
         console.log(err);
         $('#new_recipe_fail').text("Failed to add first entry... Dang!");
         $('.invalid-feedback').show();
       });

    }

    function process_new_recipe(){
    	var modalHtml = ['  <div class="form-group">',
    		'    <label for="recipeType">New Recipe Type</label>',
    		'    <input type="recipe_type" class="form-control" id="recipeTypeInput" aria-describedby="recipeHelp" placeholder="Enter Recipe Type">',
    		'    <small id="recipeHelp" class="form-text text-muted">The value entered can not already exist!!</small>',
    		'    <div id="new_recipe_fail" class="invalid-feedback">The Recipe Type Entered Already Exists</div>',
    		'  </div>',
    		'<button type="button" id="recipeTypeSubmit" class="btn btn-primary">Submit</button>']

    	modal.open({content:modalHtml.join(" ")},closeMe);
    	$('.invalid-feedback').hide();

    	$("#recipeTypeSubmit").click(function(){
    		var newRecipeName = $('input#recipeTypeInput').val();

    		if (recipeMatches.indexOf(newRecipeName.toLowerCase()) > -1){
    			   $('.invalid-feedback').show();
    		}else{
    			$('.invalid-feedback').hide();
    			add_first_entry(newRecipeName);
    		}
    	});
    }

    function load_dt_table(recipeType){
      currentItemType = recipeType;
      var recipe_select = jmespath.search(recipe_data,"data[?item_type == '"+recipeType+"']");
      //console.log(recipe_select);
      var recDTC = new DataTableCreator([],pageSc);
      recDTC.create_edit_data_table_with_data('recipe_tables_div',['create','edit','duplicate','remove'],recipe_select);

      recDTC.dt_editor.on('open',function(e,mode,action){
        if (action === 'create'){
           var editor = pageReturn['tables']['recipe_costing-table'].dt_editor;
           editor.val('item_type',currentItemType);
        }
      });
    }

    function show_recipe(){
    	$('#recipe_tables_div').empty();
    	var selected = $('#recipe_type_select').find(":selected").val();

    	if (selected === '--NEW--'){
    		  process_new_recipe();
    	}else if (selected !== ""){
    		load_dt_table(selected);
    	}

    }

    function setup_recipe_page(data){
    	recipe_data = data;

    	// make "item_type" readonly
    	schemaLookup.recipe_costing.item_type.setToReadOnly();

    	var names = jmespath.search(recipe_data,"data[*].item_type");
    	$.each(names, function(i, el){
    	    if($.inArray(el, recipeTypes) === -1) recipeTypes.push(el);
    	});

    	recipeTypes.sort();

    	$.each(recipeTypes,function(i,el){
    		recipeMatches.push(el.toLowerCase());
    	});

      // check if page is fully loaded
      remove_loading('lookup');

      console.log("lookups loaded");
    }

    function load_plant_schema(data){

      if (data.status === 'success'){
        var sc = create_container(data.schema);
        schemaLookup['plant_item'] = process_container(sc)['plant_item'];
        pageReturn['tables']['plant_item-table'] = sc.create_dt_tables('schema_table');
        pageReturn['tables']['plant_item-table']['option_fields'] = {};
      } else {
        console.log("Didn't find the schema!!!")
      }
      // now load any recipe things that are in plant... but not any items created
      var usedRecipes = jmespath.search(storage_items.plant_item.fields,"[?category == 'Recipe']");
      var opCntrs = jmespath.search(usedRecipes,"[*].option_container");

      $.each(opCntrs, function (idx, opCntr){
          var recipeField = usedRecipes[idx];
          usedRecipeStore.field_name[recipeField.field_name] = recipeField;

          var res = pi_regex.exec(opCntr);
          if (isNotNull(res) && res.length > 1){
            var rcName = res[1];
            usedRecipeStore.recipe_type[rcName] = recipeField;
            if (recipeTypes.indexOf(rcName) < 0){
               recipeTypes.push(rcName);
            }
          }
      });

      recipeTypes.sort();

      $('#recipe_type_select').append($('<option>', {
 	        value: "",
 	        text : "Select Recipe Type..."
 	    }));

      $.each(recipeTypes, function (i, type) {
    	    $('#recipe_type_select').append($('<option>', {
    	        value: type,
    	        text : type
    	    }));
    	});

      //$('#recipe_type_select').append($('<option>', {
 	    //    value: "--NEW--",
 	    //    text : "<create new recipe type>"
 	    //}));

    	$('#recipe_type_select').change(show_recipe);
      //check if page is fully loaded
      remove_loading('schema');

      console.log("plant item fetched")
    }


    $(document).ready(function(){
    	chkImageLoad();
      add_loading('lookup');
      add_loading('schema');
    	pageData = JSON.parse($('#page_data').text().trim());

    	var page_info = get_or_default(pageReturn,'page',{});
    	page_info['curr_page'] = {location:'/recipe_costing	/', args: get_request_args()};
    	page_info['prev_page'] = [];
    	pageReturn['page'] = page_info;
      pageReturn.page.curr_page['page_data'] = pageData;
      pageReturn['tables'] = {};
      init_fields();
      pageSc = create_container(pageData.schema);
      pageSc.storage_url = dt_url + "?model_name=recipe_costing";
    	schemaLookup = process_container(pageSc);

    	$.get('/storage_blob/dt_update?model_name=recipe_costing',setup_recipe_page);
      $.get('/get_schema/plant_item',load_plant_schema);
    });

	</script>
{% endblock tail_script %}
