<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>Order Summary</title>

</head>
<body>
  <div id="main_div">
  <div id="header_div">
  <table id="header_tbl">
  <tr><td rowspan="4"><h3>Color Orchids</h3></td><td style="padding: 0px 100px 0px 145px;"></td>
  <td><strong>Order #: </strong>{{ order_num }}</td></tr>
  <tr><td></td><td><strong>Order Date: </strong>{{ order_date }}</td></tr>
  <tr><td></td><td><strong>Delivery Date: </strong>{{ deliv_date }}</td></tr>
  <tr><td></td><td><strong>Update Date: </strong>{{ update_date }}</td></tr>
  </table>
  </div>
  <div id="address_div" style="padding-top: 25px;">
  <table id="address_tbl">
  <tr></tr>
  <tr></tr>
  <tr><td>19315 Carrico Mills Rd</td><td style="padding: 0px 100px 0px 100px;"></td><td><strong>Customer: </strong>{{ customer_name }}</td></tr>
  <tr><td>Stevensburg VA 22741</td><td></td><td><strong>Location:</strong>{{ location_name }}</td></tr>
  <tr><td>sales@colororchids.com</td><td></td><td><strong>Sales Name:</strong>{{ user_name }}</td></tr>
  <tr><td>540 399 1499</td><td></td><td><strong>Sales Email:</strong>{{ user_email }}</td></tr>
  </table>
  </div>
  <div id="detail_div" style="padding-top: 25px;">
  <table id="detail_tbl">
  <thead><tr bgcolor="#7f8184">
  <th style="padding-left: 15px; padding-right: 15px;">Item Num</th>
  <th style="padding-left: 15px; padding-right: 15px;">Collection</th>
  <th style="padding-left: 15px; padding-right: 15px;">Product Name</th>
  <th style="padding-left: 15px; padding-right: 15px;">List Price</th>
  <th style="padding-left: 15px; padding-right: 15px;">Quantity</th>
  <th style="padding-left: 15px; padding-right: 15px;">Item Total</th></tr></thead>
  <tbody>
    {% for order_item in order_items %}
  <tr>
  <td align="center">{{ order_item.item_num }}</td>
  <td align="center">{{ order_item.collection }}</td>
  <td align="center">{{ order_item.product_name }}</td>
  <td align="center">{{ order_item.list_price }}</td>
  <td align="center">{{ order_item.quantity }}</td>
  <td align="right">{{ order_item.item_total }}<td>
  </tr>
  {% endfor %}
  <tr><td style="padding-top: 25px;" colspan="6"></td></tr>
  <tr><td colspan="3" style="padding-top: 25px;"></td>
    <td bgcolor="#7f8184"><strong>Order Totals</strong></td>
    <td bgcolor="#7f8184" align="center"><strong>{{ total_num }}</strong></td>
    <td bgcolor="#7f8184" align="right"><strong>{{ total_cost }}</strong></td></tr>
  </tbody>
  </table>
  </div>
  <div id="instr_div" style="padding-top: 25px;">
  <table id="instr_tbl" border="1" sytle="padding-right: 100%;">
  <tr>
    <td>
      <p><strong>Order Instructions: </strong>{{ order_instructions }}</p>
      <p>
        {% for instruct in instructs %}
        <br>{{ instruct }}
        {% endfor %}
      </p>
    </td>
  </tr>
  </table>
  </div>
  </div>
</body>
</html>
