{% extends "base.html" %}
{% block style_block %}
{% endblock %}

{% block content %}
<div id="table_data">
   <div id="item_div">
   {% include 'custom/fileUploadForm.html' %}
   </div>
</div>
{% endblock content %}

{% block footer %}
    
{% endblock footer %}

{% block tail_script %}
  <script>
  $(document).ready(function(){
	  $('#imgUploadButton').on('click',function(){
		  submit_image_form(function(){
			  console.log("call back executed");
		  });
	  });
  });
  
  </script>
{% endblock tail_script %}