{% extends "base.html" %}
{% block style_block %}
<link href="/static/css/item_page.css" rel="stylesheet" />
<link href="https://unpkg.com/filepond/dist/filepond.css" rel="stylesheet">
{% endblock %}

{% block content %}
<div><h3>Upload Spreadsheet Updates</h3></div>
<div>
    <p>Drag and Drop or Open a file to the area below to upload a file that will contain item updates</p>
    <p>Once uploaded you, the updates will take place over the next 10 to 20 minutes, a summary will be emailed to you afterwards</p>
</div>
<!-- We'll transform this input into a pond -->
<input type="file" class="filepond">
{% endblock content %}
{% block footer %}

{% endblock footer %}
{% block tail_script %}
<!-- Load FilePond library -->
<script src="https://unpkg.com/filepond/dist/filepond.js"></script>

<!-- Turn all file input elements into ponds -->
<script>
    const inputElement = document.querySelector('input[type="file"]');
    const pond = FilePond.create(inputElement);
    FilePond.setOptions({
        server: '/upload_spreadsheet'
    });
</script>
{% endblock tail_script %}