{% extends "base.html" %}
{% block style_block %}
<link href="/static/css/item_page.css" rel="stylesheet" />
{% endblock %}

{% block content %}
<div id="page_data" class="page_hide">{{ schema }}</div>
<div id="page_header"></div>
<div id="page_display">
  <div id="customer_info">
    <ul id='custList' class="list-group">
      <li class="list-group-item">
        <div class="input-group mb-3">
           <div class="input-group-prepend">
             <span class="input-group-text" id="basic-addon1">Customer Item Number</span>
           </div>
           <input type="text" class="form-control" placeholder="{{ custItemNum }}" aria-label="{{ custItemNum }}" aria-describedby="basic-addon1" readonly>
        </div>
      </li>
      <li class="list-group-item">
        <div class="input-group mb-3">
           <div class="input-group-prepend">
             <span class="input-group-text" id="basic-addon1">Customer Item Description</span>
           </div>
           <input type="text" class="form-control" placeholder="{{ custItemDesc }}" aria-label="{{ custItemDesc }}" aria-describedby="basic-addon1" readonly>
        </div>
      </li>
    </ul>
  </div>
   {% include 'custom/item_form.html' %}
  <div id="table_area">
  </div>
</div>
{% endblock content %}

{% block footer %}

{% endblock footer %}

{% block tail_script %}
    <script>
    // Every table built will return an object of
    // {table_id: <table_id>, dt_table: <datatables obj, path: <jmespath>, dt_editor: <datatables editor obj>}
    // The array will be loaded into an object that will process it and load it in page_tables object
    // This will allow any edited table to back in and understand to which table it belongs
    //
    // Page events will register important information needed for an event that is fired.
    //  for example a new entry is created and we need to know what table this came from
    //
    var item_root_name = "{{ root_name }}";
    var item_root_id = {{ root_id }};

    function imageItemPageHtml(image_url){
    	return '<img src="'+image_url+'"/>';

    }

    function imageItemCallbackLoad(data){
    	imageInformation = data['files'];
    	console.log( "Image Load was performed." );
    	while (imageReloads.length > 0){
    		  var imgNum = imageReloads.pop();
    		  var imgInfo = imageInformation[imgNum];
    		  if (imgInfo !== undefined){
    			  $('div#'+imgNum).empty();
    			  var imgHtml = imageItemPageHtml(imgInfo.web_path);
    			  $('div#'+imgNum).append(imgHtml);
    		  }

    	}
    }

    $(document).ready(function(){
        $('nav.navbar').hide();
    	chkImageLoadCustom(imageItemCallbackLoad);
    	pageData = JSON.parse($('#page_data').text().trim());

    	//$('#item_form').hide();
		$('#page_header').append("<h1>"+pageData.headers[0]+"</h1>");
		$('#page_header').append("<h3>"+pageData.headers[1]+"</h3>");

		//<li class="list-group-item">Dapibus ac facilisis in</li>

		$('#item_form').show();

		var fldSets = $('fieldset');

		$.each(fldSets, function(idx, fldSet){
			var flds = $(fldSet).children('editor-field');
			var grpDiv = document.createElement("div");
			$(grpDiv).addClass('form-group');

			$.each(flds, function(idx2,fld){
				var name = $(fld).attr('name');
				var value = pageData.data.data[name];
				var imageValue = "";
				$(grpDiv).append('<label for="'+name+'">'+createLabel(name)+'</label>');
        if (name === "plant_image"){
          if (Array.isArray(value)){
            // do nothing
          }else{
            value = [value];
          }
        }

                if (Array.isArray(value)){
                   var temp=[]
                   $.each(value, function(i,e){
                      var val = e;
                      if(e.search("\\|")>=0){
                         val = e.split("|").pop();
                      }
                      temp.push(val);
                   });
                   if (name === 'plant_image'){
                       imageValue = '<div>';
                       $.each(temp,function(i,e){
                             if (e === 'Add Image Option' || e === 'undefined' || e === undefined || e === ""){
                               // do nothing... as this image value is empty
                            }else{
                               var imgInfo = getImageInformation(e);
                               if (imgInfo === undefined) {
  				                         imageValue = imageValue + '<div id="' + e + '"><i class="fa fa-spinner fa-spin"></i></div>';
  			                       } else {
  				                         var image_url = imgInfo['image_url'];
  				                         imageValue = imageValue + '<div id="' + e + '"><img src="'+image_url+'"/></div>';
  			                       }
                             }
                       });
                       imageValue = imageValue + '</div>';
                   }else{
                       value = temp.join(",");
                   }
                }

                if (name === 'plant_image'){
                    $(grpDiv).append(imageValue);
                }else{
                    if (isNotNull(value)){
                        value = value.toString().split("|").pop();
                    }
                    var width = 221;
                    if (isNotNull(value)){
                        if (((value.length+1)*10)> width){
                            width = (value.length+1)*10;
                        }
                    }

                   $(grpDiv).append("<input type='text' style='width:"+width+"px;' class='form-control' id='"+name+"' value='"+value+"' readonly>");
                    //$('input#Product_Name').css('width',($('input#CO_Item_Num').val().length+1)*10)
                    //style="color:red;"
                }
			});

			$(fldSet).append(grpDiv);
		  });
    });
	</script>
{% endblock tail_script %}
