<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="{{ config.BASE_APP_HOME }}"><img width="220" height="62" src="/static/img/logo.png" class="attachment-logo-thumbnail size-logo-thumbnail" alt="CO colorchids"></a>
  <a class="navbar-brand" href="{{ config.ITEM_APP_HOME }}">Item Tracking</a>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="{{ config.BASE_APP_HOME }}">Apps Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="appsDropDown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">App Links</a>
        <div class="dropdown-menu" aria-labelledby="appsDropDown">
          <a class="dropdown-item" href="{{ config.ITEM_APP_HOME }}"><strong>Item Tracking: </strong>Home</a>
          <a class="dropdown-item" href="{{ config.ITEM_CUST_TRK }}"><strong>Item Tracking: </strong>Customer Entry</a>
          <a class="dropdown-item" href="{{ config.ITEM_CUST_ITEMS }}"><strong>Item Tracking: </strong>Customer Items</a>
          <a class="dropdown-item" href="{{ config.ITEM_CUST_ORDERS }}"><strong>Item Tracking: </strong>Customer Orders</a>
          <a class="dropdown-item" href="{{ config.ITEM_RESERVES }}"><strong>Item Tracking: </strong>Item Reserves</a>   
          <a class="dropdown-item" href="{{ config.INV_REPORTING }}"><strong>Reporting</strong></a>      
          <a class="dropdown-item" href="{{ config.INV_NEW_HOME }}"><strong>Inventory: </strong>Home</a>
          <a class="dropdown-item" href="{{ config.INV_SUMMARY }}">Inventory Summary</a>
          <a class="dropdown-item" href="{{ config.BASE_APP_HOME }}"><strong>Other Apps: </strong>Color Orchids Apps Home</a>
          <a class="dropdown-item" href="{{ config.ITEMVIEW_APP_HOME }}"><strong>Other Apps: </strong>Item View</a>       
      </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Admin
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="{{ config.ITEM_ADMIN_HOME }}">Admin Home</a>
          <a class="dropdown-item" href="{{ config.ITEM_FIELD_UPDATES }}">Field Updates</a>
          <a class="dropdown-item" href="{{ config.ITEM_OPTION_FIELDS }}">Option Fields</a>
          <a class="dropdown-item" href="{{ config.ITEM_ORDER_EMAIL }}">Order Email Updates</a>
          <a class="dropdown-item" href="{{ config.ITEM_MASTER_ITEMS }}">Update Master Items</a>
          <a class="dropdown-item" href="{{ config.ITEM_ITEM_PUSH }}">Item Push Update</a>
          <a class="dropdown-item" href="{{ config.ITEM_UPLOAD }}">Item <strong>XSLX</strong> Upload</a>
          <a class="dropdown-item" href="{{ config.ITEM_RECIPE_UPDATE }}">Recipe Cost Update</a>
          <a class="dropdown-item" href="{{ config.ITEM_SUPPLIER_UPDATE }}">Supplier Updates</a>
        </div>
      </li>
    </ul>
  </div>
</nav>
<div class="nav-separator"></div>
